<?php
$amc = $this->getAmcComponent();
$customer = $amc['customer'];
$products = $amc['component'];
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>" />
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>
<div class="background-grey">
    <div class="main main-conainer">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("Annual Maintenance<b> Contract(AMC)") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p><?php echo $this->__("For the most valuable product purchased, you could now avail lifetime Annual Maintenance that ensures your product has a lasting life and you have the much-needed peace of mind.") ?></p>
        </div>
        <div class="main-conainer-light-blue">
            <div class="col-lg-12 content-header-common">
                <h3><?php echo $this->__("Benefits") ?><b><?php echo $this->__("of AMC") ?>  </b></h3>
                <div class="header-border-yellow"></div>
            </div>
            <div class="col-lg-12 amc-benfits-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-01.png") ?>">
                    <p><?php echo $this->__("Up to 3 free preventive services in a year and free breakdown services as needed") ?></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-02.png") ?>">
                    <p><?php echo $this->__("Free replacement of consumables such as filters and activated carbon") ?></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-03.png") ?>">
                    <p class="no-border"><?php echo $this->__("Free repair/replacement of wom out or exhausted parts during the contract period") ?></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("AMC in") ?><b><?php echo $this->__(" 4 easy steps") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p> <?php echo $this->__("4 easy steps No lengthy procedures, no signing up forms. Getting your AMC is now just 4 steps away.") ?></p>
        </div>
        <div class="col-lg-12">
            <div class="amc-step-axis-line"></div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-active">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-white-01.png") ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Login</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-02.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">View product</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-03.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Choose AMC</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-04.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Make Payment</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container">
            <div class="product-collateral">

                <div class="product-collateral">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <?php foreach ($products as $product) { ?>
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><?php echo $product['PRODUCT_ID']; ?></a></li>
                        <?php } ?>
                    </ul>
                    <div class="tab-content">
                        <?php foreach ($products as $product) { ?>
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <h4 class="amc-account-details"><?php echo $this->__("Your Account details") ?></h4>
                                <div class="col-md-6 amc-account-details-container1">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Customer Code") ?></td>
                                                    <td><?php echo $customer['CUSTOMER']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Full Name") ?> </td>
                                                    <td><?php echo $customer['FIRSTNAME'] . ' ' . $customer['LASTNAME']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Landline") ?> </td>
                                                    <td><?php echo $customer['LANDLINE']; ?> </td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Email") ?> </td>
                                                    <td><?php echo $customer['EMAIL']; ?>  <?php /* <a class="update-btn" href="#">Update</a> */ ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Mobile No") ?>  </td>
                                                    <td><?php echo $customer['MOBILE']; ?> <?php /* <a class="update-btn" href="#">Update</a> */ ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 amc-account-details-container2">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Address") ?></td>
                                                    <td><?php echo $customer['HOUSENO'] . ',' . $customer['HOUSENO'] . ',' . $customer['STREET1'] . ',' . $customer['STREET2'] . ',' . $customer['STREET3'] . ',' . $customer['STREET4']; ?> </td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("City") ?></td>
                                                    <td><?php echo $customer['CITY']; ?> </td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Region") ?></td>
                                                    <td><?php echo $customer['REGION']; ?> </td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Country") ?></td>
                                                    <td><?php echo $customer['COUNTRY']; ?> </td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Pincode") ?></td>
                                                    <td><?php echo $customer['PINCODE']; ?> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h4 class="amc-product-details"><?php echo $this->__("Your Product Details") ?></h4>

                                <div class="col-md-6 amc-account-details-container1">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Component Number") ?> </td>
                                                    <td><?php echo $product['COMPONENT_ID']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Product Code") ?></td>
                                                    <td><?php echo $product['PRODUCT_ID']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Product Description") ?></td>
                                                    <td><?php echo $product['PRODUCT_DESCRIPT']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Located At") ?></td>
                                                    <td><?php echo $product['LOCATED_AT']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Serial No") ?></td>
                                                    <td><?php echo $product['SERIAL_NUMBER']; ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 amc-account-details-container2">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC Renewal Date") ?></td>
                                                    <td><?php echo date('d/m/Y', strtotime($product['VALID_TO'])); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC Start Date") ?></td>
                                                    <td><?php echo date('d/m/Y', strtotime($product['VALID_FROM'])); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC END Date") ?></td>
                                                    <td><?php echo date('d/m/Y', strtotime($product['VALID_TO'])); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Online AMC Creation Possible From") ?></td>
                                                    <td><?php echo date('d/m/Y', strtotime($product['VALID_TO'])); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Online AMC Creation Possible Today") ?></td>
                                                    <td><?php echo "Y"; ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <form action="<?php echo $this->getOptionFormUrl(); ?>" id="contactForm" method="post">
                                    <input type="text" name="I_MPROD" value="<?php echo $product['PRODUCT_ID']; ?>" style="display:none!important;" />
                                    <input type="text" name="I_CUSTOMER" value="<?php echo $customer['CUSTOMER']; ?>" style="display:none!important;" />
                                    <input type="text" name="I_COMPONENTID" value="<?php echo $product['COMPONENT_ID']; ?>" style="display:none!important;" />
                                    <div class="amc-product-btn-wrapper">
                                        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('sap')->__('View AMC options'))
                            ?>" class="common-btn-yellow amc-btn-move-right"><span><span><?php echo Mage::helper('sap')->__('View AMC options') ?></span></span></button>
                                    </div>
                                </form>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>