<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>" />
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC</strong>
        </li>
    </ul>
</div>


<div class="background-grey">
    <div class="main main-conainer">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("Annual Maintenance<b> Contract(AMC)") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p><?php echo $this->__("For the most valuable product purchased, you could now avail lifetime Annual Maintenance that ensures your product has a lasting life and you have the much-needed peace of mind.") ?></p>
        </div>
        <div class="main-conainer-light-blue">
            <div class="col-lg-12 content-header-common">
                <h3><?php echo $this->__("Benefits") ?><b><?php echo $this->__("of AMC") ?>  </b></h3>
                <div class="header-border-yellow"></div>
            </div>
            <div class="col-lg-12 amc-benfits-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-01.png") ?>">
                    <p><?php echo $this->__("Up to 3 free preventive services in a year and free breakdown services as needed") ?></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-02.png") ?>">
                    <p><?php echo $this->__("Free replacement of consumables such as filters and activated carbon") ?></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-03.png") ?>">
                    <p class="no-border"><?php echo $this->__("Free repair/replacement of wom out or exhausted parts during the contract period") ?></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("AMC in") ?><b><?php echo $this->__(" 4 easy steps") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p> <?php echo $this->__("4 easy steps No lengthy procedures, no signing up forms. Getting your AMC is now just 4 steps away.") ?></p>
        </div>
        <div class="col-lg-12">
            <div class="amc-step-axis-line"></div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-active">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-white-01.png") ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Login</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-02.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">View product</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-03.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Choose AMC</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-04.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Make Payment</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container">

            <div class="col-md-8 col-sm-12">
                <p class="amc-login-p">Login to your account using your registered mobile number or email id</p>
                <div id="amc-login-form-wrapper">

                    <div id="hmb-radio-container-2">
                        <input id="redioType" width="30" class="hmb-radio-btn" type="radio" name="logintype" value="mobile" checked>
                        <label class="amc-radio-lable"><?php echo $this->__("Mobile") ?></label>
                    </div>
                    <div id="hmb-radio-container-2">
                        <input id="redioType" class="hmb-radio-btn" type="radio" name="logintype" value="email" >
                        <label class="amc-radio-lable"><?php echo $this->__("Email") ?></label>
                    </div>
                </div>
                <div id="mobile" class="amc-form-container">
                    <form action="<?php echo $this->getLoginPostUrl(); ?>" id="amcLofinForm" method="post">
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <input name="mobile" class="input-box-height  required-entry validate-number" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('sap')->__('Mobile')) ?>"></input>
                        <label class="fly hmb-lable"><?php echo $this->__("Enter Your Number"); ?></label>

                        <div class="amc-btn-wrapper">

                            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('sap')->__('Submit')) ?>" class="common-btn-yellow hmb-btn-move-right amc-yellow-btn"><?php echo $this->__("Submit"); ?></button>


                        </div>
                    </form>
                </div>

                <div id="email" class="amc-form-container">
                    <form action="<?php echo $this->getLoginPostUrl(); ?>" id="amcLofinForm" method="post">
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <input name="email" class="input-box-height required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('sap')->__('Mobile')) ?>"></input>
                        <label class="fly hmb-lable"><?php echo $this->__("Enter Your Email"); ?></label>
                        <div class="amc-btn-wrapper">
                            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('sap')->__('Submit')) ?>" class="common-btn-yellow hmb-btn-move-right amc-yellow-btn"><?php echo $this->__("Submit"); ?></button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-4 col-sm-12 amc-login-info-container">
                <p>For any assistance </br>you can reach us on</br> <b>022-30454001</b></p>
            </div>

        </div>
    </div>
    <div id="loginModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p><?php echo $this->__("Record could not be found !! Alternatively you can share your details with us.We will verify and get back to you soon for further processing."); ?></p>
                </div>
                <div class="modal-footer">
                    <button id="rdirectToWebLead" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <?php
    $mobileno = '';
    if (Mage::getSingleton('core/session')->getData('entered_mobileno'))
        $mobileno = Mage::getSingleton('core/session')->getData('entered_mobileno');
    ?>
    <script type="text/javascript">
        //<![CDATA[
        var contactForm = new VarienForm('amcLofinForm', true);
        //]]>

        // Redirecting to web lead page
        jQuery(document).ready(function () {

            var flag = '<?php echo $this->getRequest()->getParam('DB'); ?>';
            if (flag == 1) {
                jQuery("#loginModal").modal('show');
                jQuery(document).on("click", "#rdirectToWebLead", function (event) {
                    window.location.href = '<?php echo Mage::getUrl('customer-service/amc/amclead'); ?>';
                });
            }

            // chnage login input type
            jQuery('#email').hide();
            jQuery('input[type=radio]').change(function () {
                if (jQuery(this).is(":checked")) { // check if the radio is checked
                    var val = jQuery(this).val(); // retrieve the value
                    if (val === 'email') {
                        jQuery('#mobile').hide();
                        jQuery('#email').show();
                    } else {
                        jQuery('#email').hide();
                        jQuery('#mobile').show();
                    }
                }
            });

        });
    </script>

