<?php
$amcOptions = $this->getAMCOptions();
$data = Mage::getSingleton('sap/session')->getData();
$customer = $data['customer_comp']['customer'];
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>" />
</div>
<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="background-grey">
    <div class="main main-conainer">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("Annual Maintenance<b> Contract(AMC)") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p><?php echo $this->__("For the most valuable product purchased, you could now avail lifetime Annual Maintenance that ensures your product has a lasting life and you have the much-needed peace of mind.") ?></p>
        </div>
        <div class="main-conainer-light-blue">
            <div class="col-lg-12 content-header-common">
                <h3><?php echo $this->__("Benefits") ?><b><?php echo $this->__("of AMC") ?>  </b></h3>
                <div class="header-border-yellow"></div>
            </div>
            <div class="col-lg-12 amc-benfits-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-01.png") ?>">
                    <p><?php echo $this->__("Up to 3 free preventive services in a year and free breakdown services as needed") ?></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-02.png") ?>">
                    <p><?php echo $this->__("Free replacement of consumables such as filters and activated carbon") ?></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-03.png") ?>">
                    <p class="no-border"><?php echo $this->__("Free repair/replacement of wom out or exhausted parts during the contract period") ?></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("AMC in") ?><b><?php echo $this->__(" 4 easy steps") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p> <?php echo $this->__("4 easy steps No lengthy procedures, no signing up forms. Getting your AMC is now just 4 steps away.") ?></p>
        </div>
        <div class="col-lg-12">
            <div class="amc-step-axis-line"></div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-active">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-white-01.png") ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Login</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-02.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">View product</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-03.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Choose AMC</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-04.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Make Payment</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container">
            <div class="product-collateral amc-component-details-wrapper">
                <h4 class="amc-product-details amc-component-details">Component AMC Details</h4>
                <div class="col-md-6 amc-account-details-container1">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Customer Code") ?></td>
                                    <td><?php echo $customer['CUSTOMER']; ?></td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Full Name") ?> </td>
                                    <td><?php echo $customer['FIRSTNAME'] . ' ' . $customer['LASTNAME']; ?></td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Landline") ?> </td>
                                    <td><?php echo $customer['LANDLINE']; ?> </td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Email") ?> </td>
                                    <td><?php echo $customer['EMAIL']; ?>  <a class="update-btn" href="#">Update</a></td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Mobile No") ?>  </td>
                                    <td><?php echo $customer['MOBILE']; ?>  <a class="update-btn" href="#">Update</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 amc-account-details-container2">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Address") ?></td>
                                    <td><?php echo $customer['HOUSENO'] . ',' . $customer['HOUSENO'] . ',' . $customer['STREET1'] . ',' . $customer['STREET2'] . ',' . $customer['STREET3'] . ',' . $customer['STREET4']; ?> </td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("City") ?></td>
                                    <td><?php echo $customer['CITY']; ?> </td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Region") ?></td>
                                    <td><?php echo $customer['REGION']; ?> </td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Country") ?></td>
                                    <td><?php echo $customer['COUNTRY']; ?> </td>
                                </tr>
                                <tr>
                                    <td class="color-grey"><?php echo $this->__("Pincode") ?></td>
                                    <td><?php echo $customer['PINCODE']; ?> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="product-collateral price-cards-container">
                <h4 class="amc-product-details amc-option"><?php echo $this->__("Component AMC Details"); ?></h4>
                <?php foreach ($amcOptions as $option) { ?>
                    <div class="col-md-3 available-amc">
                        <div class="available-amc-header">
                            <p> <?php echo $option['PROD_DESC']; ?> </p>
                            <h4><?php echo $option['CATEGORY']; ?></h4>
                        </div>
                        <div class="available-amc-content">
                            <p> <?php echo $this->__("Contract Duration") ?></p>
                            <h4><?php echo $this->__("%s Months", $option['CONT_DURATN']); ?></h4>
                        </div>
                        <div class="available-amc-content">
                            <p> <?php echo $this->__("Price"); ?> </p>
                            <h4>Rs.<?php echo $option['PRICE']; ?></h4>
                        </div>
                        <div class="available-amc-content">
                            <p> <?php echo $this->__("Discount"); ?> </p>
                            <h4>Rs.<?php echo $option['DISCOUNT']; ?></h4>
                        </div>
                        <div class="available-amc-content amount-payable">
                            <p> <?php echo $this->__("Amount-payable") ?></p>
                            <h4>Rs.<?php echo number_format($option['PRICE'] - $option['DISCOUNT'], 2); ?></h4>
                        </div>
                        <form name="compOptions" method="post" action="<?php echo $this->getPaymentFormUrl() ?>">
                            <input  type="hidden" name="MPRODUCT" value="<?php echo $option['MPRODUCT']; ?> "/>
                            <input  type="hidden" name="AMC_PROD" value="<?php echo $option['AMC_PROD']; ?>"/>
                            <input  type="hidden" name="PROD_DESC" value="<?php echo $option['PROD_DESC']; ?>"/>
                            <input  type="hidden" name="PRICE" value="<?php echo $option['PRICE']; ?>"/>
                            <input  type="hidden" name="DISCOUNT" value="<?php echo $option['DISCOUNT']; ?>"/>
                            <div class="available-amc-btn">
                                <button type="submit" title="BUY NOW" class="common-btn-yellow amc-option-btn"><span><span><?php echo $this->__("Buy Now"); ?></span></span></button>
                            </div>
                        </form>
                    </div>
                <?php } ?>
            </div>
            <div class="product-collateral price-cards-container disclaimer-par">
                <p class="color-grey"><b>Disclaimer:</b> Online purchase of AMC is subject to physical verification of the unit by an authorized Eureka Forbes technician. Eureka Forbes reserves the right to cancel the online AMC and refund the amount.</p>
                <p class="color-grey">By purchasing/renewing the AMC on the web, I agree to the terms and conditions of the Service Contract.  <a>Click here</a> to view the terms and conditions.</p>
            </div>
        </div>
    </div>

</div>

