
<?php $info = Mage::getSingleton('sap/session')->getData(); ?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>" />
</div>
<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>


<div class="background-grey">
    <div class="main main-conainer">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("Annual Maintenance<b> Contract(AMC)") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p><?php echo $this->__("For the most valuable product purchased, you could now avail lifetime Annual Maintenance that ensures your product has a lasting life and you have the much-needed peace of mind.") ?></p>
        </div>
        <div class="main-conainer-light-blue">
            <div class="col-lg-12 content-header-common">
                <h3><?php echo $this->__("Benefits") ?><b><?php echo $this->__("of AMC") ?>  </b></h3>
                <div class="header-border-yellow"></div>
            </div>
            <div class="col-lg-12 amc-benfits-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-01.png") ?>">
                    <p><?php echo $this->__("Up to 3 free preventive services in a year and free breakdown services as needed") ?></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-02.png") ?>">
                    <p><?php echo $this->__("Free replacement of consumables such as filters and activated carbon") ?></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-03.png") ?>">
                    <p class="no-border"><?php echo $this->__("Free repair/replacement of wom out or exhausted parts during the contract period") ?></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("AMC in") ?><b><?php echo $this->__(" 4 easy steps") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p> <?php echo $this->__("4 easy steps No lengthy procedures, no signing up forms. Getting your AMC is now just 4 steps away.") ?></p>
        </div>
        <div class="col-lg-12">
            <div class="amc-step-axis-line"></div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-active">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-white-01.png") ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Login</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-02.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">View product</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-03.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Choose AMC</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 step-default">
                <img src="<?php echo $this->getSkinUrl("images/amc-step-grey-04.png") ?>" class="amc-step-icon">
                <p class="amc-step-content">Make Payment</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container">
            <div class="product-collateral amc-component-details-wrapper">
                <div class="col-lg-12 content-header-common">
                    <h3>Select your <b>payment options</b></h3>
                    <div class="header-border-yellow"></div>
                </div>
                <h4 class="amc-product-details payment-option">Component AMC Details</h4>
                <div class="col-lg-12 amc-details-col">
                    <div class="table-responsive amc-details-container">
                        <table class="table table-striped amc-details-wrapper">
                            <tbody>
                                <tr>
                                    <td class="amc-details-header"><?php echo $this->__("AMC Product"); ?></td>
                                    <td class="amc-details-header"><?php echo $this->__("Category"); ?></td>
                                    <td class="amc-details-header"><?php echo $this->__("Duration"); ?></td>
                                    <td class="amc-details-header"><?php echo $this->__("Price"); ?></td>
                                    <th class="amc-details-header"><?php echo $this->__("Discount"); ?></th>
                                    <th class="amc-details-header"><?php echo $this->__("Amount Payble"); ?></th>
                                </tr>
                                <tr>
                                    <td class="amc-details-content"><?php echo $info['selected_item']['PROD_DESC']; ?></td>
                                    <td class="amc-details-content"><?php echo $info['selected_item']['CATEGORY']; ?></td>
                                    <td class="amc-details-content"><?php echo $this->__('%s Months', $info['selected_item']['CONT_DURATN']); ?></td>
                                    <td class="amc-details-content">Rs.<?php echo $info['selected_item']['PRICE']; ?></td>
                                    <td class="amc-details-content">Rs.<?php echo $info['selected_item']['DISCOUNT']; ?></td>
                                    <td class="amc-details-content-red">Rs.<?php echo number_format($info['selected_item']['PRICE'] - $info['selected_item']['PROD_DESC'], 2); ?></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form id="amc-login-form-wrapper" method='POST' action="<?php echo $this->getMakePaymentFormUrl(); ?>">
                <div class="payment-main-container">
                    <div id="payment-inner-container">
                        <input width="30" class="hmb-radio-btn" type="radio" name="pg" value="NB" id="one" checked="">
                        <img class="payment-icon" src="<?php echo $this->getSkinUrl('images/payment-01.png') ?>">
                        <label class="amc-radio-lable grey-text"><?php echo $this->__("Net Banking") ?></label>
                    </div>
                </div>
                <div class="payment-main-container">
                    <div id="payment-inner-container">
                        <input class="hmb-radio-btn" type="radio" name="pg" value="CC" id="two">
                        <img class="payment-icon" src="<?php echo $this->getSkinUrl('images/payment-02.png') ?>">
                        <label class="amc-radio-lable grey-text"><?php echo $this->__("Credit Card") ?> </label>
                    </div>
                </div>
                <div class="payment-main-container">
                    <div id="payment-inner-container">
                        <input class="hmb-radio-btn" type="radio" name="pg" value="DC" id="two">
                        <img class="payment-icon" src="<?php echo $this->getSkinUrl('images/payment-03.png') ?>">
                        <label class="amc-radio-lable grey-text"><?php echo $this->__("Debit Card") ?>  </label>
                    </div>
                </div>

                <div class="available-amc-btn">
                    <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('sap')->__('Proceed to Payment'))
?>" class="common-btn-yellow proceed-to-pay"><span><span><?php echo $this->__("Proceed to Payment") ?>  </span></span></button>
                   
                </div>
            </form>
            <p class="payment-for-assistance"><?php echo $this->__("For any assistance you can reach us on <b>022-30454001</b>") ?></p>
        </div>
    </div>

</div>

