<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>" />
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC</strong>
        </li>
    </ul>
</div>


<div class="background-grey">
    <div class="main main-conainer">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("Annual Maintenance<b> Contract(AMC)") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p><?php echo $this->__("For the most valuable product purchased, you could now avail lifetime Annual Maintenance that ensures your product has a lasting life and you have the much-needed peace of mind.") ?></p>
        </div>
        <div class="main-conainer-light-blue">
            <div class="col-lg-12 content-header-common">
                <h3><?php echo $this->__("Benefits") ?><b><?php echo $this->__("of AMC") ?>  </b></h3>
                <div class="header-border-yellow"></div>
            </div>
            <div class="col-lg-12 amc-benfits-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-01.png") ?>">
                    <p><?php echo $this->__("Up to 3 free preventive services in a year and free breakdown services as needed") ?></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-02.png") ?>">
                    <p><?php echo $this->__("Free replacement of consumables such as filters and activated carbon") ?></p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 amc-benfits">
                    <img src="<?php echo $this->getSkinUrl("images/amc-benfit-icon-03.png") ?>">
                    <p class="no-border"><?php echo $this->__("Free repair/replacement of wom out or exhausted parts during the contract period") ?></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3><?php echo $this->__("Create Your") ?><b><?php echo $this->__(" AMC Request") ?></b></h3>
            <div class="header-border-yellow"></div>
            <p> <?php echo $this->__("4 easy steps No lengthy procedures, no signing up forms. Getting your AMC is now just 4 steps away.") ?></p>
        </div>
        <div class="col-lg-12 amc-login-container">
            <div class="product-collateral amc-component-details-wrapper">
                <div class="col-lg-12 content-header-common"></div>
            </div>
            <form action="<?php echo $this->getWebleadFormUrl(); ?>" id="webleadForm" method="post">
                
                <div class="col-lg-12">
                    <div class="update-details-form">
                        <div class="col-lg-6 padding-RL-5 input-margin">
                            <div class="btn-group col-md-4 drop-down-sirname">
                                <select name="I_TITLE" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value="Mrs">Mrs</option>                                    
                                    <option value="Mr">Mr</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Miss">Miss</option>                                    
                                </select>
                            </div>
                            <div class="col-md-8 input-name">
                                <div class="form-textbox">
                                    <input name="I_FNAME" value="" class="input-box-height input-box-100 required-entry" >
                                    <label class="fly hmb-lable">Enter your First Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_LNAME" value="" class="input-box-height input-box-100 required-entry">
                                <label class="fly hmb-lable">Enter your Last Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_EMAIL" value="" class="input-box-height input-box-100 required-entry validate-email">
                                <label class="fly hmb-lable">Enter your Email ID</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">


                            <input name="I_MOBILE" value="" class="input-box-height input-box-100 required-entry">
                            <label class="fly hmb-lable">Enter your Mobile Number</label>


                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_LANDLINE" value="" class="input-box-height input-box-100 required-entry">
                                <label class="fly hmb-lable">Enter your Landline Number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_DOORNO" value="" class="input-box-height input-box-100 required-entry">
                                <label class="fly hmb-lable">Enter your Door Number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_ADDR1" value="" class="input-box-height input-box-100 required-entry">
                                <label class="fly hmb-lable">Address One</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_ADDR2" value="" class="input-box-height input-box-100 required-entry">
                                <label class="fly hmb-lable">Address Two</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_LANDMARK" value="" class="input-box-height input-box-100 required-entry">
                                <label class="fly hmb-lable">Near by Landmark</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <?php
                                $states = Mage::getModel('directory/region')->getResourceCollection()
                                        ->addCountryFilter('IN')
                                        ->load();

                                //Zend_Debug::dump($collection->getData());
                                ?>
                                <select name="I_STATE" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value=""><?php echo $this->__("Select State"); ?></option>
                                    <?php foreach ($states as $state) { ?>
                                        <option value="<?php echo $state->getCode() ?>"><?php echo $state->getName(); ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <select name="I_CITY" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Bengaluru">Bengaluru</option>
                                    <option value="Ahmedabad">Ahmedabad</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Kolkata">Kolkata</option>
                                    <option value="Pune">Pune</option>
                                    <option value="Jaipur">Jaipur</option>
                                    <option value="Surat">Surat</option>
                                    <option value="Lucknow">Lucknow</option>
                                    <option value="Kanpur">Kanpur</option>
                                    <option value="Nagpur">Nagpur</option>
                                    <option value="Patna">Patna</option>
                                    <option value="Indore">Indore</option>
                                    <option value="Thane">Thane</option>
                                    <option value="Bhopal">Bhopal</option>
                                    <option value="Visakhapatnam">Visakhapatnam</option>
                                    <option value="Vadodara">Vadodara</option>
                                    <option value="Firozabad">Firozabad</option>
                                    <option value="Ludhiana">Ludhiana</option>
                                    <option value="Rajkot">Rajkot</option>
                                    <option value="Agra">Agra</option>
                                    <option value="Siliguri">Siliguri</option>
                                    <option value="Nashik">Nashik</option>
                                    <option value="Faridabad">Faridabad</option>
                                    <option value="Patiala">Patiala</option>
                                    <option value="Meerut">Meerut</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input name="I_PINCODE" value=""  class="input-box-height input-box-100 required-entry" >
                                <label class="fly hmb-lable">Enter Pincode</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="update-detailts-sub-btn">
                    <button type="submit" class="common-btn-yellow proceed-to-pay"><?php echo $this->__("Submit Details"); ?></button>

                </div>
            </form>
        </div>
    </div>


    <script type="text/javascript">
        //<![CDATA[
        var webleadForm = new VarienForm('webleadForm', true);
        //]]>
    </script>
