<?php
//echo get_class($this);
/* $model = Mage::getModel('adminfaq/adminfaq');
  $collection = $model->getCollection()->addFieldToFilter('status',1)->setOrder('id','ASC');
  foreach($collection as $each){
  echo "<pre>";
  print_r($each->getData());
  echo "</pre>";
  } */
?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="heading"><h3><?php echo $this->__("FREQUENTLY ASKED QUESTIONS") ?></h3></div>
<div class="bs-example">
    <ul class="nav nav-tabs">
        <?php $categoriedids = Mage::helper('adminfaq')->getAllCategoriesArray(true); ?>
        <?php $k = 0;
        foreach ($categoriedids as $categoryId => $category): $k++;
            ?>
            <li <?php if ($k == 1) { ?>class="active"<?php } ?> ><a data-toggle="tab" href="#section<?php echo $k; ?>"><?php echo $category['label']; ?></a></li>
        <?php endforeach; ?> 
    </ul>
    <div class="tab-content">
        <?php
        $p = 0;
        foreach ($categoriedids as $categoryId => $category):$p++;

            $model = Mage::getModel('adminfaq/adminfaq');
            $collection = $model->getCollection()->addFieldToFilter('status', 1)->addFieldToFilter('type', $categoryId)->setOrder('id', 'ASC');
            ?>
            <div id="section<?php echo $p; ?>" <?php if ($p == 1) { ?>class="tab-pane fade in active"<?php } else { ?>class="tab-pane fade" <?php } ?>>
                <h3><?php //echo $category['label'];   ?></h3>


                <div id="accordion<?php echo $p; ?>" class="panel-group">
                    <?php $i = 0;
                    foreach ($collection as $data): $i++;
                        ?>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion<?php echo $p; ?>" href="#collapseOne<?php echo $i . $p; ?>"><?php echo $i . '.'; ?> <?php echo $this->__($data['questions']) ?></a>
                                </h4>
                            </div>
                            <div id="collapseOne<?php echo $i . $p; ?>" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><?php echo $this->__($data['answers']) ?></p>
                                </div>
                            </div>
                        </div>
            <?php endforeach; ?> 
                </div> </div>
<?php endforeach; ?> 

    </div>

</div>
<?php /* ?>
  <div class="clear"></div>
  <div class="faq_question">
  <p class="question">Did not find an answer to your questions? Please fill in the pop up form and we will get back to you shortly.</p>
  <p class="question"><a href="javascript:void(0)" >ASK A QUESTION</a></p>
  <div class="clear"></div>
  <div class="faq-new-quest" style="display:none;">
  <form role="form" id="faq_form" name="faq_form" action="<?php echo $this->getUrl('faq/index/faqpost'); ?>"
  method="post">
  <div class="form-group">
  <label for="InputName"><?php echo Mage::helper('contacts')->__('Name') ?><span class="red">*</span></label>
  <input type="text" placeholder="Your Name" name="name" class="form-control required-entry input-text" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>">
  </div>
  <div class="form-group">
  <label for="InputEmail"><?php echo Mage::helper('contacts')->__('Email Address') ?><span class="red">*</span></label>
  <input type="email" placeholder="Email" name="email" class="form-control required-entry input-text" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>">
  </div>
  <div class="form-group">
  <label for="InputComment"><?php echo Mage::helper('contacts')->__('Questions?') ?><span class="red">*</span></label>
  <textarea placeholder="Comment" name="comment" class="form-control required-entry input-text"></textarea>
  </div>
  <div class="form-group">
  <?php //echo $this->getChildHtml('form.additional.info'); ?>
  </div>
  <button class="question-btn" type="submit" style="width:100%;margin-top:15px;">Submit</button>
  </form>
  <div class="clear"></div>
  <div class="clear"></div>
  </div>
  </div>

  <script type="text/javascript">
  //<![CDATA[
  var contactForm = new VarienForm('faq_form', true);
  //]]>
  </script>
  <?php */ ?>