<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:sap-com:document:sap:soap:functions:mc-style">
    <soapenv:Header/>
    <soapenv:Body>
        <urn:ZEcTransactionCreate>
            <!--Optional:-->
            <CollectionInfo>
                <Customer>1000003</Customer>
                <CustCreditAmt>19961.00</CustCreditAmt>
                <AuthorisnNo>528967</AuthorisnNo>
                <CcBank>F</CcBank>
            </CollectionInfo>
            <!--Optional:-->
            <CustomerInfo>
                <!--Zero or more repetitions:-->
                <item>
                    <CustomerInfo>
                        <CustomerCode>1000003</CustomerCode>
                        <DistributionChannel>NA</DistributionChannel>
                        <Title>Supravat Mondal</Title>
                        <Name>Supravat Mondal</Name>
                        <HouseNumber>24, 2nd Floor</HouseNumber>
                        <Street>24, 2nd Floor</Street>
                        <Street2>Vasanth Nagar</Street2>
                        <Street3>Hundai Showroom</Street3>
                        <CountryCode>IN</CountryCode>
                        <City>Bengalore</City>
                        <Region>Karnataka</Region>
                        <PostalCode>560052</PostalCode>
                        <PaymentType>F</PaymentType>
                        <EmployeeCode>''</EmployeeCode>
                        <AuthorisnNo>528967</AuthorisnNo>
                        <TransactionId>134528967</TransactionId>
                    </CustomerInfo>
                    <CustomerContactInfo>
                        <!--Zero or more repetitions:-->
                        <item>
                            <Contact>supravat.mondal@ivistasolutions.com</Contact>
                            <ContactType>E</ContactType>
                        </item>
                    </CustomerContactInfo>
                </item>
            </CustomerInfo>
            <!--Optional:-->
            <SalesOrderInfo>
                <SoldToParty>1000003</SoldToParty>
                <ShipToParty>1000003</ShipToParty>
                <EmployeeCode>''</EmployeeCode>
                <TransactionId>134528967</TransactionId>
                <TransactionDate>2016-04-12</TransactionDate>
                <TransactionTime>18:50:33</TransactionTime>
                <PaymentType>F</PaymentType>
                <ItemDetails>
                    <!--Zero or more repetitions:-->
                    <item>
                        <Material>Eureka Forbes Aquaguard</Material>
                        <Quantity>1</Quantity>
                        <FocFlag>''</FocFlag>
                        <BuyBackInd>''</BuyBackInd>
                        <EflMatInd>''</EflMatInd>
                        <CouponDiscount>
                            <DiscountType>''</DiscountType>
                            <Amount>''</Amount>
                            <Description>''</Description>
                            <CouponCode>''</CouponCode>
                            <CouponDesc>''</CouponDesc>
                            <CouponRate>''</CouponRate>
                        </CouponDiscount>
                        <Discount2>
                            <DiscountType>''</DiscountType>
                            <Amount>''</Amount>
                            <Description>''</Description>
                            <CouponCode>''</CouponCode>
                            <CouponDesc>''</CouponDesc>
                            <CouponRate>''</CouponRate>
                        </Discount2>
                        <Discount3>
                            <DiscountType>''</DiscountType>
                            <Amount>''</Amount>
                            <Description>''</Description>
                            <CouponCode>''</CouponCode>
                            <CouponDesc>''</CouponDesc>
                            <CouponRate>''</CouponRate>
                        </Discount3>
                        <Discount4>
                            <DiscountType>''</DiscountType>
                            <Amount>''</Amount>
                            <Description>''</Description>
                            <CouponCode>''</CouponCode>
                            <CouponDesc>''</CouponDesc>
                            <CouponRate>''</CouponRate>
                        </Discount4>
                    </item>
                </ItemDetails>
                <EuroFriend>''</EuroFriend>
                <BuyBackInd>''</BuyBackInd>
            </SalesOrderInfo>
            <!--Optional:-->
            <Source>W</Source>
        </urn:ZEcTransactionCreate>
    </soapenv:Body>
</soapenv:Envelope>