
<?php
$customer = $this->getLogCustomer();
$components = $this->getLogCustomerComp();
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3>Log a Service<b> Request</b></h3>
            <div class="header-border-yellow"></div>
            <p>Kindly enter the mobile number which is registered with us.
                You will be asked to give a missed call to login into the system soon.</p>
        </div>
        <div class="col-lg-12">
            <div class="service-step-axis-line"></div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-default">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-white-01.png') ?>" class="amc-step-icon">
                <p class="amc-step-content">Login</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-active">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-02.png') ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Choose product</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-default">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-03.png') ?> " class="amc-step-icon">
                <p class="amc-step-content">Book Request</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container">
            <div class="product-collateral">

                <div class="product-collateral">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <?php foreach ($components as $component) { ?>
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><?php echo $component->getProductId(); ?></a></li>
                        <?php } ?>
                    </ul>

                    <div class="tab-content">
                        <?php foreach ($components as $component) { ?>
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <a href="<?php echo Mage::getUrl('customer-service/request/update_account'); ?>" class="edit-btn-service"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                <h4 class="amc-account-details">Your Account details</h4>
                                <div class="col-md-6 amc-account-details-container1">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Customer Code"); ?></td>
                                                    <td><?php echo $customer->getCustomerCode() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Customer Name"); ?></td>
                                                    <td><?php echo $customer->getFirstName() . ' ' . $customer->getLastName() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Landline"); ?></td>
                                                    <td><?php echo $customer->getLandLine() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Email"); ?></td>
                                                    <td><?php echo $customer->getEmail() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Mobile No"); ?></td>
                                                    <td><?php echo $customer->getMobile() ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 amc-account-details-container2">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Address"); ?></td>
                                                    <td><?php echo $customer->getAddress() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("City"); ?></td>
                                                    <td><?php echo $customer->getCity() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Region"); ?></td>
                                                    <td><?php echo $customer->getRegion() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Country"); ?></td>
                                                    <td><?php echo $customer->getCountry() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Pincode"); ?></td>
                                                    <td><?php echo $customer->getPincode() ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <a href="<?php echo Mage::getUrl('customer-service/request/service_change', ['compid' => $component->getComponentId()]); ?>" class="edit-btn-service-product"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                <h4 class="amc-product-details">Your Product Details</h4>
                                <div class="col-md-6 amc-account-details-container1">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Component Number"); ?></td>
                                                    <td><?php echo $component->getComponentId() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Product Code"); ?></td>
                                                    <td><?php echo $component->getProductId() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Product Description"); ?></td>
                                                    <td><?php echo $component->getProductDescription() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("Located At"); ?></td>
                                                    <td><?php echo $component->getLocatedAt() ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC STATUS"); ?></td>
                                                    <td><?php echo $component->getContractStatus() ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 amc-account-details-container2">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC Renewal"); ?></td>
                                                    <td><?php echo $component->getValidFrom(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC Start Date"); ?></td>
                                                    <td><?php echo $component->getValidFrom(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey"><?php echo $this->__("AMC End Date"); ?></td>
                                                    <td><?php echo $component->getValidTo() ?> </td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey">&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="color-grey">&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <form action="<?php echo Mage::getUrl('customer-service/request/book_your_request'); ?>" method="post">
                                    <input type="hidden" name="customer_code" value="<?php echo $customer->getCustomerCode() ?>">
                                    <input type="hidden" name="product_code" value="<?php echo $component->getProductId() ?>">
                                    <input type="hidden" name="product_description" value="<?php echo $component->getProductDescription() ?>">
                                    <input type="hidden" name="bussiness_patner" value="<?php echo $customer->getServicebp() ?>">
                                    <input type="hidden" name="contract_no" value="<?php echo $component->getContractNumber() ?>">
                                    <input type="hidden" name="ib_base" value="<?php echo $component->getIBase() ?>">
                                    <input type="hidden" name="ib_instance" value="<?php echo $component->getComponentId(); ?>">

                                    <div class="amc-product-btn-wrapper">
                                        <button type="submit" class="common-btn-yellow amc-btn-move-right"><?php echo $this->__("Log Your Service Request"); ?></button>
                                    </div>
                                </form>
                            </div>
                        <?php } ?>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div id="modal1234556" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><?php echo $this->__("Record could not be found !! Alternatively you can share your details with us.We will verify and get back to you soon for further processing."); ?></p>
            </div>
            <div class="modal-footer">
                <button id="rdirectToWebLead" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    // Redirecting to web lead page
    jQuery(document).ready(function () {

        var flag = '<?php echo $this->getRequest()->getParam('redirect'); ?>';
        if (flag == 'acc') {
            jQuery("#modal1234556").modal('show');
            jQuery(document).on("click", "#rdirectToWebLead", function (event) {
                window.location.href = '<?php echo Mage::getUrl('customer-service/request/nondb'); ?>';
            });
        }
    });
</script>