<?php
$customer = $this->getLogCustomer();
$components = $this->getLogCustomerComp();
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3>Log a Service <b> Request</b></h3>
            <div class="header-border-yellow"></div>
            <p>Kindly enter the mobile number which is registered with us.
                You will be asked to give a missed call to login into the system soon.</p>
        </div>
        <div class="col-lg-12">
            <div class="service-step-axis-line"></div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-default">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-white-01.png'); ?>" class="amc-step-icon">
                <p class="amc-step-content">Login</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-default">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-02.png'); ?>" class="amc-step-icon">
                <p class="amc-step-content">Choose product</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-active">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-03.png'); ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Book Request</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container background-grey">
            <div class="product-collateral amc-component-details-wrapper">
                <div class="col-lg-12 content-header-common">
                    <h3>Book Your <b>Request </b></h3>
                    <div class="header-border-yellow"></div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                </div>
            </div>
            <form id="logServiceRequestForm" action="<?php echo $this->getLogServiceRequestFormUrl() ?>" method="post">

                <input type="hidden" name="customer_code" value="<?php echo $this->getResponse('customer_code') ?>">
                <input type="hidden" name="product_code" value="<?php echo $this->getResponse('product_code') ?>">
                <input type="hidden" name="product_description" value="<?php echo $this->getResponse('product_description') ?>">
                <input type="hidden" name="bussiness_patner" value="<?php echo $this->getResponse('bussiness_patner') ?>">
                <input type="hidden" name="contract_no" value="<?php echo $this->getResponse('contract_no') ?>">
                <input type="hidden" name="ib_base" value="<?php echo $this->getResponse('ib_base') ?>">
                <input type="hidden" name="mobile" value="<?php echo $customer->getMobile(); ?>">
                <input type="hidden" name="ib_instance" value="<?php echo $this->getResponse('ib_instance'); ?>">

                <div class="col-lg-12">
                    <div class="update-details-form">
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input class="input-box-height input-box-100" name="customercode" value="<?php echo $this->getResponse('customer_code') ?>" disabled>
                                <label class="fly hmb-lable">Enter your Service Id number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 padding-RL-5 input-margin">
                            <div class="form-textbox">
                                <input class="input-box-height input-box-100" name="mobile" value="<?php echo $customer->getMobile(); ?>" disabled>
                                <label class="fly hmb-lable">Enter your Mobile Number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input class="input-box-height input-box-100" name="name" value="<?php echo $customer->getFirstName() . ' ' . $customer->getLastName(); ?>" disabled>
                                <label class="fly hmb-lable">Enter your Name</label>
                            </div>
                        </div>
                        <div class="grey-border-line"></div>
                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <select name="productdescription" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <?php foreach ($components as $compnent) { ?>
                                        <option value="<?php echo $compnent->getProductId(); ?>"><?php echo $compnent->getProductDescription(); ?></option>
                                    <?php } ?>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <select name="EFL_REASON" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value=""><?php echo $this->__("Select one"); ?></option>
                                    <option value="Z522">Water Not Clear</option>
                                    <option value="Z521">No Water</option><option value="Z523">Smell in Water</option>
                                    <option value="Z524">Unit giving Shock</option>
                                    <option value="Z525">No Green Light</option>
                                    <option value="Z526">Unit not Working</option>
                                    <option value="Z527">VC-Burning Smell</option>
                                    <option value="Z528">Low Water Flow</option>
                                    <option value="Z529">VC Low Water Flow</option>
                                    <option value="Z530">Water Leakage</option>
                                    <option value="Z531">Mandatory Service Required / Overdue</option>
                                    <option value="Z532">Product Damage</option>
                                    <option value="Z601">AG Leakage at PF section</option>
                                    <option value="Z602">AG Leakage at AC section</option>
                                    <option value="Z603">AG Leakage at UV section</option>
                                    <option value="Z604">AG Smell</option>
                                    <option value="Z605">AG Red Light Blinking</option>
                                    <option value="Z606">AG Body Breakage</option>
                                    <option value="Z607">AG Loose Connection at PCB</option>
                                    <option value="Z608">AG Loose Connection at other harness</option>
                                    <option value="Z609">VC Low Suction</option>
                                    <option value="Z610">VC High Motor Noise</option>
                                    <option value="Z611">VC Body abnormal Heat</option>
                                    <option value="Z612">VC Lid not Closing</option>
                                    <option value="Z613">RE Leakage at antiscalent cartride</option>
                                    <option value="Z614">RE Leakage at PF/AC Bowls</option>
                                    <option value="Z615">RE Leakage at Membrane Bowl</option>
                                    <option value="Z616">RE Tank Overflowing</option>
                                    <option value="Z617">RE Body Breakage</option>
                                    <option value="Z618">RE Loose Connections</option>
                                    <option value="Z619">RE TDS reduction</option>
                                    <option value="999">AMC Required</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <textarea class="input-box-height input-box-100" required="" name="remarks"></textarea>
                                <label class="fly hmb-lable">Remarks</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="form-textbox">
                                <input class="input-box-height input-box-100" name="datetime">
                                <label class="fly hmb-lable">Date and time</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="update-detailts-sub-btn">
                    <button type="submit" class="common-btn-yellow book-a-request-btn">Book Your Request</button>
                </div>
            </form>
        </div>
    </div>
</div>