<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page"><?php echo $this->__("Home"); ?></a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page"><?php echo $this->__("Service"); ?></a>
            <span>/ </span>
        </li>

    </ul>
</div>

<div class="main amc-main-four-easy-steps">
    <div class="col-lg-12 content-header-common">
        <h3><?php echo $this->__("Log a Service<b> Request</b>"); ?></h3>
        <div class="header-border-yellow"></div>
        <p><?php echo $this->__("Kindly enter the mobile number which is registered with us.
                You will be asked to give a missed call to login into the system soon."); ?></p>
    </div>
    <div class="col-lg-12">
        <div class="service-step-axis-line"></div>
        <div class="col-md-4 col-sm-4 col-xs-4 step-active">
            <img src="<?php echo $this->getSkinUrl('images/amc-step-white-01.png') ?>" class="amc-step-icon">
            <p class="amc-step-content-blue"><?php echo $this->__("Login") ?></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 step-default">
            <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-02.png') ?>" class="amc-step-icon">
            <p class="amc-step-content"><?php echo $this->__("Choose product") ?> </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 step-default">
            <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-03.png') ?> " class="amc-step-icon">
            <p class="amc-step-content"><?php echo $this->__("Book Request") ?> </p>
        </div>
    </div>

    <div class="col-lg-12 amc-login-container">
        <div class="col-md-8 col-sm-12">
            <p class="amc-login-p">Login to your account using your registered mobile number or email id</p>

            <div id="hmb-radio-container-2">
                <label class="amc-radio-lable"><?php echo $this->__("MOBILE NUMBER"); ?></label>
            </div>
            <div class="amc-form-container">
                <form action="<?php echo $this->getLoginFormUrl(); ?>" id="serviceLogForm" method="post">
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <div class="form-textbox">
                        <input class="input-box-height required-entry" name="mobile">
                        <label class="fly hmb-lable"><?php echo $this->__("Enter your number"); ?></label>
                    </div>
                    <div class="amc-btn-wrapper">
                        <button type="submit" class="common-btn-yellow hmb-btn-move-right amc-yellow-btn" > <?php echo $this->__("Submit") ?></button>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 amc-login-info-container">
            <p>For any assistance <br>you can reach us on<br> <b>022-30454001</b></p>
        </div>

        <!--<div class="amc-missed-call-container">
                <p>
                        To Proceed, kindly give a missed call on </br>
                        <b>08030431427</b> </br>
                        from your number 90XXX3XX22
                </p>
        </div>-->

    </div>

</div>


<div id="loginModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><?php echo $this->__("Record could not be found !! Alternatively you can share your details with us.We will verify and get back to you soon for further processing."); ?></p>
            </div>
            <div class="modal-footer">
                <button id="rdirectToWebLead" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //<![CDATA[
    var serviceLogForm = new VarienForm('serviceLogForm', true);
    //]]>

    // Redirecting to web lead page
    jQuery(document).ready(function () {

        var flag = '<?php echo $this->getRequest()->getParam('DB'); ?>';
        if (flag == 1) {
            jQuery("#loginModal").modal('show');
            jQuery(document).on("click", "#rdirectToWebLead", function (event) {
                window.location.href = '<?php echo Mage::getUrl('customer-service/request/nondb'); ?>';
            });
        }
    });
</script>