<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3>Log a Service <b> Request</b></h3>
            <div class="header-border-yellow"></div>
            <p>Kindly enter the mobile number which is registered with us.
                You will be asked to give a missed call to login into the system soon.</p>
        </div>
        
        <div class="col-lg-12 amc-login-container background-grey">
            <div class="product-collateral amc-component-details-wrapper">
                <div class="col-lg-12 content-header-common">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <form id="updateAccountForm" action="<?php //echo $this->updateProfileUrl(); ?>" method="post">
                <?php echo $this->getBlockHtml('formkey') ?>
                <input type="hidden" name="I_CUSTOMER" value="<?php //echo $customer->getCustomerCode(); ?>"
                       <div class="col-lg-12">
                    <div class="update-details-form">
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="lastname" value="">
                            <label class="fly hmb-lable">Enter your Last Name</label>
                        </div>
                        <div class="col-lg-6 padding-RL-5 input-margin">
                            <div class="btn-group col-md-4 drop-down-sirname">
                                <button type="button" class="btn btn-default dropdown-toggle drop-down-sirname-wrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mr <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Mr</a></li>
                                    <li><a href="#">Miss</a></li>
                                </ul>
                            </div>
                            <div class="col-md-8 input-name">
                                <input class="input-box-height input-box-100" name="firstname" value="uuuuuuuuuuuuuuuuu">
                                <label class="fly hmb-lable">Enter your First Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="lastname" value="">
                            <label class="fly hmb-lable">Enter your Last Name</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="email" value="">
                            <label class="fly hmb-lable">Enter your Email ID</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="mobile" value="">
                            <label class="fly hmb-lable">Enter your Mobile Number</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="landline" value="">
                            <label class="fly hmb-lable">Enter your Landline Number</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="house_no" value="">
                            <label class="fly hmb-lable">Enter your Door Number</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="street1" value="">
                            <label class="fly hmb-lable">Address One</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="street1" value="">
                            <label class="fly hmb-lable">Address Two</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="street3" value="">
                            <label class="fly hmb-lable">Near by Landmark</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <button type="button" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select State<span class="caret drop-down-icon"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-width-100-pull-down">
                                    <li><a href="#">Karnataka</a></li>
                                    <li><a href="#">Andra Pradesh</a></li>
                                    <li><a href="#">Tamil Nadu</a></li>
                                    <li><a href="#">Maharastra</a></li>
                                    <li><a href="#">Goa</a></li>
                                </ul>
                            </div>
                        </div>
                        <?php
                        $states = Mage::getModel('directory/region')->getResourceCollection()
                                ->addCountryFilter('IN')
                                ->load();

                        //Zend_Debug::dump($collection->getData());
                        ?>


                        <div class="col-lg-6 input-margin">
                            <select name="state" class="dropdown-width-100-pull-down">
                                <?php foreach ($states as $state) { ?>
                                    <option value="<?php echo $state->getCode() ?>"><?php echo $state->getName(); ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100" required="" name="pincode" value="">
                            <label class="fly hmb-lable">Enter Pincode</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <textarea class="input-box-height input-box-100" required="" name="remarks" value=""></textarea>
                            <label class="fly hmb-lable">Remarks</label>
                        </div>
                    </div>
                </div>
                <div id="service-form-wrapper">
                    <!--<div id="Service-radio-container-2">
                        <input width="30" class="hmb-radio-btn" type="radio" name="gender" value="male" id="one" checked="">
                        <label class="service-radio-lable">Update and proceed to log your Service Request</label>
                    </div>
                    <div id="service-radio-container-2">
                        <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="two">
                        <label class="service-radio-lable">Only update your details</label>
                    </div>-->
                    <div class="update-detailts-sub-btn">
                        <button class="common-btn-yellow book-a-request-btn" type="submit" name="btn" value="acc"><?php echo $this->__("ONLY UPDATE YOUR DETAILS") ?></button>
                        <button class="common-btn-yellow book-a-request-btn" type="submit" name="btn"><?php echo $this->__("UPDATE AND PROCEED TO LOG YOUR SERVICE REQUEST"); ?></button>
                    </div>
                    <div class="update-detailts-sub-btn">


                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        //<![CDATA[
        var updateAccountForm = new VarienForm('updateAccountForm', true);
        //]]>
    </script>
