<div id="messages_product_view"><?php //echo $this->getMessagesBlock()->toHtml()                       ?></div>
<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3>Log a Service <b> Request</b></h3>
            <div class="header-border-yellow"></div>
            <p>Kindly enter the mobile number which is registered with us.
                You will be asked to give a missed call to login into the system soon.</p>
        </div>

        <div class="col-lg-12 amc-login-container background-grey">
            <div class="product-collateral amc-component-details-wrapper">
                <div class="col-lg-12 content-header-common">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <form id="updateAccountForm" action="<?php echo $this->getNonDbSrFormUrl(); ?>" method="post">

                <div class="col-lg-12">
                    <div class="update-details-form">

                        <div class="col-lg-6 padding-RL-5 input-margin">
                            <div class="btn-group col-md-4 drop-down-sirname">
                                <select name="I_TITLE" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value="Mrs">Mrs</option>                                    
                                    <option value="Mr">Mr</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Miss">Miss</option>                                    
                                </select>
                            </div>
                            <div class="col-md-8 input-name">
                                <input class="input-box-height input-box-100 required-entry"  name="firstname" value="">
                                <label class="fly hmb-lable">Enter your First Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="lastname" value="">
                            <label class="fly hmb-lable">Enter your Last Name</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="email" value="">
                            <label class="fly hmb-lable">Enter your Email ID</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="mobile" value="">
                            <label class="fly hmb-lable">Enter your Mobile Number</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="landline" value="">
                            <label class="fly hmb-lable">Enter your Landline Number</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="house_no" value="">
                            <label class="fly hmb-lable">Enter your Door Number</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="street1" value="">
                            <label class="fly hmb-lable">Address One</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="street2" value="">
                            <label class="fly hmb-lable">Address Two</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="street3" value="">
                            <label class="fly hmb-lable">Near by Landmark</label>
                        </div>

                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="pincode" value="">
                            <label class="fly hmb-lable">Enter Pincode</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <?php
                                $states = Mage::getModel('directory/region')->getResourceCollection()
                                        ->addCountryFilter('IN')
                                        ->load();

                                //Zend_Debug::dump($collection->getData());
                                ?>
                                <select name="I_STATE" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value=""><?php echo $this->__("Select State"); ?></option>
                                    <?php foreach ($states as $state) { ?>
                                        <option value="<?php echo $state->getName(); ?>"><?php echo $state->getName(); ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>



                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">

                                <select name="city" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value=""><?php echo $this->__("Select City"); ?></option>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Bengaluru">Bengaluru</option>
                                    <option value="Ahmedabad">Ahmedabad</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Kolkata">Kolkata</option>
                                    <option value="Pune">Pune</option>
                                    <option value="Jaipur">Jaipur</option>
                                    <option value="Surat">Surat</option>
                                    <option value="Lucknow">Lucknow</option>
                                    <option value="Kanpur">Kanpur</option>
                                    <option value="Nagpur">Nagpur</option>
                                    <option value="Patna">Patna</option>
                                    <option value="Indore">Indore</option>
                                    <option value="Thane">Thane</option>
                                    <option value="Bhopal">Bhopal</option>
                                    <option value="Visakhapatnam">Visakhapatnam</option>
                                    <option value="Vadodara">Vadodara</option>
                                    <option value="Firozabad">Firozabad</option>
                                    <option value="Ludhiana">Ludhiana</option>
                                    <option value="Rajkot">Rajkot</option>
                                    <option value="Agra">Agra</option>
                                    <option value="Siliguri">Siliguri</option>
                                    <option value="Nashik">Nashik</option>
                                    <option value="Faridabad">Faridabad</option>
                                    <option value="Patiala">Patiala</option>
                                    <option value="Meerut">Meerut</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 input-margin">
                            <div class="btn-group dropdown-width-100">
                                <select name="category" class="btn btn-default dropdown-toggle drop-down-sirname-wrap dropdown-width-100-text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option selected="selected" value="0"><?php echo $this->__("Select Category"); ?></option>
                                    <option value="7"><?php echo $this->__("Customized Solutions"); ?></option>
                                    <option value="3"><?php echo $this->__("Air Purifiers"); ?></option>
                                    <option value="6"><?php echo $this->__("Fire Extinguisher"); ?></option>
                                    <option value="10"><?php echo $this->__("Institutional Cleaning Equipment"); ?></option>
                                    <option value="9"><?php echo $this->__("Institutional Water Purifiers"); ?></option>
                                    <option value="5"><?php echo $this->__("Lifestyle Automation Solutions"); ?></option>
                                    <option value="8"><?php echo $this->__("Security Systems"); ?></option>
                                    <option value="4"><?php echo $this->__("Solar Products"); ?></option>
                                    <option value="2"><?php echo $this->__("Vacuum Cleaners"); ?></option>
                                    <option value="1"><?php echo $this->__("Water Purifiers"); ?></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry"  name="product" value="">
                            <label class="fly hmb-lable">Enter Product Name</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input class="input-box-height input-box-100 required-entry" name="datetime" value="" />
                            <label class="fly hmb-lable">Date and time</label>
                        </div>
                        <div class="col-lg-6 input-margin">
                            <input width="30" class="hmb-radio-btn" type="checkbox" name="agree" value="1" id="one" checked>
                            <label class="service-radio-lable"><?php echo $this->__("By signing up you agree to contacted through phone, email, SMS and personal visit."); ?></label>
                        </div>
                    </div>
                </div>
                <div id="service-form-wrapper">
                    <div class="update-detailts-sub-btn">
                        <button class="common-btn-yellow book-a-request-btn" type="submit" name="btn" value="acc"><?php echo $this->__("submit") ?></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var updateAccountForm = new VarienForm('updateAccountForm', true);
    //]]>
</script>