
<?php $component = $this->currentComponent(); ?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>


<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="amc-main-four-easy-steps-container">
    <div class="main amc-main-four-easy-steps">
        <div class="col-lg-12 content-header-common">
            <h3>Log a Service<b> Request</b></h3>
            <div class="header-border-yellow"></div>
            <p>Kindly enter the mobile number which is registered with us.
                You will be asked to give a missed call to login into the system soon.</p>
        </div>
        <div class="col-lg-12">
            <div class="service-step-axis-line"></div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-default">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-white-01.png'); ?>" class="amc-step-icon">
                <p class="amc-step-content">Login</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-active">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-02.png'); ?>" class="amc-step-icon">
                <p class="amc-step-content-blue">Choose product</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 step-default">
                <img src="<?php echo $this->getSkinUrl('images/amc-step-grey-03.png'); ?>" class="amc-step-icon">
                <p class="amc-step-content">Book Request</p>
            </div>
        </div>
        <div class="col-lg-12 amc-login-container">
            <div class="product-collateral">

                <div class="product-collateral">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <?php echo $component->getProductDescription() ?>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <h4 class="amc-product-details">Your Product Details</h4>
                            <div class="col-md-6 amc-account-details-container1">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("Component Number"); ?></td>
                                                <td><?php echo $component->getComponentId() ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("Product Code"); ?></td>
                                                <td><?php echo $component->getProductId() ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("Product Description"); ?></td>
                                                <td><?php echo $component->getProductDescription() ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("Located At"); ?></td>
                                                <td><?php echo $component->getLocatedAt() ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("AMC STATUS"); ?></td>
                                                <td><?php echo $component->getContractStatus() ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 amc-account-details-container2">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("AMC Renewal"); ?></td>
                                                <td><?php echo date("d-m-Y", strtotime($component->getValidFrom())); ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("AMC Start Date"); ?></td>
                                                <td><?php echo date("d-m-Y", strtotime($component->getValidFrom())); ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey"><?php echo $this->__("AMC End Date"); ?></td>
                                                <td><?php echo date("d-m-Y", strtotime($component->getValidTo())); ?></td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="color-grey">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h4 class="amc-product-details">Please submit your change request</h4>
                            <div class="col-md-6 amc-account-details-container2">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                                <p>{Maximum <b>250</b> characters}</p>
                            </div>
                            <div class="amc-product-btn-wrapper">
                                <a class="common-btn-yellow amc-btn-move-right">Submit</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>