<?php
$items = $this->getCustomerAMCHistory();
?>
<div class="tab-content">

    <!-- Tab start -->
    <div role="tabpanel" class="tab-pane fade active in" id="myamc">
        <div class="col-lg-12 order-details-wrapper padding0">
            <h4 class="my-order-details-header"><?php echo $this->__("My AMC History"); ?></h4>
            <?php if (count($items)) { ?>
                <?php foreach ($items as $item) { ?>

                    <div class="col-lg-12 padding0 product-detail-wrapper-01 my-order-product-details">
                        <div class="col-lg-2 padding0 product-detail-container-02">
                            <div class="order-date-wrapper">
                                <p><?php echo $this->__("Order Date"); ?></p>
                                <h4><?php echo date('d-m-Y', strtotime($item->getStartDate())); ?></h4>
                            </div>
                        </div>
                        <div class="col-lg-2 padding0 product-detail-container-02">
                            <div class="order-date-wrapper">
                                <p><?php echo $this->__("Duration"); ?></p>
                                <h4><?php echo $this->__('%s MONTHS', $item->getContractDuration()); ?></h4>
                            </div>
                        </div>
                        <div class="col-lg-3 padding0 product-detail-container-03">
                            <div class="order-date-wrapper">
                                <p><?php echo $this->__("AMC Name"); ?></p>
                                <h4><?php echo $item->getName(); ?></h4>
                            </div>
                        </div>
                        <div class="col-lg-2 padding0 product-detail-container-03">
                            <div class="order-date-wrapper">
                                <p><?php echo $this->__("Price"); ?></p>
                                <h4><?php echo Mage::helper('core')->currency($item->getGrandTotal(), true, false); ?></h4>
                            </div>
                        </div>
                        <div class="col-lg-3 padding0 product-detail-container-04">
                            <form action="<?php echo Mage::getUrl('customer-service/download') ?>" id="" method="post">
                                <?php echo $this->getBlockHtml('formkey'); ?>
                                <input type="hidden" name="contract_no" value="<?php echo $item->getEContract(); ?>">
                                <button type="submit" class="common-btn-yellow submit-btn-01" formtarget="_blank"><?php echo $this->__("Download"); ?></button>
                            </form>
                        </div>
                    </div>
                <?php } ?>
            <?php } else { ?>
                    <?php echo $this->__("You have no annual contract agreement"); ?>
            <?php } ?>

        </div>
    </div>
    <!-- Tab end -->
</div>