<?php $customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
<div class="container">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div style="padding-top:15px; padding-bottom:36px;">
<div class="page-title">
    <h3><?php echo Mage::helper('cancelorder')->__('Order Cancellation Form') ?></h3>
</div>
<form action="<?php echo $this->getUrl('cancelorder/index/post') ?>" id="cancelorderForm" method="post" enctype="multipart/form-data">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('cancelorder')->__('Order Information') ?></h2>
        <div >
                <div class="form-group">
                    <label for="order_id" class="required"><?php echo Mage::helper('cancelorder')->__('Order ID') ?><em>*</em></label>
                    <div class="input-box">
                        <input name="order_id" id="order_id" title="<?php echo Mage::helper('cancelorder')->__('Order ID') ?>" 
                        value="<?php if(isset($_GET['orderId'])){echo $_GET['orderId'];} ?>" class="form-control required-entry" type="text" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="required"><?php echo Mage::helper('cancelorder')->__('Email') ?><em>*</em></label>
                    <div class="input-box">
                        <input name="email" id="email" title="<?php echo Mage::helper('cancelorder')->__('Email') ?>" value="<?php if($email = $customer->getEmail()){echo $email = $customer->getEmail();} ?>" class="form-control required-entry validate-email" type="text" readonly="readonly" />
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="name" class="required"><?php echo Mage::helper('cancelorder')->__('Name') ?><em>*</em></label>
                    <div class="input-box">
                        <input name="name" id="name" title="<?php echo Mage::helper('cancelorder')->__('Name') ?>" value="<?php if($customer->getName()){echo $customer->getName();} ?>" class="form-control required-entry" type="text" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="required"><?php echo Mage::helper('cancelorder')->__('Phone No') ?></label>
                    <div class="input-box">
                        <input name="phone" id="phone" title="<?php echo Mage::helper('cancelorder')->__('Phone No') ?>" value="" class="form-control validate-number" type="text" />
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="reason" class="required"><?php echo Mage::helper('cancelorder')->__('Reason') ?><em>*</em></label>
                    <textarea name="reason" id="reason" title="<?php echo Mage::helper('cancelorder')->__('Reason') ?>" class="required-entry form-control" cols="5" rows="3"></textarea>
                </div>
            
        </div>
    </div>
    <div class="buttons-set">
        <button type="submit" title="<?php echo Mage::helper('cancelorder')->__('Submit') ?>" class="borderBtn"><span><span><?php echo Mage::helper('cancelorder')->__('Submit') ?></span></span></button>
    </div>
</form>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
    var cancelorderForm = new VarienForm('cancelorderForm', true);
//]]>
</script>
