<?php
$product_ids = Mage::getModel('core/cookie')->get('productid');
$explodeproductids = explode(',', $product_ids);
if($explodeproductids[0] !=''){
?>
<?php  ?>
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span><?php echo $this->__('Shortlist Product') ?></span></strong>
    </div>
    <div class="block-content">
                <ol id="compare-items">
                    <?php foreach ($explodeproductids as $productid){
                            $product = Mage::getModel('catalog/product')->load($productid);
                            $full_path_url = Mage::helper('catalog/image')->init($product, 'thumbnail');
                            $product_url = $product->getProductUrl();
                            $product_name = $product->getName();
                            $product_price = Mage::helper('core')->currency($product->getFinalPrice(),true,false); ?>
                        <li class="item">
                            <input type="hidden" class="compare-item-id" value="<?php echo $productid ?>" />
                            <p class="product-name"><a href="<?php echo $product_url ?>"><img src="<?php echo $full_path_url?>" style="float: left;"><?php echo $product_name; ?></a></p>
                            <p><?php echo $product_price?></p>
                            <a href="javascript:void(0)" onclick="deleteShortlistItem('<?php echo $productid?>')">delete</a>
                        </li>
                    <?php } ?>
                </ol>
                <a href="javascript:void(0);" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remove This Item')) ?>" onclick="removeAllShortlistProduct()"><?php echo $this->__('Remove All') ?></a>
        </div>
</div>
<?php } else { ?>
<p id="addtoshortlistmsg"><?php echo $this->__('No product on shortlist to click in <b>add to shortlist</b> to add product on shortlist');?></p>
<?php } ?>
<script>
    function removeAllShortlistProduct(){
        var url = '<?php Mage::getBaseUrl();?>'+'ajaxwishlist/wishlist/deletecookie/';
        jQuery.ajax({
            url: url,
            dataType: 'json',
            success: function (data) {
                 window.location.href = "";
            }
        });
    }
    function deleteShortlistItem(productid){
        var product_ids = '<?php echo Mage::getModel('core/cookie')->get('productid')?>';
        product_ids = product_ids.replace(productid, '');
        if (product_ids.indexOf(",,") >= 0){
         product_ids = product_ids.replace(',,', ',');   
        }    
        if (product_ids.charAt(0) == ','){
         product_ids = product_ids.replace(',', '');   
        } 
        var url = '<?php Mage::getBaseUrl();?>'+'ajaxwishlist/wishlist/deletesingleitem/';
        jQuery.ajax({
            url: url,
            dataType: 'json',
            data: { 'product_ids': product_ids },
            success: function (data) {alert(data.value)
                 window.location.href = "";
            }
        });
    }
</script>