<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="main header-main thank-you-container">
    <img src="<?php echo $this->getSkinUrl('images/thank-you-icon.png'); ?>">
    <h4 style="font-size: 15px; width: 100%;   text-align: center; float: left; font-weight: 400; color: #4b4b4b;  margin-top: 25px;    margin-bottom: 45px;"><?php echo $this->__("Thank You"); ?></h4>
    <p><?php echo $this->getResponse(); ?></p>
    <div class="col-lg-6">
        <a href="<?php echo Mage::getUrl('customer-service/download'); ?>" target="_blank" class="common-btn-yellow book-a-request-btn float-right-margin0"><?php echo $this->__("Download eRecipt") ?></a>
    </div>
    <div class="col-lg-6">
        <a class="common-btn-yellow book-a-request-btn float-left-margin0"><?php echo $this->__("Email Request"); ?></a>
    </div>
</div>
