<?php
/**
 * @category     Inchoo
 * @package     Inchoo Featured Products
 * @author        Domagoj Potkoc, Inchoo Team <web@inchoo.net>
 * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>
<div class="featured-products">
    <div class="category-title"><h2><a href="<?php echo $this->getUrl('') ?>/featured-products"><?php echo $this->__($this->getBlockLabel()) ?></a></h2></div>

    <?php if (!$this->getProductCollection()->count()): ?>
        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
        <?php if (($_productCollection = $this->getProductCollection()) && $_productCollection->getSize()): ?>

            <?php // Grid Mode ?>

            <?php
            $waterpurifier = array();
            $vaccumcleaner = array();
            $airpurifier = array();
            $lifestyleSolution = array();
            foreach ($_productCollection->getItems() as $_product):
                foreach ($_product->getCategoryIds() as $_products):

                    if ($_products == 3) :
                        array_push($waterpurifier, $_product);
                    elseif ($_products == 4):
                        array_push($vaccumcleaner, $_product);
                    elseif ($_products == 5):
                        array_push($airpurifier, $_product);
                    elseif ($_products == 6):
                        array_push($lifestyleSolution, $_product);
                    endif;
                endforeach;
            endforeach;
            ?>
            <div id="water_purifier_featured" style="display: block;">
                <?php if (count($waterpurifier) > 0): ?>
                    <?php $_collectionSize = count($waterpurifier) ?>

                    <?php
                    $sliderFor = 4;
                    $productCount = $_collectionSize;
                    ?>
                    <?php if ($productCount >= $sliderFor): ?>
                        <div class="customNavigation">
                            <a class="btn prev">&nbsp;</a>
                            <a class="btn next">&nbsp;</a>
                        </div>
                    <?php endif; ?>

                    <ul class="product-carousel" id="<?php if ($productCount >= $sliderFor) { ?>waterpurifierfeatured-carousel<?php } else { ?>featured-grid<?php } ?>">

                        <?php
                        $i = 0;
                        $row = 0;
                        foreach ($waterpurifier as $_product):
                            ?>
                            <li class="item slider-item">
                                <div class="product-block">
                                    <div class="product-block-inner">

                                        <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                            <div class="new-label"><?php echo $this->__('New') ?></div>
                                        <?php endif; ?>

                                        <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                            <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                        <?php endif; ?>

                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                        <div class="actions">

                                            <?php if ($_product->isSaleable()): ?>

                                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                    <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                                <div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
                                            <?php endif; ?>

                                            <ul class="add-to-links">
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                    <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>


                                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>)">
                                                <?php echo $this->escapeHtml($_product->getName()) ?></a></h2>


                                        <?php if ($_product->getRatingSummary()): ?>
                                            <div class="description grid_rating">
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            </div>
                                        <?php endif; ?>

                                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>


                                    </div><!-- End div class product-block-->
                                </div><!-- End div class product-block-inner -->
                            </li>
                        <?php endforeach; ?>
                    </ul>

                <?php else: ?>
                    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
                <?php endif; ?>
            </div>
            <div id="vaccum_cleaner_featured" style="display:none">
                <?php if (count($vaccumcleaner) > 0): ?>

                    <?php $_collectionSize = count($vaccumcleaner) ?>

                    <?php
                    $sliderFor = 4;
                    $productCount = $_collectionSize;
                    ?>
                    <?php if ($productCount >= $sliderFor): ?>
                        <div class="customNavigation">
                            <a class="btn prev">&nbsp;</a>
                            <a class="btn next">&nbsp;</a>
                        </div>
                    <?php endif; ?>

                    <ul class="product-carousel" id="<?php if ($productCount >= $sliderFor) { ?>vaccumcleanerfeatured-carousel<?php } else { ?>featured-grid<?php } ?>">

                        <?php
                        $i = 0;
                        $row = 0;
                        foreach ($vaccumcleaner as $_product):
                            ?>
                            <li class="item slider-item">
                                <div class="product-block">
                                    <div class="product-block-inner">

                                        <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                            <div class="new-label"><?php echo $this->__('New') ?></div>
                                        <?php endif; ?>

                                        <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                            <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                        <?php endif; ?>

                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                        <div class="actions">

                                            <?php if ($_product->isSaleable()): ?>

                                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                    <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                                <div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
                                            <?php endif; ?>

                                            <ul class="add-to-links">
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                    <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>


                                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>)">
                                                <?php echo $this->escapeHtml($_product->getName()) ?></a></h2>


                                        <?php if ($_product->getRatingSummary()): ?>
                                            <div class="description grid_rating">
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            </div>
                                        <?php endif; ?>

                                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>

                                    </div><!-- End div class product-block-->
                                </div><!-- End div class product-block-inner -->
                            </li>
                        <?php endforeach; ?>
                    </ul>

                <?php else: ?>
                    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
                <?php endif; ?>
            </div>
            <div id="air_purifier_featured" style="display: none;">
                <?php if (count($airpurifier) > 0): ?>

                    <?php $_collectionSize = count($airpurifier) ?>

                    <?php
                    $sliderFor = 4;
                    $productCount = $_collectionSize;
                    ?>
                    <?php if ($productCount >= $sliderFor): ?>
                        <div class="customNavigation">
                            <a class="btn prev">&nbsp;</a>
                            <a class="btn next">&nbsp;</a>
                        </div>
                    <?php endif; ?>

                    <ul class="product-carousel" id="<?php if ($productCount >= $sliderFor) { ?>airpurifierfeatured-carousel<?php } else { ?>featured-grid<?php } ?>">

                        <?php
                        $i = 0;
                        $row = 0;
                        foreach ($airpurifier as $_product):
                            ?>
                            <li class="item slider-item">
                                <div class="product-block">
                                    <div class="product-block-inner">

                                        <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                            <div class="new-label"><?php echo $this->__('New') ?></div>
                                        <?php endif; ?>

                                        <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                            <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                        <?php endif; ?>

                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                        <div class="actions">

                                            <?php if ($_product->isSaleable()): ?>

                                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                    <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                                <div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
                                            <?php endif; ?>

                                            <ul class="add-to-links">
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                    <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>


                                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>)">
                                                <?php echo $this->escapeHtml($_product->getName()) ?></a></h2>


                                        <?php if ($_product->getRatingSummary()): ?>
                                            <div class="description grid_rating">
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            </div>
                                        <?php endif; ?>

                                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>

                                    </div><!-- End div class product-block-->
                                </div><!-- End div class product-block-inner -->
                            </li>
                        <?php endforeach; ?>
                    </ul>

                <?php else: ?>
                    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
                <?php endif; ?>
            </div>

            <div id="lifestyle_olutions_featured" style="display: none;">
                <?php if (count($lifestyleSolution) > 0): ?>
                    <?php $_collectionSize = count($lifestyleSolution) ?>

                    <?php
                    $sliderFor = 4;
                    $productCount = $_collectionSize;
                    ?>
                    <?php if ($productCount >= $sliderFor): ?>
                        <div class="customNavigation">
                            <a class="btn prev">&nbsp;</a>
                            <a class="btn next">&nbsp;</a>
                        </div>
                    <?php endif; ?>

                    <ul class="product-carousel" id="lifestyleolutionsfeatured-grid">

                        <?php
                        $i = 0;
                        $row = 0;
                        foreach ($lifestyleSolution as $_product):
                            ?>
                            <li class="item slider-item">
                                <div class="product-block">
                                    <div class="product-block-inner">

                                        <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                            <div class="new-label"><?php echo $this->__('New') ?></div>
                                        <?php endif; ?>

                                        <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                            <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                        <?php endif; ?>

                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                        <div class="actions">

                                            <?php if ($_product->isSaleable()): ?>

                                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                    <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                                <div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
                                            <?php endif; ?>

                                            <ul class="add-to-links">
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                    <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>


                                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>)">
                                                <?php echo $this->escapeHtml($_product->getName()) ?></a></h2>


                                        <?php if ($_product->getRatingSummary()): ?>
                                            <div class="description grid_rating">
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            </div>
                                        <?php endif; ?>

                                        <?php echo $this->getPriceHtml($_product, true, '-new') ?>

                                    </div><!-- End div class product-block-->
                                </div><!-- End div class product-block-inner -->
                            </li>
                        <?php endforeach; ?>
                    </ul>

                <?php else: ?>
                    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
                <?php endif; ?>
            </div>
        </div>
        <span class="featured_default_width" style="display:none; visibility:hidden"></span>
    <?php endif; ?>
<?php endif; ?>

<script>

    jQuery(".tab5 a").click(function () {
        if (!jQuery(".tab5 a").hasClass("selected")) {

            jQuery(".tab5 a").addClass("selected");
            jQuery(".tab6 a").removeClass("selected");
            showhide();
        }
    });
    jQuery(".tab6 a").click(function () {
        if (!jQuery(".tab6 a").hasClass("selected")) {
            jQuery(".tab6 a").addClass("selected");
            jQuery(".tab5 a").removeClass("selected");
            showhide();
        }
    });
    jQuery(".tab1 a").click(function () {
        if (!jQuery(".tab1 a").hasClass("selected")) {
            jQuery(".tab1 a").addClass("selected");
            jQuery(".tab2 a").removeClass("selected");
            jQuery(".tab3 a").removeClass("selected");
            jQuery(".tab4 a").removeClass("selected");
            showhide();
        }
    });
    jQuery(".tab2 a").click(function () {
        if (!jQuery(".tab2 a").hasClass("selected")) {
            jQuery(".tab1 a").removeClass("selected");
            jQuery(".tab2 a").addClass("selected");
            jQuery(".tab3 a").removeClass("selected");
            jQuery(".tab4 a").removeClass("selected");
            showhide();
        }
    });
    jQuery(".tab3 a").click(function () {
        ;
        if (!jQuery(".tab3 a").hasClass("selected")) {
            jQuery(".tab1 a").removeClass("selected");
            jQuery(".tab2 a").removeClass("selected");
            jQuery(".tab3 a").addClass("selected");
            jQuery(".tab4 a").removeClass("selected");
            showhide();
        }
    });
    jQuery(".tab4 a").click(function () {
        if (!jQuery(".tab4 a").hasClass("selected")) {
            jQuery(".tab1 a").removeClass("selected");
            jQuery(".tab2 a").removeClass("selected");
            jQuery(".tab3 a").removeClass("selected");
            jQuery(".tab4 a").addClass("selected");
            showhide();
        }
    });


    function showhide() {
        var featuredProductClass = jQuery(".tab5 a").attr("class");
        var bestsellProductClass = jQuery(".tab6 a").attr("class");
        var waterPurifiersClass = jQuery(".tab1 a").attr("class");
        var vacuumCleanerClass = jQuery(".tab2 a").attr("class");
        var airPurifierClass = jQuery(".tab3 a").attr("class");
        var lifestyleSolutionsClass = jQuery(".tab4 a").attr("class");
        if (featuredProductClass == 'selected') {
            jQuery("#feature_product").css("display", 'block');
            jQuery("#bestseller_product").css("display", 'none');
            if (jQuery(".tab1 a").hasClass("selected")) {
                jQuery("#water_purifier_featured").css("display", 'block');
                jQuery("#vaccum_cleaner_featured").css("display", 'none');
                jQuery("#air_purifier_featured").css("display", 'none');
                jQuery("#lifestyle_olutions_featured").css("display", 'none');
            } else if (jQuery(".tab2 a").hasClass("selected")) {
                jQuery("#water_purifier_featured").css("display", 'none');
                jQuery("#vaccum_cleaner_featured").css("display", 'block');
                jQuery("#air_purifier_featured").css("display", 'none');
                jQuery("#lifestyle_olutions_featured").css("display", 'none');
            } else if (jQuery(".tab3 a").hasClass("selected")) {
                jQuery("#water_purifier_featured").css("display", 'none');
                jQuery("#vaccum_cleaner_featured").css("display", 'none');
                jQuery("#air_purifier_featured").css("display", 'block');
                jQuery("#lifestyle_olutions_featured").css("display", 'none');
            } else if (jQuery(".tab4 a").hasClass("selected")) {
                jQuery("#water_purifier_featured").css("display", 'none');
                jQuery("#vaccum_cleaner_featured").css("display", 'none');
                jQuery("#air_purifier_featured").css("display", 'none');
                jQuery("#lifestyle_olutions_featured").css("display", 'block');
            } else {

            }
        }
        if (bestsellProductClass == 'selected') {
            jQuery("#feature_product").css("display", 'none');
            jQuery("#bestseller_product").css("display", 'block');
            if (jQuery(".tab1 a").hasClass("selected")) {
                jQuery("#water_purifier_best").css("display", 'block');
                jQuery("#vaccum_cleaner_best").css("display", 'none');
                jQuery("#air_purifier_best").css("display", 'none');
                jQuery("#lifestyle_olutions_best").css("display", 'none');
            } else if (jQuery(".tab2 a").hasClass("selected")) {
                jQuery("#water_purifier_best").css("display", 'none');
                jQuery("#vaccum_cleaner_best").css("display", 'block');
                jQuery("#air_purifier_best").css("display", 'none');
                jQuery("#lifestyle_olutions_best").css("display", 'none');
            } else if (jQuery(".tab3 a").hasClass("selected")) {
                jQuery("#water_purifier_best").css("display", 'none');
                jQuery("#vaccum_cleaner_best").css("display", 'none');
                jQuery("#air_purifier_best").css("display", 'block');
                jQuery("#lifestyle_olutions_best").css("display", 'none');
            } else if (jQuery(".tab4 a").hasClass("selected")) {
                jQuery("#water_purifier_best").css("display", 'none');
                jQuery("#vaccum_cleaner_best").css("display", 'none');
                jQuery("#air_purifier_best").css("display", 'none');
                jQuery("#lifestyle_olutions_best").css("display", 'block');
            } else {

            }

        }
    }
</script>