<div class="content_area_main">
            <div class="logo_area">
                <div class="euro_sml_img">
                    <img src="/images/euro_smile.png" width="215" height="128"></div>
                <div class="txt_rgt nemklx">
                    <p>
                        
                        We at Eureka Forbes, always put our customers first, which is why we do everything
                        to ensure that the product you buy meets all your needs. Should you have any service
                        request, do get in touch with us right away by filling the form below. You can also
                        SMS REQ to 808-22-99-333.
                    </p>
                </div>
            </div>
            <div class="smile_boxes">
                <div class="euro_smile_box">
                    <div class="log_service">
                        <h3>
                            Log a Service Request</h3>
                        <div class="hide_show">
                            <a href="javascript:animatedcollapse.toggle1('ques01')" class="question"><span class="step">
                                Step 1</span><span class="showing"><img align="absmiddle" id="sques01" src="/images/step_arrow1.png"></span></a>
                            <div id="ques01" class="answer" groupname="steps" fade="1" style="display: none; height: auto;">
                                <p>
                                    For quick servicing of your product, call our 24 hours customer care helpline on
                                    3988 3333.
                                </p>
                                <p>
                                    <strong>OR</strong></p>
                                <p>
                                    <a class="underline" href="/Product/Service-Request">Click
                                        Here</a> to submit your service request online.
                                </p>
                                <p class="inntrh">
                                    We will contact you within 24-72 hours.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                        &nbsp;</div>
                    <div class="log_service">
                        <h3>
                            Escalate your request</h3>
                        <div class="hide_show">
                            <a href="javascript:animatedcollapse.toggle1('ques02')" class="question"><span class="step">
                                Step 2</span><span class="showing"><img align="absmiddle" id="sques02" src="/images/step_arrow.png"></span></a>
                            <div id="ques02" class="answer" style="height: auto;" groupname="steps" fade="1">
                                <p>
                                    If you are not satisfied with the solution received, please <a class="underline prop_spek" href="/Service-Request-Step-2" style="cursor: pointer;">Click Here</a> to email our
                                    Customer Care Executive Ms. Anu Kotian.
                                </p>
                                <p>
                                    <strong>OR</strong></p>
                                <p>
                                    <a class="underline" href="/content/downloads/step2.pdf" target="_blank">Click Here</a> to download the Service Redressal Form. Please
                                    post it to address mentioned in the form.</p>
                                <p class="inntrh">
                                    We will contact you within 24-48 hours.</p>
                            </div>
                            <div class="clear">
                                &nbsp;</div>
                            <a href="javascript:animatedcollapse.toggle1('ques03')" class="question"><span class="step">
                                Step 3</span><span class="showing"><img align="absmiddle" id="sques03" src="/images/step_arrow.png"></span></a>
                            <div id="ques03" class="answer" style="display: none; height: auto;" groupname="steps" fade="1">
                                <p>
                                    <a class="underline prop_spek" href="/Escalate-Your-Request" style="cursor: pointer;">Escalate your
                                        request</a> to our <strong>Head of Customer Care</strong>, Ms. Vinath Hegde
                                </p>
                                <p>
                                    <strong>OR</strong></p>
                                <p>
                                    <a class="underline" href="/content/downloads/step3.pdf" target="_blank">Click Here</a> to download the Service Redressal Form. Please
                                    post it to address mentioned in the form.</p>
                                <p class="inntrh">
                                    We will contact you within 24-36 hours.</p>
                            </div>
                            <div class="clear">
                                &nbsp;</div>
                            <a href="javascript:animatedcollapse.toggle1('ques04')" class="question"><span class="step">
                                Step 4</span><span class="showing"><img align="absmiddle" id="sques04" src="/images/step_arrow.png"></span></a>
                            <div id="ques04" class="answer" style="display: none; height: auto;" groupname="steps" fade="1">
                                <p>
                                    <a class="underline prop_spek" href="/Escalate-Your-Request-Step-4" style="cursor: pointer;">Click Here</a>
                                    if you are still not satisfied with solution.
                                </p>
                                <p>
                                    If your Service Request still remains unresolved, you may directly contact the Ombudsman
                                    for a solution at +91 22 3044 9768 (on every second and fourth Thursday between
                                    2:30 PM - 4:30 PM)
                                </p>
                                <p>
                                    <strong>OR</strong></p>
                                <p>
                                    <a class="underline" href="/content/downloads/step4.pdf" target="_blank">Click Here</a> to download the Service Redressal Form.
                                </p>
                                <p class="inntrh">
                                    <a class="underline" href="/content/downloads/EFL-Ombudsman-Scheme-final.pdf" target="_blank">Click Here</a> to view the Eureka Forbes Ombudsman scheme.</p>
                            </div>
                            <div class="clear">
                                &nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="euroable_right">
                    <a href="/Euroable" class="nonenin">
                        <div class="euroable">
                            <p>
                                India's first state of
                                <br>
                                the art call centre<br>
                                manned by people with<br>
                                special needs.</p>
                        </div>
                    </a>
                    <div class="clear">
                        &nbsp;</div>
                    <a href="/Business/Product/Fire-Extinguishers">
                        
                    </a>
                </div>
                <div class="clear">
                    &nbsp;</div>
                <a href="https://manage.getcloudcherry.com/survey/#/login?token=RK-61952" style="text-decoration: none;
                    color: #005DA5;" target="_blank">
                    <div class="social_icon_locate widht300">
                        <div class="left_icon_txt">
                            <img class="right_logo" src="/images/right_icon.png"><h4>
                                Help us serve<br>
                                you better</h4>
                        </div>
                        <div class="flt_rgt">
                            <p>
                                Please let us know how satisfied you are with our customer service.</p>
                        </div>
                        <div class="clear">
                            &nbsp;</div>
                    </div>
                </a>
            </div>
            <div class="clear">
                &nbsp;</div>
            <div id="modal_popup">
                <a href="#" class="close">x</a>
                <iframe id="steptwo" frameborder="0" scrolling="no" width="402" height="319" src="/Service-Request-Step-2" name="page"></iframe>
                <br>
            </div>
            <div id="modal_popup1">
                <a href="#" class="close">x</a>
                <iframe id="stepthree" frameborder="0" scrolling="no" width="402" height="319" src="/Escalate-Your-Request" name="page"></iframe>
                <br>
            </div>
            <div id="modal_popup2">
                <a href="#" class="close">x</a>
                <iframe frameborder="0" scrolling="no" width="402" height="319" src="/Escalate-Your-Request-Step-4" name="page" id="Iframe2"></iframe>
                <br>
            </div>
        </div>