<div class="" style="padding-left: 10% ">
<div class="" id="" style="">
    <h1><?php echo $this->__('Log a Service Request'); ?></h1>
</div>
<div><?php echo $this->__('Kindly enter the mobile number which is registered with us.'); ?></div>
<div id="missedcalltext" class=""><?php echo $this->__('You will be asked to give a missed call to login into the system soon.'); ?></div>
<label>Mobile No:</label> &nbsp;&nbsp;<input type="tel" class="" name="" id="" maxlength="10" onkeypress="CheckNumberKey(event)" class="sp_textfield" maxlength="10" style="width: 250px;" onkeydown="return (event.keyCode!=13);"/>

</div>

<div style="text-align:center;">
    <a href="http://www.eurekaforbes.com/eBuy-Annual-Maintenance-Contract"><img src="<?php echo $this->getSkinUrl('images/AMC_banner_only.png');?>" alt="">
    </a>
    <div class="benfit_text">
        *Please read <a class="prop_tnc" href="<?php echo Mage::getBaseUrl().'terms-conditions';?>">&nbsp;Terms &amp; Conditions
        </a>
    </div>
</div>

<script>
function CheckNumberKey(){
    jQuery('#missedcalltext').hide();
    
    
}



</script>