body {
    background: #FFFFFF;
    color: #4A4D4F;
    font-family: 'Open sans', Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    font-stretch: ultra-condensed;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open sans', Arial, Helvetica, sans-serif !important;
    font-weight: 500;
    line-height: 1.1;
}


/* accordion css */

#hmb-step-1 {
    background-color: #fff !important;
}
.hmb-step-1-container {
    background-color: #fff !important;
}
#hmb-step-2 {
    background-color: #5295d9 !important;
}
.hmb-step-2-container {
    background-color: #5295d9 !important;
}
#hmb-step-3 {
    background-color: #1e5792 !important;
}
.hmb-step-3-container {
    background-color: #1e5792 !important;
}
.input-box-height {
    height: 60px !important;
    line-height: 23px !important;
}
.step-1-icon {
    position: absolute;
    width: 25px;
    top: 25px;
    left: 31px;
}
.step-2-icon {
    position: absolute;
    width: 20px;
    top: 25px;
    left: 40px;
}
.step-3-icon {
    position: absolute;
    width: 38px;
    top: 25px;
    left: 31px;
}
.hmb-contents .sof-place {
    margin-top: 30px !important;
    margin-bottom: 15px;
}
.hmb-step-1-container-header {
    text-align: left !important;
    margin-top: 62px !important;
    font-size: 20px !important;
}
.hmb-step-2-container-header {
    color: #fff !important;
    text-align: left !important;
    margin-top: 62px !important;
    font-size: 27px !important;
}
.hmb-step-3-container-header {
    color: #fff !important;
    text-align: left !important;
    margin-top: 62px !important;
    font-size: 27px !important;
}
.accordion-hor>ul>li>h1 {
    font-size: 38px !important;
    color: rgba(164, 185, 206, 0.55) !important;
    left: 39px !important;
    top: inherit !important;
    bottom: 20px !important;
    -moz-transform: rotate(0deg) translate(0px, 0px) !important;
    -moz-transform-origin: 0 100%;
    -o-transform: rotate(0deg) translate(0px, 0px) !important;
    -o-transform-origin: 0 100%;
    -webkit-transform: rotate(0deg) translate(0px, 0px) !important;
    -webkit-transform-origin: 0 100%;
    transform: rotate(0deg) translate(0px, 0px) !important;
    transform-origin: 0 100%;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1.0);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)";
    font-family: -webkit-body !important;
}
.header-border-yellow {
    width: 100px;
    margin: 0 auto;
    border-top: 3px solid #FFF205;
    height: 3px;
}
.help-me-buy a {
    padding: 6px 20px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #0B345F !important;
    cursor: pointer;
}
.header-helpline {
    font-size: 15px;
    color: #124375;
    font-weight: 100;
}
.sub-header-helpline {
    font-size: 14px;
    color: #6f6f6f;
}
.helpnine-number {
    font-size: 15px;
    font-weight: 700;
    color: #124375;
}
#advancedmenu .parentMenu a:hover {
    color: #FBDA03;
}
.header-top-left {
    font-size: 14px;
    float: left;
    color: #fff;
    font-weight: 500;
    padding: 12px 0px;
}
.header-top-left:hover {
    color: #FBDA03;
    text-decoration: none;
}
.header-left-wrap {
    float: right;
    padding: 0px;
}
.header-top-right {
    font-size: 14px;
    float: right;
    color: #fff;
    font-weight: 500;
    padding: 12px 0px;
    text-align: right;
    margin-left: 10px;
}
.header-top-right:hover {
    color: #FBDA03;
    text-decoration: none;
}
.cms_product_right {
    float: right;
    width: 241px;
    padding-top: 23px;
}
.cms_product_left-content {
    float: left;
    width: 241px;
    padding-top: 23px;
    text-align: right;
}
.cms_product_left-content .cms_prod_name a {
    color: #323232;
    font-size: 16px;
    font-weight: bold;
}
.nav-blue {
    background-color: #22568F;
    padding: 5px !important;
    width: 100%;
    border-radius: 5px;
}
.home-content-tab .tabbernav li .nav-blue-tab {
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, 0) inset;
    -webkit-box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, 0) inset;
    -moz-box-shadow: 0px 1px 2px -1px #FFFFFF inset;
    border: 1px solid rgba(232, 232, 232, 0);
    float: left;
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
}
.home-content-tab .tabbernav a.selected.nav-blue-tab, .home-content-tab .tabbernav .nav-blue-tab:hover {
    background: rgb(41, 109, 182);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(232, 232, 232)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%);
    color: #22568F;
    border: 1px solid #3D7AAD;
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    text-decoration: none;
}

/* Buy me now container start */

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 56px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    margin: 0px 10%;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.step-answer {
    color: #ccc;
    font-size: 12px;
}
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px 0px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 100%;
}
.btn-circle i {
    font-style: normal !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}
.step-question-wrap {
    margin: 0 auto;
    width: 650px;
}
.step-question-header {
    font-size: 17px;
    color: #929292;
    font-weight: inherit;
    text-align: center;
    margin-bottom: 20px;
}
.step-btn-container {
    width: 100%;
    float: left;
    text-align: center;
}
.step-btn {
    background: rgb(41, 109, 182);
    background: -moz-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(41, 109, 182, 1)), color-stop(100%, rgba(33, 84, 141, 1)));
    background: -webkit-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: -o-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: -ms-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: linear-gradient(to bottom, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    text-align: center;
    width: 100px;
    padding: 5px;
    font-size: 17px;
}
.product-block .add-to-links li a.link-wishlist, #products-list .list-center .add-to-links li .wishlist_icon {
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}
.product-block button.button > span, #products-list .list-right button > span {
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}
.product-block .add-to-links li a.link-compare, #products-list .list-center .add-to-links li .compare_icon {
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}
#newsletter-validate-detail button.button > span {
    box-sizing: content-box;
    position: absolute;
}
.seo-container {
    float: left;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px 0px;
}
.seo-container h3 {
    margin-top: 0px !important;
    font-size: 17px;
    color: #555;
}
.seo-container p {
    margin-bottom: 0px !important;
    color: #AAAAAA;
    font-size: 13px;
}
.seo-container p strong {
    margin-bottom: 0px !important;
    color: #333;
    font-weight: 400;
}
.ams-img-container {
    float: left;
    margin-top: 22px;
}

/* Buy me now container start */

.discription-others {
    float: left;
    border-bottom: 1px solid #eee;
    padding: 0px;
}
.rating-review {
    padding: 0px;
}
.email-addto-box {
    padding: 0px;
    float: right;
}
.rating-links a {
    color: #A5A2A2;
}
.disc-share {
    float: right;
    margin-right: 10px;
}
.disc-share span {
    float: left;
    line-height: 9px;
    font-size: 10px;
    color: #868686;
    text-align: right;
}
.disc-share span p {
    margin: 0px;
    text-align: right;
}
.review-common-text {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
.review-image {
    float: right;
    margin-left: 5px;
}
.review-image img {
    width: 20px;
    float: right;
}
.ratings {
    line-height: 1.25;
    margin: 3px 0 7px !important;
}
.short-description {
    float: left;
    font-size: 11px;
    margin-bottom: 0px;
}
.offers-wrap-discription {
    float: left;
    width: 100%;
    border: 1px dotted #4680bf;
    background-color: #fff8ca;
    margin-top: 10px;
}
.offers-wrap-discription a {
    float: right;
    text-align: center;
    background: rgb(41, 109, 182);
    background: -moz-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(41, 109, 182, 1)), color-stop(100%, rgba(33, 84, 141, 1)));
    background: -webkit-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: -o-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: -ms-linear-gradient(top, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    background: linear-gradient(to bottom, rgba(41, 109, 182, 1) 0%, rgba(33, 84, 141, 1) 100%);
    color: #fff;
    border: 1px solid #3D7AAD;
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    padding: 4px 10px;
    margin-top: 4px;
    margin-right: 4px;
}
.offers-wrap-discription p {
    color: #333;
    font-size: 12px;
    text-align: left;
    margin: 0px;
    padding: 10px;
}
.delivery-wrapper {
    float: left;
    padding: 0px;
    margin-top: 10px;
}
.delivery-container {
    padding: 0px;
}
.delivery-container span {
    text-transform: uppercase;
    color: #6d6d6d;
    float: left;
    width: 100%;
    height: 23px;
}
.delivery-container span a {
    padding: 4px 8px;
    background-color: #4680bf;
    color: #fff;
    border-radius: 7px;
}
.delivery-container p {
    width: 100%;
    float: left;
    color: #b7b7b7;
    margin: 0px;
    font-size: 12px;
}
.delivery-container p b {
    text-transform: uppercase;
    color: #4680bf;
    font-weight: 100;
}
.prize-container-wrap {
    float: left;
    background-color: #f6fafe;
    margin-top: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}
.product-view .product-shop .price-box .price.old-price {
    font-size: 25px !important;
    color: #4f4f4f !important;
    padding: 0px;
}
.product-view .product-shop .price-box .price {
    font-size: 25px !important;
    padding-left: 10px;
}
.product-view .product-shop .price-box {
    margin-bottom: 0px !important;
}
.add-to-box {
    margin: 0px;
}
.product-view .product-shop .product-name h1 {
    color: #1872BD !important;
}
.manualdownloadlink {
    float: left;
    width: 100%;
}
.helpmebuycat {
    min-height: 0;
    margin-bottom: 0;
}
.pinloader {
    display: none;
    height: 65px;
    position: absolute;
    top: -12px;
    right: 47%;
}
#advice-required-entry-postcode, #advice-required-entry-billing-postcode {
    margin-left: 106px;
}

/* -- text box material design */

.form-textbox {
    position: relative;
    width: 100%;
}
input, .hmb-lable {
    display: block;
    width: 300px;
    font: 20px;
    padding: 2px 5px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
input {
    border-radius: 0;
    font-size: 18px;
    color: #0055ae;
    padding-top: 18px;
    font-weight: 100;
    padding-left: 16px;
}
input[type="password"] {
    font-family: monospace;
}
input:focus, input:valid {
    outline: 0;
    border: 1px solid #226cb9;
}
textarea, .hmb-lable {
    display: block;
    width: 300px;
    font: 20px;
    padding: 2px 5px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
textarea {
    border-radius: 0;
    font-size: 18px;
    color: #0055ae;
    padding-top: 18px;
    font-weight: 100;
    padding-left: 16px;
    line-height: 31px !important;
}
textarea:focus, textarea:valid {
    outline: 0;
    border: 1px solid #226cb9;
}
.accordion-hor>ul>li>div {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    *top: 0px;
    /* IE7 Hack */
    *left: 0px;
    /* IE7 Hack */
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    width: 100% !important
}
.hmb-lable {
    position: absolute;
    top: 24px;
    pointer-events: none;
    color: #d2d2d2;
    font-size: 14px;
    font-weight: 200;
    padding-left: 16px;
}
.form-centre {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 30px 10px 20px;
}
.customer-review-input-container {
    width: 100% !important;
    float: left !important;
    margin: 10px 0px;
}
input:focus + label, input:valid + label {
    -webkit-transition: 0.1875s cubic-bezier(0.2, 0.7, 0.5, 1.2);
    transition: 0.1875s cubic-bezier(0.2, 0.7, 0.5, 1.2);
    color: #d2d2d2;
    font-weight: 100;
    font-size: 13px;
}
input:focus + label.fly, input:valid + label.fly {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: translateY(-34%) scale(0.9);
    transform: translateY(-34%) scale(0.9);
}
input:focus + label.slide, input:valid + label.slide {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateY(-34%) scale(0.9);
    transform: translateY(-34%) scale(0.9);
}
textarea:focus + label, textarea:valid + label {
    -webkit-transition: 0.1875s cubic-bezier(0.2, 0.7, 0.5, 1.2);
    transition: 0.1875s cubic-bezier(0.2, 0.7, 0.5, 1.2);
    color: #d2d2d2;
    font-weight: 100;
    font-size: 13px;
}
textarea:focus + label.fly, textarea:valid + label.fly {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: translateY(-34%) scale(0.9);
    transform: translateY(-34%) scale(0.9);
}
textarea:focus + label.slide, textarea:valid + label.slide {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateY(-34%) scale(0.9);
    transform: translateY(-34%) scale(0.9);
}
.textarea-box-container {
    line-height: 38px !important;
}

/* radio btn css */

.hmb-radio-btn {
    width: 25px;
    height: 22px;
    float: left;
    margin-top: 0px !important;
}
.hmb-radio-container {
    display: block;
    left: 0px !important;
    height: auto !important;
}
.hmb-radio-lable {
    font-size: 17px !important;
    font-weight: 200 !important;
    color: #535354 !important;
    line-height: 20px !important;
    float: left;
}
.hmb-step-3-lable {
    color: #fff !important;
}
.hmb-btn-wrapper {
    width: 90% !important;
    height: auto !important;
    float: left;
    margin-top: 40px;
}
.common-btn-yellow {
    background-color: #feee05;
    text-align: center;
    padding: 11px 33px;
    text-transform: uppercase;
    box-shadow: 0px 2px 0px 0px #756401;
    border-radius: 2px;
    font-size: 17px;
    color: #2271b2;
    text-decoration: none;
}
.common-btn-yellow:hover {
    background-color: #F1E103;
    text-decoration: none;
}
.hmb-btn-move-right {
    float: right;
    margin-right: 11%;
}
#hmb-form-wrapper {
    width: 100% !important;
    height: auto !important;
    float: left;
}
#hmb-radio-container-3 {
    width: 25% !important;
    display: block;
    left: 0px !important;
    height: auto !important;
    float: left;
}
#hmb-radio-container-2 {
    width: 16.666666666666664% !important;
    display: block;
    left: 0px !important;
    height: auto !important;
    float: left;
}

/* slider- css */

.theme-green .back-bar .pointer {
    width: 35px !important;
    height: 35px !important;
    top: -11px !important;
    border-radius: 19px !important;
    background-color: #FFFFFF !important;
    background-image: -moz-linear-gradient(top, #fff, #fff) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff)) !important;
    background-image: -webkit-linear-gradient(top, #fff, #fff) !important;
    background-image: -o-linear-gradient(top, #fff, #fff) !important;
    background-image: linear-gradient(to bottom, #fff, #fff) !important;
    border: 10px solid rgb(197, 211, 226) !important;
}
.theme-green .back-bar .selected-bar {
    height: 10px !important;
    background-image: linear-gradient(rgb(228, 241, 255), rgb(218, 236, 255)) !important;
    background-color: #fff !important;
}
.theme-green .back-bar {
    height: 10px !important;
    background-image: linear-gradient(to bottom, #fff, #fff) !important;
    background: #fff !important;
}
.slider-container {
    width: 80% !important;
    padding-left: 20px !important;
}
.theme-green .back-bar .pointer-label {
    display: none !important;
}
.theme-green .scale ins {
    color: #FFF !important;
    font-size: 16px !important;
    top: -32px !important;
    left: -22px !important;
}
.theme-green .scale span {
    border-left: 1px solid #5295D9 !important;
    top: -12px !important;
    height: 10px !important;
}
.hmb-slider-wrapper {
    margin-top: 59px;
    float: left;
    width: 100%;
    margin-bottom: 53px;
}
.btn-slider {
    padding: 13px 33px !important;
    font-size: 19px !important;
    font-weight: 300;
}
.foot-color-blue {
    width: 100%;
    border-bottom: 1px solid #0E447C;
    background-color: #1e5792 !important;
}
.footer_top {
    padding: 0px !important;
}
#footer .footer-area {
    border-top: 1px solid rgba(255, 255, 255, 0);
    padding-top: 8px;
    padding-bottom: 8px;
}
.border-blue-footer {
    border-top: 0.5px solid #0e447c;
    width: 100%;
    float: left;
}
.border-white-footer {
    border-top: 1px solid rgb(90, 133, 179);
    width: 100%;
    float: left;
}
.footer-header-text {
    color: #feee05;
    font-size: 16px;
    font-weight: 400;
}
.footer-body-text-header {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}
.footer-body-text {
    padding-left: 10px;
}
.footer-body-text li {
    height: 22px;
}
.height10 {
    width: 100%;
    height: 10px;
    float: left;
}
.padding0 {
    padding: 0px;
}
.follow-us {
    padding: 0px 0px 0px 22%;
}
.footer-body-text li a {
    background: url(../images/cat_arrow_white.png) no-repeat scroll 0px -24px transparent;
    padding-left: 16px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
.footer-body-text li a:hover {
    padding-left: 16px;
    color: #feee05;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
.footer-body-text-header-a:hover {
    color: #feee05;
    text-decoration: none !important;
}
.footer-body-text-1 {
    padding: 20px 7px 0px;
}
.payment-modes-img {
    float: left;
    padding: 10px 10px;
    width: 75%;
}
.sign-up-btn {
    position: absolute;
    top: 37px;
    border-style: none;
    right: 0;
    width: 100px;
    padding: 16px 16px;
}
.sign-up-input {
    width: 86%
}
.social-network-icons {
    padding: 5px 0px 0px 21%;
    font-size: 49px;
    color: #fff;
    float: left;
}
.social-network-icons a {
    color: #fff;
    cursor: pointer;
}
.social-network-icons a:hover {
    color: #feee05;
}
.footer_bottom {
    background: none repeat scroll 0 0 #053c74;
    clear: both;
    overflow: hidden;
    border-top: 0px !important;
    padding: 0px !important;
}
.footer_bottom_link {
    padding: 10px 0px;
}
.buttom-footer-left {
    color: #fff;
    font-size: 14px;
    padding: 10px 0px
}
.buttom-footer-a-01 {
    color: #fff;
    margin-right: 15px;
    font-weight: 300;
}
.buttom-footer-a-02 {
    color: #fff;
    margin: 0px 15px;
    font-weight: 300;
}
.buttom-footer-left a:hover {
    color: #feee05;
    text-decoration: none;
}
.buttom-footer-centre {
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}
.buttom-footer-centre a {
    color: #feee05;
}
.buttom-footer-right {
    float: right;
    color: #fff;
    text-align: right;
    padding: 10px 0px;
}
.buttom-footer-right a {
    color: #feee05;
}
.buttom-footer-right i {
    color: #D22222;
}
.accordion-toggle:hover {
    text-decoration: none;
}
.tec-specifications {
    color: #235A97;
    background-color: rgba(245, 245, 245, 0);
    border-color: rgba(221, 221, 221, 0);
    padding: 10px 0px;
}
.tec-specifications-container a {
    color: #1658b2;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.faq-accordion a {
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.product-collateral .padder {
    border: 1px solid rgba(232, 232, 232, 0) !important;
}
.tec-specifications-body {
    border-top: 0px !important;
    padding-top: 0px !important
}
.faq-body {
    padding-left: 40px !important;
}
.accordion-toggle span {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 19px;
    border: 2px solid #555555;
    color: #555555;
    border-radius: 100%;
    font-size: 22px;
    margin-right: 9px;
    padding: 0px 5px;
    margin-bottom: 4px;
}
.tec-specifications-panel {
    box-shadow: none;
    border-bottom: 2px dotted #cecece;
    margin-top: 0px !important;
}
.tab-padder {
    padding: 4px 0px !important;
}
.tec-specifications-body-container {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px dotted #cecece;
    margin-bottom: 10px;
}
.faq-body-container {
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.details-container li {
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: 1px solid #d9dadc;
    background-color: #F1F1F1;
}
.faq-details-container li {
    float: left;
    width: 100%;
    color: #a0a0a0;
    font-size: 14px;
    text-transform: uppercase;
}
.details-container-left {
    background-color: #f1f1f1;
    padding: 10px 3px 10px 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #4c4c4c;
    font-size: 14px;
}
.details-container-right {
    background-color: #fff;
    padding: 10px 3px 10px 13px;
    color: #747474;
    font-size: 14px;
}
.border-none {
    border: 0px !important;
}
.features-wrapper {
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
}
.features-wrapper ul {
    float: left;
    width: 97%;
    border-left: 2px dotted #cecece;
}
.features-wrapper ul li {
    float: left;
    width: 100%;
    list-style: none;
    margin-left: -9px;
}
.features-wrapper ul li h4 {
    background: url(../images/yello-list-icon.png) no-repeat scroll 0px 0px transparent;
    padding-left: 33px;
    color: #0e5aac;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-top: -2px;
}
.features-wrapper ul li p {
    margin-left: 34px;
    float: left;
    width: 100%;
    border-bottom: 2px dotted #cecece;
    /* margin-bottom: 6px; */
    padding-bottom: 15px;
    font-size: 14px;
    color: #a9a8a8;
    font-weight: 500;
    margin-bottom: 16px;
}
.common-description-tab-container {
    width: 100%;
    float: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.advantage-header {
    color: #424243 !important;
}
.advantage-content {
    border-bottom: none !important;
}
.content-header-common {
    text-align: center;
}
.content-header-common h3 {
    font-size: 20px;
    color: #0e5aab;
}
.content-header-common h3 b {
    font-size: 20px;
    color: #3a3a3a;
    font-weight: 200 !important;
}
.content-header-common p {
    color: #7f7f7f;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.header-border-yellow {
    width: 100px;
    margin: 0 auto;
    border-top: 3px solid #FFF205;
    height: 3px;
}
.content-header-common-tab {
    float: left;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #eee;
}
.content-header-common-tab h3 {
    color: #0d5aab;
    font-size: 20px;
}
.product-review-yellow-border {
    margin: 0px 35px;
}
.rating-col {
    padding: 20px 0px 10px;
    float: left;
}
.rating-col p {
    color: #ffc120;
    font-style: normal;
    font-size: 25px;
}
.rating-col p i {
    font-style: normal;
}
.rating-review-container p {
    width: 100%;
    float: left;
}
.rating-review-container p {
    width: 100%;
    float: left;
    color: #5a5a5a;
    font-size: 14px !important;
}
.rating-review-container p a {
    color: #5a5a5a;
    font-size: 14px !important;
}
.customer-product-review-container {
    float: right;
    text-align: right;
    margin-top: 20px;
}
.customer-product-review-container p {
    float: right;
    text-align: right;
    color: #0d5aab;
    font-size: 18px;
    font-weight: 800;
}
.customer-review-btn {
    margin-left: 20px;
    background-color: #20538c;
    color: #fff;
    font-size: 13px;
    box-shadow: 0px 2px 0px 0px #071C33;
}
.customer-review-btn:hover {
    background-color: #497ab0;
}
.customer-review-header {
    color: #5c5c5c !important;
    font-size: 17px !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
}
.customer-review-rating-container {
    padding: 4px 0px !important;
}
.customer-review-rating-container {
    font-size: 20px !important;
}
.customer-review-rating-container b {
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 100;
}
.customer-review-rating {
    padding: 0px !important;
}
.customer-review-like-unlike {
    font-size: 13px !important;
    color: #545454 !important;
    margin-top: 21px !important;
    margin-bottom: 30px !important;
}
.customer-review-content {
    color: #818181 !important;
    font-size: 15px !important;
    font-weight: 100 !important;
    margin-top: 20px !important;
}
.customer-review-like {
    background-color: #dfebed;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 3px;
    font-weight: 800;
}
.customer-review-un-like {
    background-color: #dfebed;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 13px;
    margin-left: 10px;
    margin-right: 3px;
    font-weight: 800;
}
.customer-review-like i {
    margin-right: 5px;
}
.customer-review-un-like i {
    margin-right: 5px;
}
.customer-review-like-unlike b {
    font-size: 11px;
    font-weight: 100;
}
.customer-review-margin-bottom-0 {
    margin-bottom: 0px !important;
}
.customer-review-head-top {
    font-weight: 800;
}

/*-- star ratting css start --*/

.star-rating {
    font-size: 0;
}
.star-rating__wrap {
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #ffc120 !important;
    font-size: 20px !important;
}
.star-rating__ico:last-child {
    padding-left: 0;
}
.star-rating__input {
    display: none;
}
.star-rating__ico:hover:before, .star-rating__ico:hover ~ .star-rating__ico:before, .star-rating__input:checked ~ .star-rating__ico:before {
    content: "\f005";
}
.rating-container h4 {
    font-size: 15px;
    color: #6d6d6d;
    width: 100%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.rating-container p {
    width: 100%;
    float: left;
    color: #939393;
    font-size: 14px;
    text-align: left;
    margin-top: -14px;
}
.rating-review-btn-container {
    float: left;
    margin-top: 30px;
}
.rating-review-btn {
    display: block;
    width: 108px;
    margin: 0 auto;
    float: none;
    cursor: pointer;
    padding: 10px 20px;
}

/*-- star ratting css end --*/

.faq-tabs {
    border: none !important;
    padding: 0px !important;
}
.nav-tabs>li.active>.faq-tab-btn, .nav-tabs>li.active>.faq-tab-btn:hover, .nav-tabs>li.active>.faq-tab-btn:focus {
    color: #0e5aab;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-bottom-color: transparent;
    border-bottom: 3px solid #0e5aab;
    padding-left: 0px;
    padding-right: 0px;
    /* margin-left: 10px; */
    margin-right: 30px;
}
.nav-tabs>li>.faq-tab-btn {
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* margin-left: 10px; */
    margin-right: 30px !important;
    border-bottom: 3px soild #fff !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #545454;
    border: none;
}
.nav>li>.faq-tab-btn:hover, .nav>li>.faq-tab-btn:focus {
    background-color: rgba(84, 84, 84, 0) !important;
    box-shadow: none !important;
}
.nav>li>.faq-tab-btn:hover {
    box-shadow: 1px 1px 1px #555;
}
.pager .pages li {
    margin: 0px 7px 0 0px !important;
    padding: 2px 8px !important;
    background-color: rgba(255, 255, 255, 0)!important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 0px !important;
    background-color: rgba(255, 255, 255, 0)!important;
    border: 0px !important;
    border-radius: 0px !important;
}
.compare-content-body {
    width: 100%;
    float: left;
}
.pager .pages ol {
    float: left;
    padding: 0px !important;
    margin-bottom: 0px !important;
}
.pager .pages .current, .pager .pages li:hover {
    background: none repeat scroll 0 0 #ffffff !important;
    border: 1px solid #CFCECE !important;
}
.sort-by label {
    font-weight: 100;
}
.pager .limiter label {
    font-weight: 100;
}
.sub_cms.first {
    width: 100%;
}
category-title h1 {
    color: #2271b2 !important;
    font-size: 20px;
}
.category-image img {
    border-radius: 5px;
}
.cart_mini_right {
    padding: 7px 5px 7px 9px !important;
}
.header .form-search input.input-text {
    padding: 3px 5px 4px 5px !important;
    font-weight: 100;
}
.header .form-search {
    padding: 3px 4px !important;
}
.nav-inner #nav, .nav-responsive, #advancedmenu {
    background: #0d5aac;
    background: -moz-linear-gradient(top, #3175c0 0%, #0d5aac 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3175c0), color-stop(100%, #0d5aac));
    background: -webkit-linear-gradient(top, #3175c0 0%, #0d5aac 100%);
}
.header_inner_cms {
    color: #194b8b !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
    margin-left: 10px;
}
.header_inner_cms img {
    margin-right: 5px;
    margin-bottom: 2px;
}
.modal-backdrop {
    z-index: 1050;
}
.modal {
    z-index: 1060;
}
.fade.in {
    background-color: rgba(0, 0, 0, 0.58);
}
.modal-backdrop {
    visibility: hidden !important;
}
.compare-popup {
    width: 100%
}
.compare-header {
    border: 0px !important;
}
.compare-body {
    padding: 0px 20px;
}
.compare-product-details {
    float: left;
    width: 100%;
}
.compare-pr-header {
    float: left;
    background-color: #f1f1f1;
}
.compare-pr-details-1 {
    float: left;
    box-shadow: 0px 0px 3px #cecece !important;
    margin-top: 9px;
}
.compare-pr-details-2 {
    float: left;
    box-shadow: 0px 0px 3px #cecece !important;
    margin-top: 9px;
}
.compare-pr-details-3 {
    float: left;
    box-shadow: 0px 0px 3px #cecece !important;
    margin-top: 9px;
}
.header-compare {
    float: left;
    width: 100%;
    text-align: left;
    background-color: #245c95;
    margin: 0px;
    padding: 14px 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.compare-close-btn {
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.compare-close-btn a {
    text-align: right !important;
    float: right !important;
    padding: 2px 10px !important;
    background-color: rgba(0, 0, 0, 0.62);
    color: #fff !important;
    text-decoration: none !important;
}
.compare-close-btn a:hover {
    background-color: rgba(0, 0, 0, 0.68) !important;
    color: #fff !important;
    text-decoration: none;
}
.comare-product-title {
    font-size: 16px;
    float: left;
    text-align: left;
    color: #212121;
    width: 100%;
    font-weight: 800;
    height: 21px;
}
.compare-rating {
    float: left;
    text-align: left;
    color: rgb(243, 191, 2);
    width: 100%;
    font-size: 16px !important;
    height: 35px;
}
.compare-rating b {
    color: #959595;
    font-size: 12px;
    text-transform: uppercase;
}
.compare-product-image {
    width: 100%;
    float: left;
}
.compare-price-container {
    width: 100%;
    float: left;
}
.compare-btn-container {
    width: 100%;
    float: left;
    padding: 10px;
}
.compare-image-block {
    padding: 0px 10px;
    float: left;
    width: 100%;
}

/*.compare-grey-header {
  font-size: 14px !important;
    font-weight: 800 !important;
    color: #245c95 !important;
    text-transform: uppercase !important;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 12px 10px !important;
    width: 100% !important;
    margin-top: 16px !important;
}*/

.compare-grey-header {
    font-size: 14px !important;
    font-weight: 100 !important;
    color: #e8e8e8 !important;
    text-transform: uppercase !important;
    padding: 12px 10px !important;
    width: 100% !important;
    margin-top: 16px !important;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}
.compare-content-common .compare-grey-header {
    font-size: 14px !important;
    font-weight: 100 !important;
    color: #e8e8e8 !important;
    text-transform: uppercase !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
.btn-compare-gery-left {
    float: left;
    margin: 10px;
    text-decoration: none !important;
    background-color: #e2e2e2;
}
.btn-compare-gery-left:hover {
    background-color: #cecdcd !important;
}
.btn-compare-yellow-right {
    float: right;
    margin: 10px;
    text-decoration: none !important;
}
.btn-compare-yellow-right:hover {
    background-color: #f1e104 !important;
}
.price-black {
    text-align: left;
    float: left;
    font-size: 20px;
    color: #4f4f4f;
    padding: 0px 9px 0px;
}
.price-red {
    text-align: left;
    float: left;
    font-size: 20px;
    color: #dd2945;
    padding: 0px 9px 0px;
}
.compare-blue-header {
    float: left;
    background-color: #245c95;
    width: 98%;
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    padding: 16px 10px;
    margin: 3px;
}
.compare-content-common {
    float: left;
    width: 100%;
    padding: 0px 10px;
}
.compare-content-common li {
    float: left;
    width: 94%;
    font-size: 14px;
    color: #202020 !important;
    text-align: left;
    padding: 10px 0px !important;
    border-bottom: 1px solid #ececec;
}
.compare-content-common .compare-grey-header-01 {
    font-size: 14px !important;
    font-weight: 800 !important;
    color: #245c95 !important;
    text-transform: uppercase !important;
    width: 100% !important;
    border-bottom: 1px solid #dcdcdc !important;
}
.compare-btn-container .link-compare-compare {
    background: url(../images/sprite.png) no-repeat scroll 3px -439px #F2F0F1;
    width: 43px;
    height: 40px;
    padding: 0px !important;
    border-radius: 6px;
    margin-right: 10px;
}
.compare-btn-container .link-compare-compare:hover {
    background: url(../images/sprite.png) no-repeat scroll 3px -439px #F2F0F1;
    width: 43px;
    height: 40px;
    padding: 0px !important;
    border-radius: 6px;
    background-color: #FFF205
}
.compare-btn-container .link-compare-compare-add-to-cart {
    background: url(../images/sprite.png) no-repeat scroll 2px -477px #F2F0F1;
    width: 43px;
    height: 40px;
    padding: 0px !important;
    border-radius: 6px;
    margin-right: 10px;
}
.compare-btn-container .link-compare-compare-add-to-cart:hover {
    background: url(../images/sprite.png) no-repeat scroll 2px -477px #F2F0F1;
    width: 43px;
    height: 40px;
    padding: 0px !important;
    border-radius: 6px;
    background-color: #FFF205;
}
.compare-widget {
    float: left;
    background-color: #eee;
    margin-bottom: 20px !important;
}
.compare-widget-close {
    margin: 0px !important;
    height: 20px;
}
.compare-widget-close a {
    padding: 0px 6px !important;
    font-size: 10px !important;
    line-height: 20px;
}
.compare-widget-close-2 {
    margin: 0px !important;
    height: 15px
}
.compare-widget-close-2 a {
    padding: 0px 6px !important;
    font-size: 8px !important;
    line-height: 18px;
}
.compare-product-widget {
    width: 100%;
    float: left;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
}
.compare-widget-pr-name {
    font-size: 7px;
    line-height: 12px;
    padding: 5px;
    float: left;
    margin-bottom: 0px;
    font-weight: 800;
}
.price-black-small {
    font-size: 10px;
    margin: 0px;
}
.price-red-small {
    font-size: 10px;
    margin: 0px;
}
.compare-widget-btn-body {
    float: left;
}
.compare-widget-btn {
    font-size: 11px;
    display: block;
    width: 121px;
    margin: 10% auto 5%;
}

/*-- Five col  css --*/

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
@media (max-width: 1200px) {
    .compare-widget-btn {
        margin: 2% auto 5% !important;
    }
}



/*--- AMC & SR ---*/

.background-grey {
    background-color: #f6f6f6;
    width: 100%;
    float: left;
}

.help-me-buy {
    background: #fff205;
    background: -moz-linear-gradient(top, #fff205 0%, #fad603 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff205), color-stop(100%, #fad603));
    background: -webkit-linear-gradient(top, #fff205 0%, #fad603 100%);
    background: -o-linear-gradient(top, #fff205 0%, #fad603 100%);
    background: -ms-linear-gradient(top, #fff205 0%, #fad603 100%);
    background: linear-gradient(to bottom, #fff205 0%, #fad603 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff205', endColorstr='#fad603', GradientType=0);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    height: 35px;
    margin-top: 6px;
}
.help-me-buy-widget {
    float: left;
    width: 100%;
    margin-top: 45px;
    border-radius: 5px;
}

.amc-main-four-easy-steps-container {
    width: 100%;
    float: left;
}
.amc-main-four-easy-steps {
    min-height: auto !important;
}
.main-conainer-light-blue {
    width: 100%;
    float: left;
    padding: 0px 10px;
    background-color: #e6f3fe;
}
.amc-benfits {
    padding: 0px;
}
.amc-benfits img {
    position: absolute;
}
.amc-benfits p {
    padding-left: 48px;
    font-size: 13px;
    color: #6a6a6a;
    padding-top: 3px;
    margin-right: 20px;
    border-right: 1px solid #7ca8d7;
}
.amc-benfits-wrapper {
    margin: 25px 0px;
    float: left;
}
.no-border {
    border: none !important;
}
.step-active img {
    width: 54px;
    height: 54px;
    padding: 10px;
    border-radius: 100%;
    background: #346EAA;
    display: block;
    margin: 0px auto;
}
.step-default img {
    width: 54px;
    height: 54px;
    padding: 10px;
    border-radius: 25px;
    background: #e2e2e2;
    display: block;
    margin: 0px auto;
}
.amc-step-axis-line {
    width: 77%;
    position: absolute;
    border-top: 2px dotted #E2E2E2;
    top: 26px;
    margin: 0px 9% 0px 10%;
}
.amc-step-content {
    width: 100%;
    text-align: center;
    float: left;
    color: #c8c7c7;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.amc-step-content-blue {
    width: 100%;
    text-align: center;
    float: left;
    color: #346EAA;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.amc-login-container {
    padding: 0px;
    float: left;
    border: 1px solid #e2e2e2;
    margin-top: 20px;
    padding: 25px 15px;
}
.amc-radio-lable {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #535354 !important;
    line-height: 24px !important;
    float: left;
    text-transform: uppercase;
}
.amc-login-p {
    color: #6a6a6a;
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-bottom: 22px;
}
#amc-login-form-wrapper {
    width: 100% !important;
    height: auto !important;
    float: left;
    margin-bottom: 10px;
    padding: 40px 10px 15px;
    border-top: 1px solid #eee;
}
.amc-btn-wrapper {
    height: auto !important;
    position: absolute;
    top: 81px;
    left: 331px;
}
.amc-form-container {
    float: left;
    width: 100%;
}
.amc-yellow-btn {
    padding: 18px 33px;
    cursor: pointer;
}
.amc-login-info-container {
    background-color: #e6f3fe;
    float: left;
    padding: 25px 15px;
}
.amc-login-info-container p {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #636363;
    font-size: 16px;
}
.amc-login-info-container p b {
    color: #346EAA;
    font-weight: 500;
}
.amc-missed-call-container {
    width: 100%;
    float: left;
}
.amc-missed-call-container p {
    float: left;
    text-align: center;
    color: #4d4c4c;
    font-size: 24px;
    line-height: 60px;
    width: 100%;
    font-weight: 300;
}
.amc-missed-call-container p b {
    background-color: #e6f3fe;
    color: #0e5aac;
    padding: 10px 20px;
    border: 1px solid #0e5aac;
    font-weight: 500;
}
<!-- tab custom ---> 
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #FFF !important;
    border: none !important;
    background-color: #346EAA !important;
}
.nav-tabs>li>a {
    margin-right: 8px;
    line-height: 1.428571429;
    border: 0px !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    text-transform: uppercase;
    background-color: #E2E2E2;
    color: #4d4d4d;
}
.nav-tabs {
    border-bottom: 4px solid #346EAA !important;
    padding-bottom: 6px !important;
}
.table-responsive {
    display: inherit !important;
    visibility: visible !important;
    background: #fff;
    border: 1px solid #fff;
}
.tab-content {
    padding: 0px 10px;
    /* margin-top: -10px; */
    float: left;
    width: 100%;
    background: #f9f9f9;
}
.amc-account-details {
    padding: 10px 0px 0px 16px;
    font-size: 15px;
    color: #346EAA;
    text-transform: uppercase;
}
.amc-product-details {
    padding: 20px 0px 0px 16px;
    float: left;
    width: 100%;
    font-size: 15px;
    color: #346EAA;
    text-transform: uppercase;
}
.amc-account-details-container1 {
    padding: 5px 2px 10px 16px;
}
.amc-account-details-container2 {
    padding: 5px 16px 10px 2px;
}
.table {
    margin-bottom: 0px !important;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 0px !important;
}
.amc-product-btn-wrapper {
    width: 100% !important;
    height: auto !important;
    float: left;
    margin-top: 10px;
    margin-bottom: 22px;
}
.amc-btn-move-right {
    float: right;
    margin-right: 1%;
    font-weight: 400;
}
.update-btn {
    text-decoration: underline;
    font-size: 12px;
    margin-left: 5px;
}
.amc-component-details {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.amc-component-details-wrapper {
    margin-bottom: 24px;
}
.color-grey {
    color: #9b9b9b !important;
    font-weight: 300;
}
.disclaimer-par p {
    line-height: 26px;
}
.disclaimer-par p b {
    color: #000;
}
.amc-option {
    padding: 0px !important;
    margin-top: 0px;
    margin-bottom: 15px;
}
.payment-option {
    padding: 0px !important;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: none;
    color: #191919;
    font-size: 18px;
    font-weight: 300;
}
.available-amc-btn {
    text-align: center;
    width: 100%;
    float: left;
    padding: 15px;
    padding-bottom: 36px;
    border-bottom: 1px solid #eee;
}
.update-detailts-sub-btn {
  text-align: center;
  width: 100%;
  float: left;
  padding: 36px 15px 26px 15px;
}
.amc-option-btn {
    text-align: center;
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 9px 0px;
}
.proceed-to-pay {
    text-align: center;
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 20px 0px;
    cursor: pointer;
}
.available-amc {
    padding: 0px;
    border: 1px solid #eee;
}
.available-amc-header {
    width: 100%;
    padding: 12px 20px 3px;
    background: #0e5aac;
}
.available-amc-header p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.available-amc-header h4 {
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 200;
}
.available-amc-content {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.available-amc-content p {
    width: 100%;
    float: left;
    text-align: center;
    color: #bbbaba;
    font-size: 11px;
    margin-bottom: 3px;
}
.available-amc-content h4 {
    width: 100%;
    float: left;
    text-align: center;
    color: #727272;
    font-size: 18px;
    margin: 0px;
}
.amount-payable h4 {
    color: #fd6060;
}
.price-cards-container {
    padding: 19px 20px;
    border-top: 1px solid #eee;
}
.amc-details-container {
    float: left;
    width: 100%;
}
.amc-details-wrapper {
    float: left;
}
.amc-details-col {
    padding: 0px;
    border: 1px solid #eee;
    float: left;
}
.amc-details-header {
    background-color: #346EAA !important;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 14px 5px !important;
    border-right: 1px solid #eee;
}
.amc-details-content {
    color: #6a6a6a;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 5px !important;
    border-right: 1px solid #eee;
}
.amc-details-content-red {
    color: #fd6060;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 5px !important;
}
.payment-icon {
    display: inline-block;
    float: left;
    margin-top: -8px;
    margin: -8px 8px 0px 0px;
}
.grey-text {
    color: #6a6a6a !important;
}
.payment-main-container {
    width: 32% !important;
    position: inherit !important;
    float: left;
}
#payment-inner-container {
    width: 174px !important;
    position: inherit !important;
    display: block !important;
    margin: 0 auto !important;
}
.payment-for-assistance {
    width: 100%;
    text-align: center;
    float: left;
    margin: 0px;
    padding-top: 23px;
    color: #636363;
}
.payment-for-assistance b {
    color: #0e5aac;
    font-size: 18px;
    font-weight: 400;
}
.update-details-form {
    display: block;
    width: 780px;
    margin: 0 auto;
}
.input-box-80 {
    width: 80% !important;
}
.input-box-100 {
    width: 100% !important;
}
.drop-down-sirname {
    padding: 0px;
}
.drop-down-sirname-wrap {
    width: 100%;
    height: 60px;
    border-radius: 0px;
}
.input-name {
    padding: 0px 0px 0px 8px;
}
.input-margin {
    margin: 0px 0px 10px;
}
.dropdown-width-100 {
    width: 100%;
}
.dropdown-width-100-text-left {
    text-align: left;
    color: #d2d2d2;
}
.drop-down-icon {
    float: right;
    margin-top: 7px;
}
.dropdown-width-100-pull-down {
    width: 100%;
}


/*--- Service Request ---*/
.service-step-axis-line {
  width: 66%;
position: absolute;
border-top: 2px dotted #E2E2E2;
top: 26px;
margin: 0px 9% 0px 15%;
}
.edit-btn-service {
  cursor: pointer;
    text-align: right;
    color: #C7C7C7;
    position: absolute;
    right: 16px;
    margin-top: 7px;
}
.edit-btn-service-product {
  cursor: pointer;
    text-align: right;
    color: #C7C7C7;
    position: absolute;
    right: 16px;
    margin-top: 226px;
}
#service-radio-container-2 {
    width: auto !important;
    display: block;
    left: 0px !important;
    height: auto !important;
    float: left;
}
.service-radio-lable {
    font-size: 17px !important;
    font-weight: 500 !important;
    color: #346EAA !important;
    line-height: 22px !important;
    float: left;
    margin-right:20px;
    text-transform: uppercase;
}
#service-form-wrapper {
  width: 62% !important;
  height: auto !important;
  float: left;
  margin-top: 30px;
  margin-left: 19%;
}
.amc-account-details-container2 textarea {
  margin-left: 13px;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.amc-account-details-container2 p {
   margin-left: 13px;
    color: #ccc;
    margin-top: 15px;
      font-weight: 300 !important;
}
.amc-account-details-container2 p b {
    color: #0253c0;
}
.grey-border-line {
  width:100%;
  float:left;
  border-top:1px solid #ccc;
  margin-top:15px;
  margin-bottom:25px;
}
.book-a-request-btn {
  text-align: center;
  padding: 20px 25px;
  cursor: pointer;
  float: right;
  margin-right: 18%;
}
.background-grey {
  background-color: #f9f9f9 !important;
}
.thank-you-container {
  border-top:1px solid #eee;
  padding: 40px 20px;
}
.thank-you-container img{
  width:52px;
  height: 52px;
  margin: 0 auto;
  display: block;
}
.thank-you-container h4 {
  font-size: 30px;
  width:100%;
  text-align: center;
  float: left;
  text-transform: uppercase;
  font-weight: 400;
  color: #4b4b4b;
}
.thank-you-container p {
  font-size: 15px;
  width:100%;
  text-align: center;
  float: left;
  font-weight: 400;
  color: #4b4b4b;
  margin-top:25px;
  margin-bottom:45px;
}
.thank-you-container p b {
  font-size: 13px;
  font-weight: 400;
  color: #0753a3;
  text-transform: uppercase;
}
.float-right-margin0 {
  float:right;
  margin-right:0px !important;
}
.float-left-margin0 {
  float:left !important;
  margin-right:0px !important;
}


/* altered css */

.content-header-common p {
    margin: 0 auto;
    color: #7f7f7f;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
    display: block;
}
.header-left {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    float: left;
    padding-top: 30px;
    border-top: 1px solid #efefef !important;
    color: #303030;
    margin-bottom: 25px;
}
.header-left b {
    font-size: 12px;
    margin-left: 20px;
    font-weight: 400;
}
.phone-icon {
    background: url(call-icon.png) no-repeat scroll 3px 14px transparent;
    display: block;
    padding: 4px 0 4px 49px;
    text-decoration: none;
    float: left;
    width: 100%;
    padding-right: 20px;
}
.message-icon {
    background: url(message-icon.png) no-repeat scroll 3px 14px transparent;
    display: block;
    padding: 4px 0 4px 49px;
    text-decoration: none;
    float: left;
    width: 100%;
    padding-right: 20px;
}
.location-icon {
    background: url(location-icon.png) no-repeat scroll 3px 14px transparent;
    display: block;
    padding: 4px 0 4px 49px;
    text-decoration: none;
    float: left;
    width: 100%;
    padding-right: 20px;
}
.social-icon {
    background: url(social-network-icon.png) no-repeat scroll 3px 14px transparent;
    display: block;
    padding: 4px 0 4px 49px;
    text-decoration: none;
    float: left;
    width: 100%;
    padding-right: 10px;
}
.talk-to-us-body a {
    cursor: pointer;
}
.col-left-body h5 {
    width: 100%;
    font-size: 15px;
    float: left;
}
.talk-to-us-body {
    width: 100%;
    float: left;
    font-weight: 400;
}
.talk-to-us-left {
    float: left;
    text-align: left;
    font-size: 13px;
}
.talk-to-us-right {
    float: right;
    text-align: left;
    font-size: 13px;
}
.customer-care-container {
    padding: 0px;
    float: left;
    margin-top: 20px;
}
.online-purchase-header {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    float: left;
    padding-top: 10px;
    color: #303030;
    text-align: left;
    margin-left: 25px;
}
.online-purchase-sub-header {
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    float: left;
    color: #303030;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 25px;
}
.update-details-form {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.submit-btn-01 {
    padding: 12px 25px;
    cursor: pointer;
    float: none;
    display: block;
    font-weight: 400;
    width: 150px;
    margin: 0 auto;
}
.input-margin {
    margin: 0px 0px 31px;
}
.update-detailts-sub-btn {
    text-align: center;
    width: 100%;
    float: left;
    padding: 36px 15px 52px 15px;
}
#partnershipopportunities-form-wrapper {
    width: 100% !important;
    height: auto !important;
    float: left;
    margin-left: 25px;
    padding: 13px 0px;
    margin-bottom: 30px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.partnershipopportunities-radio-lable {
    font-size: 14px !important;
    font-weight: 200 !important;
    color: #3a3a3a !important;
    line-height: 22px !important;
    float: left;
    margin-right: 20px;
}
.nav-tabs li .sub-tabs {
    margin-right: 8px;
    line-height: 1.428571429;
    border: 0px !important;
    border-radius: 0px !important;
    padding: 0px !important;
    padding-bottom: 10px !important;
    text-transform: uppercase;
    background-color: rgba(226, 226, 226, 0) !important;
    color: #4d4d4d;
    font-weight: 800 !important;
    font-size: 13px !important;
    margin: 10px 20px 10px !important;
}
.nav-tabs>li.active>.sub-tabs, .nav-tabs>li.active>.sub-tabs:hover, .nav-tabs>li.active>.sub-tabs:focus {
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #346eaa !important;
    border: inherit !important;
    background-color: rgba(52, 110, 170, 0) !important;
    border-bottom: 3px solid #346eaa !important;
    margin: 10px 20px 10px !important;
    padding: 0px !important;
    padding-bottom: 10px !important;
}
.sub-tabs-nav {
    margin-top: 10px !important;
    border-bottom: 0px solid #346EAA !important;
    margin-bottom: 20px;
}
.tab-white {
    background-color: #fff !important;
}
.enquiry-quantity {
    margin: 0px;
    padding-bottom: 20px;
    font-size: 14px;
    float: left;
    width: 100%;
}
.map-locate-us {
    width: 100%;
    height: 100%;
    min-height: 262px;
    margin-top: 30px;
    border: 2px solid #cec7c7;
}
.loacte-us-left-col {
    padding: 20px;
}
.submit-btn-02 {
    padding: 16px 25px;
    cursor: pointer;
    float: none;
    display: block;
    font-weight: 400;
    width: 150px;
    /* margin: 0 auto; */
}
.select-st-cy {
    margin-top: 40px;
}
.my-order-details-header {
    width: 100%;
    float: left;
    margin-top: 25px;
    padding: 10px 0px;
    border-bottom: 3px solid #2271b2;
    color: #2271b2;
    text-transform: uppercase;
    font-size: 16px;
}
.order-details-body {
    width: 96%;
    float: left;
    padding: 10px 0px;
    border-bottom: 1px solid #e2e2e2;
    margin-right: 10px;
}
.order-detail-list-left p {
    color: #999999;
    font-size: 15px;
    float: left;
    text-align: left;
    margin: 0px;
}
.order-detail-list-right p {
    color: #575757;
    font-size: 15px;
    float: left;
    text-align: left;
    margin: 0px;
}
.order-detail-list-right p b {
    color: #0055af;
}
.order-details-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 28px;
    padding: 0px 15px !important;
}
.order-personal-details-container {
    float: left;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    min-height: 154px;
    max-height: 200px;
    margin-top: 15px;
}
.order-personal-details-container h4 {
    float: left;
    width: 100%;
    text-align: left;
    color: #0055af;
    font-size: 23px;
    padding-bottom: 5px;
}
.product-order-details {
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #edecec;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
}
.product-detail-wrapper-01 {
    width: 100%;
    float: left;
    padding-bottom: 12px !important;
    border-bottom: 1px solid #e2e2e2;
}
.product-detail-wrapper-img img {
    width: 100%;
    float: left;
}
.product-order-name {
    padding-top: 10px;
    color: #666666;
    float: left;
    width: 100%;
    font-size: 15px;
    margin-bottom: 2px;
}
.product-order-qty {
    float: left;
    width: 100%;
    color: #898989;
    font-size: 13px
}
.product-detail-container-01 {
    float: left;
    border-right: 1px solid #e2e2e2;
}
.product-detail-container-02 {
    float: left;
    border-right: 1px solid #e2e2e2;
}
.product-detail-container-03 {
    float: left;
    border-right: 1px solid #e2e2e2;
}
.product-detail-container-04 {
    float: left;
}
.order-date-wrapper {
    width: 100%;
    float: left;
    padding: 12px 0px 12px 17%;
}
.order-date-wrapper p {
    width: 100%;
    margin: 0px;
    float: left;
    text-align: left;
    font-size: 13px;
    color: #898989;
}
.order-date-wrapper h4 {
    width: 100%;
    margin: 0px;
    float: left;
    text-align: left;
    font-size: 15px;
    color: #515151;
}
.order-date-wrapper h4 b {
    color: #0055af;
    font-weight: 400;
}
.payment-mode {
    color: #898989;
    font-weight: 400;
    font-size: 14px;
    margin-top: 18px;
    border-right: 1px solid #898989;
    text-align: center;
}
.payment-mode b {
    color: #515151;
    font-weight: 400;
}
.order-date {
    color: #898989;
    font-weight: 400;
    font-size: 14px;
    margin-top: 18px;
    border-right: 1px solid #898989;
    text-align: center;
}
.order-date b {
    color: #515151;
    font-weight: 400;
}
.free-gift {
    color: #898989;
    font-weight: 400;
    font-size: 14px;
    margin-top: 18px;
    border-right: 1px solid #898989;
    text-align: center;
}
.free-gift b {
    color: #515151;
    font-weight: 400;
}
.order-total {
    color: #898989;
    font-weight: 400;
    font-size: 14px;
    margin-top: 18px;
    text-align: center;
}
.order-total b {
    color: #515151;
    font-size: 17px;
    font-weight: 400;
}
.order-personal-details-container p {
    color: #676767;
    float: left;
}
.grey-btn-default {
    padding: 12px 25px;
    cursor: pointer;
    float: none;
    display: block;
    font-weight: 400;
    width: 200px;
    margin: 0 auto;
    background-color: #f8f8f8;
    color: #333;
}
.grey-btn-default:hover {
    background-color: #d8d8d8;
    color: #333;
}
.my-order-wrapper {
    padding: 0px;
}
.my-order-subheader {
    background-color: #f8f8f8;
    margin: 0px;
    padding: 15px;
    color: #0055af;
    font-size: 16px;
    width: 100%;
    float: left;
}
.my-order-subheader b {
    color: #4f5051;
    font-weight: 400;
}
.my-order-product-details {
    padding: 10px !important;
}
.view-details-btn {
    padding: 10px 21px;
    cursor: pointer;
    float: left;
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-right: 20px;
}
.grey-btn-default-left {
    padding: 10px 21px;
    cursor: pointer;
    display: block;
    font-weight: 400;
    background-color: #f8f8f8;
    color: #333;
    float: left;
    font-size: 12px;
}
.grey-btn-default-left:hover {
    background-color: #e8e8e8;
    color: #333;
}
.myorder-total-price {
    margin-top: 9px;
    float: right;
}
.add-adress-tab-container {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.nav-tabs>li.active>.aa-sub-tabs, .nav-tabs>li.active>.aa-sub-tabs:hover, .nav-tabs>li.active>.aa-sub-tabs:focus {
    margin-left: 0px !important;
}
.nav-tabs li .aa-sub-tabs {
    margin-left: 0px !important;
}
.add-address-body {
    background: #fff !important;
    padding: 0px 10px !important;
    margin-left: -10px;
}
.account-setting-wrapper {
    float: left;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px dotted #eee;
}
.account-setting-wrapper p {
    margin: 0px;
}
.account-setting-content-grey {
    font-size: 14px;
    float: left;
    color: #4f4f4f;
}
.account-setting-content-black {
    font-size: 14px;
    float: left;
    color: #4f4f4f;
    font-weight: 700;
}
.account-setting-content-black a {
    margin-left: 10px;
    font-weight: 400;
    text-decoration: underline;
    color: #0055af;
}
.left-yellow-header-body {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.left-yellow-header {
    float: left;
    text-align: left;
    padding: 10px 0px;
    margin: 0px;
    border-bottom: 3px solid #feee05;
    font-size: 18px;
    color: #0e5aab;
    text-transform: uppercase;
}
.default-radio-btn-container {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
}
.defalut-address-wrapper {
    margin-bottom: 30px;
}
.add-address-container {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.order-cancel-header {
    border-bottom: none;
    border-top: none;
}
.order-cancel-body-container {
    margin-top: 5px;
    float: left;
}
.order-cancel-body-container p {
    padding: 17px 0px !important;
}
.price-red {
    color: #f73e3e !important;
    text-transform: none !important;
}
.radio-btn-return {
    padding: 17px 0px !important;
}
.checkout-header {
    width: 100%;
    float: left;
    padding: 10px 10px;
    margin: 0px;
    background-color: #0e5aab;
    color: #fff;
}
.checkout-header-text-big {
    float: left;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 8px 20px;
}
.checkout-header-text-small {
    float: right;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 20px;
}
.checkout-body {
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
}
.shipping-address-form {
    width: 100%;
}
.shipping-addres-checkbox {
    float: left;
    margin-left: 10px;
    font-size: 14px !important;
    color: #245c95 !important;
    font-weight: 500 !important;
    margin: 0px !important;
    margin-top: 2px !important;
}
.shipping-addres-checkbox-container {
    float: left;
    width: 100%;
    padding: 0px 20px 20px 20px !important;
}
.payment-method-body {
    width: 96%;
    float: left;
    margin: 0px 0px 0px 20px
}
.radio-custom-container {
    float: left;
    background-color: #fff;
    border: 1px solid #e8e7e7;
    padding: 10px;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.payment-mode-radio-btn {
    position: absolute;
    right: -3px;
    top: -1px;
    width: 20px;
    border: 1px solid #0055ae !important;
}
.payment-mode-icon {
    height: 22px;
    margin: 0 auto;
    display: block;
}
.payment-mode-lable {
    width: 100%;
    float: left;
    text-align: center;
    color: #909091;
    text-transform: uppercase;
    padding: 9px 0px 0px 0px;
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
}
.payment-mode-blue-border {
    border: 1px solid #0e5aab !important;
}
.order-summary-wrap {
    margin-top: 20px;
}
.order-summary-img {
    padding: 0px;
    float: left;
}
.order-summary-img img {
    width: 100%;
    float: left;
    border: 1px solid #
}
.order-summary-right-col {
    float: left;
    padding-right: 0px;
}
.order-summary-right-col h4 {
    float: left;
    width: 100%;
    margin: 0px;
    color: #245c95;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
}
.qty-wrapper {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.qty-wrapper label {
    color: #b2b2b2;
    font-size: 15px;
    font-weight: 400;
    float: left;
    margin-bottom: 0px;
    margin-top: 2px;
}
.qty-wrapper select {
    float: left;
    width: 40px;
    height: 25px;
    margin-left: 10px;
}
.offer-grey-btn {
    padding: 8px 0px;
    font-size: 13px;
    text-transform: none;
    background-color: #edecec;
    width: 130px;
    display: block;
    float: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 22px;
    color: #8c8c8c;
}
.offer-grey-btn b {
    color: #464646 !important;
}
.order-summary-body {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px dotted #cecece
}
.delivery-date-col {
    margin: 0px;
    color: #9b9b9b;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    float: left;
}
.delivery-date-col b {
    color: #626262;
    font-weight: 500;
}
.order-summary-container {
    padding-top: 0px;
}
.total-wrapper {
    float: left;
    margin-top: 15px;
}
.total-wrapper p {
    float: left;
    width: 100%;
    text-align: right;
    color: #9b9b9b;
    font-size: 14px;
}
.total-wrapper-price {
    float: left;
    margin-top: 15px;
}
.total-wrapper-price p {
    float: left;
    width: 100%;
    text-align: right;
    color: #626262;
    font-size: 14px;
}
.total-price-grey {
    font-size: 20px !important;
    font-weight: 200 !important;
}
.total-price-red {
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #ff5e5e !important;
}
.place-order-btn {
    padding: 12px 25px;
    cursor: pointer;
    float: none;
    display: block;
    font-weight: 400;
    width: 200px;
    margin: 0 auto;
}
.place-order-btn-container {
    text-align: center;
    width: 100%;
    float: left;
    padding: 16px 15px 16px 15px;
}
.trust-info-container-1 h4 {
    background: url(security-icon.png) no-repeat scroll 3px 0px transparent;
    display: block;
    padding: 8px 0 4px 56px;
    text-decoration: none;
    padding-right: 20px;
    color: #606060;
    font-weight: 200;
    width: 50%;
    display: block;
    margin: 0px auto;
    font-size: 14px;
}
.trust-info-container-2 h4 {
    background: url(easy-returns.png) no-repeat scroll 3px 0px transparent;
    display: block;
    padding: 8px 0 4px 56px;
    text-decoration: none;
    padding-right: 20px;
    color: #606060;
    font-weight: 200;
    width: 70%;
    display: block;
    margin: 0px auto;
    font-size: 14px;
}
.trust-info-container-3 h4 {
    background: url(call-center-icon.png) no-repeat scroll 3px 0px transparent;
    display: block;
    padding: 8px 0 4px 56px;
    text-decoration: none;
    padding-right: 20px;
    color: #606060;
    font-weight: 200;
    width: 70%;
    display: block;
    margin: 0px auto;
    font-size: 14px;
}
.trust-info-container-1 h4 b {
  font-weight: 400;
  font-size: 18px;
}
.trust-info-container-2 h4 b {
  font-weight: 400;
  font-size: 18px;
}
.trust-info-container-3 h4 b {
  font-weight: 400;
  font-size: 18px;
}
.trust-info-container-1 {
    float: left;
    border-right: 1px solid #ececec;
}
.trust-info-container-2 {
    float: left;
    border-right: 1px solid #ececec;
}
.trust-info-container-3 {
    float: left;
}
.trust-info-body {
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-top:20px;
}
