<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-onestepcheckout-review-cart">
    <div id="aw-onestepcheckout-review-table-cart-wrapper">
        <?php echo $this->getHelperTimerBlockHtml(); ?>
        <table class="aw-onestepcheckout-cart-table">
            <col />
            <col width="1" />
            <col width="1" />
            <thead>
                <tr>
                    <th class="name"><?php echo $this->__('Product Name') ?></th>
                    <th class="qty"><?php echo $this->__('Qty') ?></th>
                    <th class="total"><?php echo $this->__('Subtotal') ?></th>
                </tr>
            </thead>
            <?php echo $this->getChildHtml('totals'); ?>
            <?php $skus = array(); ?>
            <tbody>
                <?php foreach ($this->getItems() as $_item): ?>
                    <?php $skus[] = $_item->getData('sku'); ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach ?>
            </tbody>
        </table>
    </div>
</div>

<div id="pincodeCheckModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="ptextdsfsd"><?php echo $this->__("Record could not be found !! Alternatively you can share your details with us.We will verify and get back to you soon for further processing."); ?></p>
            </div>
            <div class="modal-footer">
                <button id="rdirectToWebLead" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var awOSCReviewCartBlock = new AWOnestepcheckoutReviewCart({
        containerSelector: "#aw-onestepcheckout-review-cart",
        relatedBlockContainerSelector: "#aw-onestepcheckout-related",
        useForShippingCheckboxContainerSelector: "#aw-onestepcheckout-billing-use-for-shipping",
        removeLinkSelector: ".aw-onestepcheckout-cart-table a.btn-remove2",
        urlToUpdateBlocksAfterACP: <?php echo Zend_Json::encode($this->getUrlToUpdateBlocksAfterACP()); ?>,
        overlayConfig: {
            '48px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-48',
            '24px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-24',
            '16px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-16'
        }
    });
</script>
<?php
$checkout = Mage::getSingleton('checkout/session')->getQuote();
$billAddress = $checkout->getBillingAddress();

$pincode = $billAddress->getData('postcode');
?>

<script>
    jQuery(document).ready(function () {
        jQuery("#aw-onestepcheckout-place-order-button").attr('disabled', 'disabled');
        var postcode = '<?php echo $pincode; ?>';
        if (postcode.length > 0) {
            info = <?php echo json_encode($skus); ?>;
            jQuery.ajax({
                method: 'post',
                url: "<?php echo $this->getUrl('warehouse/index/chkPincodeCheckout') ?>",
                dataType: "json",
                async: false,
                data: {postcode: postcode, product_skus: info},
                success: function (data) {
                    //alert(data.message);
                    jQuery('#ptextdsfsd').text(data.message);
                    jQuery("#pincodeCheckModal").modal('show');
                }
            });
        }

    });
</script>
