<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()): ?>
<div id="aw-onestepcheckout-review-points">
    <?php if ($this->isPointsSectionAvailable()): ?>
        <div class="points-message-container" style="overflow:hidden;height:0px;"></div>
        <?php
            $summaryForCustomer = $this->getSummaryForCustomer();
            $pointsLabel = $this->getPointsUnitName();
            $appliedPointsAmount = $this->getAppliedPointsAmount();
        ?>
        <div class="points-form" tyle="overflow: hidden;">
            <label for="points_amount"><?php echo $pointsLabel; ?></label>
            <div class="field-row">
                <input class="input-text" id="points_amount" name="points_amount" value="<?php echo $appliedPointsAmount; ?>" />
                <div class="points-details">
                    <?php echo $this->__(
                        'of %s %s (%s)',
                        $summaryForCustomer->getPoints(),
                        $pointsLabel,
                        $this->getMoneyForPoints());
                    ?>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var awOSCReviewPoints = new AWOnestepcheckoutReviewPoints({
                containerSelector: '.points-form',
                msgContainerSelector: '.points-message-container',
                pointsAmountInput: 'points_amount',
                applyPointsUrl: '<?php echo $this->getApplyPointsAjaxUrl(); ?>',
                successMessageBoxCssClass: 'aw-onestepcheckout-success-msg',
                errorMessageBoxCssClass: 'aw-onestepcheckout-error-msg',
                jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>,
                jsSuccessMsg: <?php echo Zend_Json::encode($this->__("Ok")); ?>,
                amountValidationError: '<?php echo $this->__('You can use up to %s points with this total', $this->getMaxAvailablePointsAmount()); ?>',
                isPointsApplied: <?php echo $appliedPointsAmount; ?>,
                customerPoints: <?php echo $summaryForCustomer->getPoints(); ?>,
                neededPoints: <?php echo $this->getNeededPoints() ?>,
                limitedPoints: <?php echo $this->getLimitedPoints() ?>
            });
        </script>
    <?php endif; ?>
</div>
<?php endif; ?>

