<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()): ?>
<div id="aw-onestepcheckout-review-newsletter-advancednewsletter">
    <div id="aw-onestepcheckout-review-newsletter-advancednewsletter-general">
        <input type="checkbox" id="aw-osc-newsletter-an" name="is_subscribed" value="1" title="<?php echo $this->__('Sign up for Newsletter') ?>" class="checkbox"<?php if ($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?> />
        <label for="aw-osc-newsletter-an"><?php echo $this->__('Sign up for Newsletter') ?></label>
    </div>
    <div id="aw-onestepcheckout-review-newsletter-advancednewsletter-segments"<?php if ($this->getIsSubscribed()): ?> style="height: auto;"<?php endif; ?>>
        <span><?php echo $this->__('Choose Segments:') ?></span>
        <ul>
            <?php $selectedSegments = $this->getSegments(); ?>
            <?php foreach ($this->getSegmentsOnCheckout() as $segment): ?>
                <li>
                    <?php if (!$this->isCustomerSubscribedOnSegment($segment)): ?>
                        <input type="checkbox" name="segments_select[]"
                               id="an-segment-<?php echo $segment->getCode(); ?>"
                               value="<?php echo $segment->getCode(); ?>"
                               title="<?php echo $segment->getTitle(); ?>"
                               <?php if (in_array($segment->getCode(), $selectedSegments)): ?>
                               checked="checked"
                               <?php endif; ?>
                            />
                        <label for="an-segment-<?php echo $segment->getCode(); ?>"><?php echo $segment->getTitle(); ?></label>
                    <?php else:?>
                        <label for="an-segment-<?php echo $segment->getCode(); ?>" class="aw-an-already-subscribed"><?php echo $this->__('%s (already subscribed)', $segment->getTitle());?></label>
                    <?php endif;?>

                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var awOSCReviewNewsletter = new AWOnestepcheckoutReviewNewsletter({
        containerSelector: "#aw-onestepcheckout-review-newsletter-advancednewsletter",
        generalInputSelector: "#aw-onestepcheckout-review-newsletter-advancednewsletter-general input",
        segmentsContainerSelector: "#aw-onestepcheckout-review-newsletter-advancednewsletter-segments",
        saveValuesUrl: <?php echo Zend_Json::encode($this->getSaveFormValuesUrl());?>
    });
</script>
<?php endif;?>