<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.2.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()): ?>
<div id="aw-onestepcheckout-review-newsletter-simple">
    <input type="checkbox" name="is_subscribed" id="newsletter_simple" value="1" title="<?php echo $this->__('Sign up for Newsletter') ?>" class="checkbox"<?php if ($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?> />
    <label for="newsletter_simple"><?php echo $this->__('Sign up for Newsletter') ?></label>
</div>
<script type="text/javascript">
    var awOSCReviewNewsletter = new AWOnestepcheckoutReviewNewsletter({
        containerSelector: "#aw-onestepcheckout-review-newsletter-simple",
        generalInputSelector: "#aw-onestepcheckout-review-newsletter-simple input",
        saveValuesUrl: <?php echo Zend_Json::encode($this->getSaveFormValuesUrl());?>
    });
</script>
<?php endif;?>