<?php
$contactno = Mage::getSingleton('sap/session')->getData('e_contract');

if ($contactno) {
    $object = Mage::getModel('sap/webamc')->load($contactno, 'e_contract');
}
?>

<body style="background:#f1f1f1; font-family:Arial,Helvetica,sans-serif">
    <div style="width:98%; margin:0px auto">
        <table width="100%" border="0" cellspacing="00" bgcolor="#FFFFFF" style="border-top:4px solid #fff600">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="88%" style="padding:15px">
                        <img src="<?php echo $this->getSkinUrl('images/main_logo_pdf.jpg'); ?>" height="53" width="257">
                    </td>
                    <td width="12%" style="padding:15px"><img src="<?php echo $this->getSkinUrl('images/logo-shproji.jpg'); ?>" height="67" width="117"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; border-top:#dadada 2px solid; padding:15px">
                        <h2 style="font-weight:bold; color:#343434; font-size:14px">INVOICE CUM CONTRACT RECEIPT<br>
                            <b style="font-weight:200!important">for comprehensive sevice contract</b></h2>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:10px 20px">
                        <table width="100%" border="0" cellspacing="00">
                            <tbody>
                                <tr>
                                    <td style="font-size:8px; color:#575757; line-height:28px;"> Date: <?php echo date("F j, Y", strtotime($object->getStartDate())); ?></td> 
                                    <td>&nbsp;</td>                                    
                                    <td style="font-size:8px; color:#575757; line-height:28px;">CONTRACT RECEIPT NO: <?php echo Mage::getSingleton('sap/session')->getData('e_contract'); ?></td>
                            <hr/>
                </tr>                                
                <tr>
                    <td colspan="3">
                        <p style="font-weight:bold; font-size:8px; color:#414141; margin-top:25px"><?php echo $this->__("Customer’s Personal Details:") ?></p>
                        <table width="100%" border="0" cellspacing="1" bgcolor="#d8d8d8">
                            <tbody>
                                <tr>
                                    <td width="50%" bgcolor="#FFFFFF">
                                        <table width="100%" border="0" cellspacing="00">
                                            <tbody>
                                                <tr>
                                                    <td width="50%" height="20" style="font-size:10px; color:#6f6f6f; padding-left:8px;">
                                                        Name:</td>
                                                    <td width="50%" style="font-size:8px; color:#575757"><?php echo $object->getName() ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" bgcolor="#eeeeee" style="font-size:8px; color:#6f6f6f; padding-left:10px">
                                                        Adddress:</td>
                                                    <td bgcolor="#eeeeee" style="font-size:8px; color:#575757"><?php echo $object->getAddress(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" style="font-size:8px; color:#6f6f6f; padding-left:10px">Pin:</td>
                                                    <td style="font-size:8px; color:#575757"><?php echo $object->getPincode(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" bgcolor="#eeeeee" style="font-size:8px; color:#6f6f6f; padding-left:0px">
                                                        Email:</td>
                                                    <td bgcolor="#eeeeee" style="font-size:8px; color:#575757"><?php echo $object->getEmail(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" style="font-size:8px; color:#6f6f6f; padding-left:10px">Unit Sl. No:</td>
                                                    <td style="font-size:8px; color:#575757"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="50%" bgcolor="#FFFFFF">
                                        <table width="100%" border="0" cellspacing="00">
                                            <tbody>
                                                <tr>
                                                    <td width="50%" height="20" style="font-size:10px; color:#6f6f6f; padding-left:8px">
                                                        Phone:</td>
                                                    <td width="50%" style="font-size:8px; color:#575757"><?php echo $object->getLandline(); ?> </td>
                                                </tr>
                                                <tr>
                                                    <td height="20" bgcolor="#eeeeee" style="font-size:8px; color:#6f6f6f; padding-left:10px">
                                                        Mobile:</td>
                                                    <td bgcolor="#eeeeee" style="font-size:8px; color:#575757"><?php echo $object->getMobile(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" style="font-size:8px; color:#6f6f6f; padding-left:10px">Component No.:</td>
                                                    <td style="font-size:8px; color:#575757"><?php echo $object->getComponent(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" bgcolor="#eeeeee" style="font-size:8px; color:#6f6f6f; padding-left:10px">
                                                    </td>
                                                    <td bgcolor="#eeeeee" style="font-size:8px; color:#575757"></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" style="font-size:8px; color:#6f6f6f; padding-left:10px"></td>
                                                    <td style="font-size:8px; color:#575757"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:#dadada 2px solid" colspan="3">
                        <table width="100%" border="0" cellpadding="10" cellspacing="1" style="margin-top:25px">
                            <tbody>
                                <tr>
                                    <td width="18%" style="color:#414141; font-size:8px"><strong>Product</strong></td>
                                    <td width="33%" style="color:#414141; font-size:8px"><strong>Model</strong></td>
                                    <td width="15%" style="color:#414141; font-size:8px"><strong>Duration</strong></td>
                                    <td width="17%" style="color:#414141; font-size:8px"><strong>Basic Rate</strong></td>
                                    <td width="17%" style="color:#414141; font-size:8px"><strong>Amount</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#d8d8d8">
                            <tbody>
                                <tr>
                                    <td width="18%" height="30" bgcolor="#FFFFFF" style="color:#414141; font-size:6px">
                                        <?php echo $object->getMainProd(); ?> </td>
                                    <td width="33%" bgcolor="#FFFFFF" style="color:#414141; font-size:6px"><?php echo $object->getServiceProdName(); ?> 
                                    </td>
                                    <td width="15%" bgcolor="#FFFFFF" style="color:#414141; font-size:6px"><?php echo $this->__("%s Months", $object->getContractDuration()); ?></td>
                                    <td width="17%" bgcolor="#FFFFFF" style="color:#414141; font-size:6px">Rs. <?php echo number_format($object->getServiceProdPrice(), 2); ?> </td>
                                    <td width="17%" bgcolor="#FFFFFF" style="color:#414141; font-size:6px">Rs. <?php echo number_format($object->getGrandTotal(), 2); ?> </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" border="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>

                                    <td width="70%" valign="top" style="color:#414141; font-size:8px; padding-top: 50px;">
                                        <strong>Note:</strong> The above rate is inclusive of service tax.</td>
                                    <td width="30%" valign="top" style="color:#414141; font-size:10px; padding:15px 0px 15px">
                                        <table width="100%" border="0">
                                            <tbody>
                                                <tr>
                                                    <td width="50%" height="23"><strong>Total: </strong></td>
                                                    <td width="50%">Rs. <?php echo number_format($object->getServiceProdPrice(), 2); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="23"><strong>Discount: </strong></td>
                                                    <td>Rs. <?php echo number_format($object->getDiscount(), 2); ?></td>
                                                </tr>
                                                <tr>
                                                    <td height="23"><strong>Grand Total:</strong></td>
                                                    <td>Rs. <?php echo number_format($object->getGrandTotal(), 2); ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

<tr>
    <td colspan="3" style="padding:10px 20px; font-size:8px; color:#414141">
        <div style="border-bottom:#dadada 2px solid">
            <p>Received with thanks the sum of Rs. 4950.00 *(Rupees Four Thousand Nine Hundred Fifty Only) product. for 12 Month(s) service contract amount for the above</p>
            <p>This service contract will be valid for the period from 29 May, 2016 To 28 May, 2017</p>
            <p>for EUREKA FORBES LIMITED</p>
            <p>CUSTOMER SERVICE DIVISION</p>
            <p>Obtained by Web</p>
            <p>&nbsp;</p>
            <p><strong>CUSTOMER’S ACCEPTANCE</strong></p>
            <p>By purchasing/renewing the AMC on the web, I/We agree to the terms and conditions of the Service Contract mentioned below.
            </p>
            <p>Date 27 May, 2016</p>
            <p>*This is computer generated invoice and does not contain signature. </p>
        </div>
    </td>
</tr>
<tr>
    <td colspan="3" style="padding:10px 20px; font-size:8px; color:#414141">
        <div style="border-bottom:#dadada 0px solid; font-size:9px; color:#414141">
            <h3 style="color:#343434; text-align:center; font-size:10px;">Terms &amp; Conditions</h3>
            <p>Under this contract , Eureka Forbes Limited undertakes to maintain your product used at the address mentioned above.</p>
            <p>1. This contract provides for free replacement of consumable and periodical service to the product as below:</p>
            <p><img width="100%"></p>
            <p>2. The Contract covers replacement of worn-out/exhausted parts, including Ultra Violet Lamp with new/rectified spares for all products/attachments.</p>
            <p>3. Any additional visits during the contract period as and when required, in the event of any break down/malfunctioning of the equipment on intimation in this regard by the customer.</p>
            <p>4. The Contract shall not cover visits/replacement of parts under the following circumstances:<br>
            </p>
            <ol style="list-style-type:lower-alpha">
                <li style="margin-bottom:7px">Damage caused to the equipment due to floods, fire, accident, riot, breakage , pest, misuse, improper or negligent use, tampering, leakage from pipes etc.
                </li><li style="margin-bottom:7px">Damage caused to the equipment due to failure to observe the operating instructions and precautions as mentioned in User’s Manual. (c) Defects due to usage of  non-recommended spares.
                </li><li style="margin-bottom:7px">Visits for customers re-training, for dismantling or for re-insallation at a different location.
                </li><li style="margin-bottom:7px">Defects/failures resulting from servicing / repairs done by a person other than the authorised representative of Eureka Forbes Limited. (f) Where this equipment is under use for more than 8 hours a day continuously, unless otherwise
                    agreed in writing by Eureka Forbes Ltd. </li><li style="margin-bottom:7px">Replacement of EVA Tube &amp; PL tube, Body parts, Diverter valve and hose pipe of Vacuum Cleaner. With regard to repairing the existing worn-out/defective part(s) or replacing the  same and ascertaining the presence of above circumstances,
                    the decision of Eureka Forbes Limited shall be final. In any such event, Eureka Forbes Limited will submit a prior estimate  for approval or bill for the work carried out at the prevailing rates.
                </li></ol>
            <p>5. The Company or its authorised agents will be entitled to retain any defective parts replaced this contract.</p>
            <p>6. Since under the terms of this contract , the company is liable to supply you free replacement of spare parts in certain circumstances, Sales Tax wherever liable will be borne by Eureka  Forbes Limited.</p>
            <p>7. Services under this contract exclude the following:<br>
            </p>
            <ol style="list-style-type:lower-alpha">
                <li style="margin-bottom:7px">Painting of the body, top and bottom panels, and anodizing the treatment chambers and electronic housing.
                </li><li style="margin-bottom:7px">Chrome plating of the nuts and other styling decorative materials.</li></ol>
            <p></p>
            <p>8. For repairs necessitating the removal of the product or any parts thereof , to Eureka Forbes Limited Service Centre or Factory, there shall be no additional charge for the labour, however, in such cases incidental expenses incurred like freight, packing,
                insurance, octroi, etc., will have to be borne by the customer.</p>
            <p>9. *Gold &amp; Platinum service AMC is applicable only in the State Capital. Gold &amp; Platinum service is not applicable if customer shifts from capital cities to other locations. This service is not  applicable where the water purifier is used for commercial
                purpose.</p>
            <p>10. The equipment must be in good working condition and the same to be certified by the authorised representative of Eureka Forbes Limited, before this contract becomes effective. The  customer shall pay the necessary charges in the first instance for rendering
                the equipment so workable, for which Eureka Forbes Limited will submit an estimate for approval. This c lause does not apply if a contract is renewed from the next day of termination of the warranty period or previous contract period.</p>
            <p>11. The equipment should be made available for servicing as and when our Authorised Service Technician calls on his periodical servicing visit. Failure to do so will be treated as a service  rendered and no refund shall accrue on this account.</p>
            <p>12. Every visit by our Authorised Service Technician will be made within reasonable time from receipt of a complaint for breakdown of the equipment and will be made only during  working hours of our Service Department and no visits will be made on Sunday
                / Holidays.</p>
            <p>13. The liability of Eureka Forbes Limited shall be limited to providing services and replacing spares as covered by this contract. Eureka Forbes Limited shall not be liable for damages,  death, injuries or any consequential damages of what so ever nature
                to any person or property, by use or operation of the product.</p>
            <p>14. In order to enable Eureka Forbes Limited to discharge its obligation under this contract, the customer shall notify in writing any change in his address within 10 days of such change. In  default whereof Eureka Forbes Limited shall not be obliged to
                perform its obligations under this contract till it receives such an intimation from the customer. In such an event the  removal and re-installation of the Product / Attachment will be done at an additional cost as per the rates prevailing on that date.</p>
            <p>15. This contract is neither terminable before the expiry period nor transferable in the event of resale / gift to any other person.</p>
            <p>16. This service contract is offered only within the municipal limits of your city. However, an additional amount of Rs. 100/- will be charged extra for each visit made beyond these limits  but within the metropolitan area and will have to be paid in cash
                to the Service Technician attending for which a cash memo/ bill will be given.</p>
            <p>17. Contract charges are payable by online favoring Eureka Forbes Limited in advance and payment shall accompany the signed copy of the contract and such payment shall be realized  before the commencement of the contract period.</p>
            <p>18. Renewal of the Service Contract after its expiry will be at the sole discretion of Eureka Forbes Limited and Depending upon the model / age of the product and usage period.</p>
            <p>19. It shall not be the responsibility of Eureka Forbes Limited to send any reminder or any such communication to intimate the expiry or renewal of the contract. The onus of renewing the  contract rest with the owner.</p>
            <p>20. In the event of any complaint, please quote your name, address and the contract number to the nearest authorised service centre / call centre.</p>
            <p>21. This contract sets out all the terms and conditions of which Eureka Forbes Limited agrees to service the equipment and cancels and supersedes all prior agreements, undertaking or  arrangements, oral or written between the parties on the subject matter.</p>
            <p>22. Modification and Variation: No-modification or variation of this Contract shall be binding unless it is made in writing and signed by the Contracting Parties.</p>
            <p>23. Force Majeure: Neither party shall be liable for the non-performance of its obligations under this agreement where such failure is due to force majeure i.e. due or attributable to any act of God, orders, restrictions or regulation of Government, central
                or State, war working conditions, hostilities, riots, civil commotion, strike, lock out, labour trouble, explosion, or any other cause or circumstance of whatsoever nature beyond control.</p>
            <p>24. Up-gradation: In case product needs up-gradation due to reason not under control of Eureka Forbes Limited, customer has to accept up-gradation at prevailing rate.</p>
            <p>25. Any date or period of time mentioned in this Contract should unless contended of mutual written be of the essence.</p>
            <p>26. Any disputes are Subject to Mumbai Jurisdiction. Note: Eureka Forbes Limited is registered under ESIC.</p>
            <p><strong>Note:</strong> Eureka Forbes Limited is registered under ESIC.</p>
            <table width="100%" border="0" cellspacing="1" bgcolor="#CCCCCC">
                <tbody>
                    <tr>
                        <td width="33%" bgcolor="#FFFFFF" style="padding:10px">
                            <p><strong>Register your contact number/update details</strong></p>
                            <p></p>
                            <ul>
                                <li style="margin-bottom:10px">Log on to <small><a href="file:///C:/Users/supravat.mondal/Downloads/pdf-01.html#" style="color:#1658b2">www.eurekaforbes.com/Product/Service-Request</a></small>
                                </li><li style="margin-bottom:10px">Call 1860 - 2661177 or 39883333*</li></ul>
                            <p></p>
                            <p><strong>Benefits of registered contact number</strong></p>
                            <p></p>
                            <ul>
                                <li style="margin-bottom:10px">Only a SMS can register your service request, on time
                                </li><li style="margin-bottom:10px">Register service request by call (IVR) wirhin 30 sec
                                </li><li style="margin-bottom:10px">Access ti the service request current status </li><li style="margin-bottom:10px">Access ti the service request current history </li></ul>
                            <p></p>
                            <p style="font-size:11px; margin:0px; text-align:center">*Dial your state capital code</p>
                        </td>
                        <td width="33%" bgcolor="#FFFFFF" style="padding:10px">
                            <p><strong>Diffrent ways to register your service request:</strong></p>
                            <ul>
                                <li style="margin-bottom:15px">Log on to www.eurekaforbes.com </li><li style="margin-bottom:15px">SMS to 8082299333 </li><li style="margin-bottom:15px">Call at 18602661177 or 39883333* </li></ul>
                            <p style="margin-bottom:60px">&nbsp;</p>
                            <p style="font-size:11px; text-align:center">You can rate us/give your feedback at
                                <a href="file:///C:/Users/supravat.mondal/Downloads/pdf-01.html#" style="color:#1658b2">www.eurekaforbes.com</a></p>
                        </td>
                        <td width="34%" bgcolor="#FFFFFF" style="padding:10px"><strong>The name you trust now has a number for your safety......</strong>
                            <p>When any service person claims to be from Eureka Forbes, ask his name, employee code and password</p>
                            <p>Call Eureka Forbes CUSTOMER CONFIDENCE CENTER at 18602663434 and verify the code.</p>
                            <p>If the details match, then welcome him in</p>
                            <strong>WE ASSURE HAPPY, HEALTHY, SAFE AND SECURE FAMILY.</strong> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td colspan="3" style="padding:10px 20px; font-size:8px; color:#414141">
        <p><strong>Service Head Quarters :</strong></p>
        <p style="margin:5px 0px">Schedule No. 42, P-3/C Muneshwara Layout, Haralukunte, Kudlu, Bangalore - 560 068 India
        </p>
        <p style="margin:5px 0px">Tel : 080-30251500</p>
        <p style="margin:5px 0px">Fax : 080-30251550</p>
        <hr>
        <p><strong>Regd. Office :</strong></p>
        <p style="margin:5px 0px">7, Chakraberia Road (South), Kolkata - 700 025 India </p>
        <p style="margin:5px 0px">E-mail : customercare@eurekaforbes.com</p>
        <p style="margin:5px 0px">Website : www.eurekaforbes.com</p>
        <hr>
        <p><strong>Corporate Head Office :</strong></p>
        <p style="margin:5px 0px">B/1/B2, 701, Marathon Innova, Off Ganpatrao Kadam Marg, Lower Parel, Mumbai - 400 013 India</p>
        <hr>
        <p><strong>Service Tax Code No:</strong></p>
        <p style="margin:5px 0px">AACE5767FST001</p>
        <p style="margin:5px 0px">PAN No. : AAACE5767F</p>
        <p style="margin:5px 0px">CIN: U27109WB1931PLC007010</p>
    </td>
</tr>
</tbody>
</table>
</div>
</body>