<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

<div class="col-lg-12 banner-for-all-cpages-header">
    <img class="banner-for-all-cpages" src="<?php echo $this->getSkinUrl('images/banner-amc-login.jpg') ?>">
</div>

<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a href="" title="Go to Home Page">Home</a>
            <span>/ </span>
        </li>
        <li class="home">
            <a href="" title="Go to Home Page">AMC</a>
            <span>/ </span>
        </li>
        <li class="category7">
            <strong>AMC Product</strong>
        </li>
    </ul>
</div>

<div class="main header-main thank-you-container">
    <img src="<?php echo $this->getSkinUrl('images/thank-you-icon.png'); ?>">
    <h4><?php echo $this->__("Thank You"); ?></h4>
    <p><?php echo $this->getResponse(); ?></p>
    <div class="update-detailts-sub-btn">
        <a href="<?php echo Mage::getBaseUrl(); ?>" class="common-btn-yellow proceed-to-pay"><?php echo $this->__("Continue Shopping") ?></a>
    </div>
    
</div>
