<div>
    <ul>
        <?php 
        $parentCategoryId = Mage::registry('current_category')->getId();
        $cat = Mage::getModel('catalog/category')->load($parentCategoryId);
        $subcats = $cat->getChildren();
        ?>
        <?php 
        foreach(explode(',',$subcats) as $subCatid)
                      {
                        $_category = Mage::getModel('catalog/category')->load($subCatid);
          if($_category->getIsActive()) {
        ?>
        <li>
            <h1><?php echo $_category->getName(); ?></h1>
            <a href="<?php echo $_category->getURL(); ?>"><img style="width: 100% ; height: 268px" src="<?php echo $_category->getImageUrl() ?>"></a>
            <p><?php echo $_category->getDescription(); ?></p>
        </li>
        <?php } } ?>
     </ul>
</div>