<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<div class="bestseller-products">

    <div class="category-title"><h2><a href="<?php echo $this->getUrl('') ?>bestseller"><?php echo $this->getHeading(); ?></a></h2></div>

    <?php $_productCollection = $this->getLoadedProductCollection() ?>
    
    <?php if (!$_productCollection->count()): ?>
        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>

        <?php
        $waterpurifier = array();
        $vaccumcleaner = array();
        $airpurifier = array();
        $lifestyleSolution = array();
        foreach ($_productCollection->getItems() as $_product):
            foreach ($_product->getCategoryIds() as $_products):

                if ($_products == 3) :
                    array_push($waterpurifier, $_product);
                elseif ($_products == 4):
                    array_push($vaccumcleaner, $_product);
                elseif ($_products == 5):
                    array_push($airpurifier, $_product);
                elseif ($_products == 6):
                    array_push($lifestyleSolution, $_product);
                endif;
            endforeach;
        endforeach;
        ?>
        <div id="water_purifier_best" style="display: block;">
            <?php if (count($waterpurifier) > 0): ?>

                <?php $_collectionSize = count($waterpurifier) ?>

                <?php
                $sliderFor = 4;
                $productCount = $_collectionSize;
                ?>

                <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
                <?php endif; ?>	

                <ul class="product-carousel" id="waterpurifierbest-carousel">

                    <?php $i = 0;
                    foreach ($waterpurifier as $_product): $i++;
                        ?>

            <?php $_product = Mage::getModel('catalog/product')->load($_product->getEntityId()); ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

                                    <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
            <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
            <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">

                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                            <?php endif; ?>   
                                        <ul class="add-to-links">
            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="Add to Wishlist" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                </li>
                                            <?php endif; ?>
            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="Add to Compare" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                </li>
            <?php endif; ?>
                                        </ul>                 
                                    </div>

                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>

            <?php echo $this->getPriceHtml($_product, true) ?>





                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->
                        </li>

        <?php endforeach ?>
                </ul>

            <?php else: ?>
                <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php endif; ?>
        </div>  
        <div id="vaccum_cleaner_best" style="display: none;">
            <?php if (count($vaccumcleaner) > 0): ?>

                <?php $_collectionSize = count($vaccumcleaner) ?>

                <?php
                $sliderFor = 4;
                $productCount = $_collectionSize;
                ?>

        <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
        <?php endif; ?>	

                <ul class="product-carousel" id="vaccumcleanerbest-carousel">

                    <?php $i = 0;
                    foreach ($vaccumcleaner as $_product): $i++;
                        ?>

            <?php $_product = Mage::getModel('catalog/product')->load($_product->getEntityId()); ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

                                    <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
            <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
            <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">

                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                            <?php endif; ?>   
                                        <ul class="add-to-links">
            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="Add to Wishlist" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                </li>
            <?php endif; ?>
            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="Add to Compare" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                </li>
            <?php endif; ?>
                                        </ul>                 
                                    </div>

                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>

            <?php echo $this->getPriceHtml($_product, true) ?>





                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->
                        </li>

                <?php endforeach ?>
                </ul>

            <?php else: ?>
                <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
            <?php endif; ?>
        </div>  
        <div id="air_purifier_best" style="display: none;">
            <?php if (count($airpurifier) > 0): ?>

                <?php $_collectionSize = count($airpurifier) ?>

                <?php
                $sliderFor = 4;
                $productCount = $_collectionSize;
                ?>

        <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
        <?php endif; ?>	

                <ul class="product-carousel" id="airpurifierbest-carousel">

                    <?php $i = 0;
                    foreach ($airpurifier as $_product): $i++;
                        ?>

            <?php $_product = Mage::getModel('catalog/product')->load($_product->getEntityId()); ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

            <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
            <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">

                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>   
                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="Add to Wishlist" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                </li>
            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="Add to Compare" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                </li>
            <?php endif; ?>
                                        </ul>                 
                                    </div>

                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>

            <?php echo $this->getPriceHtml($_product, true) ?>





                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->
                        </li>

                <?php endforeach ?>
                </ul>

    <?php else: ?>
                <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
            <?php endif; ?>
        </div>  
        <div id="lifestyle_olutions_best" style="display: none;">
            <?php if (count($lifestyleSolution) > 0): ?>

                <?php $_collectionSize = count($lifestyleSolution) ?>

                <?php
                $sliderFor = 4;
                $productCount = $_collectionSize;
                ?>

        <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
                    <?php endif; ?>	

                <ul class="product-carousel" id="lifestyleolutionsbest-carousel">

                    <?php $i = 0;
                    foreach ($lifestyleSolution as $_product): $i++;
                        ?>

            <?php $_product = Mage::getModel('catalog/product')->load($_product->getEntityId()); ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

            <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
            <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">

                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>   
                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="Add to Wishlist" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>

                                                </li>
                                            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="Add to Compare" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>

                                                </li>
            <?php endif; ?>
                                        </ul>                 
                                    </div>

                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>

            <?php echo $this->getPriceHtml($_product, true) ?>





                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->
                        </li>

                <?php endforeach ?>
                </ul>

        <?php else: ?>
                <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php endif; ?>
        </div>  
        <span style="display: none; visibility: hidden;" class="bestseller_default_width"></span>
<?php endif; ?>

</div>
