<?php $order = $this->getOrder(); $order_id = $order->getData('entity_id'); ?>
<div class="entry-edit box-left">
    <div class="entry-edit-head">
        <h4 class="icon-head"><?php echo Mage::helper('sales')->__('SAP Code') ?></h4>
     </div>
     <fieldset class="np">
         <div class="content">
			 
			 <form action="<?php echo Mage::helper("adminhtml")->getUrl('*/sap/update', array('order_id'=>$order_id)) ?>" method="post" id="edit_form">
				<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
				 <p>
					 <input type="text" class="input-text required-entry validate-digits" id="order:sap_id" value="" name="sap_id" style="width:200px" />
					 &nbsp;<button onclick="editForm.submit()">Change</button></p>
				 
			 </form>
            
        </div>
    </fieldset>
    
    
</div>
<div class="clear"></div>

<script type="text/javascript">
    editForm = new varienForm('edit_form');
</script>
