<?php
/**
 * Storelocator template for stores list
 *
 * @author Magento
 */

/**
 * @var $this Bluehorse_Storelocator_Block_List
 * @see Bluehorse_Storelocator_Block_List
 */
?>
<?php
$currentUrl = $this->helper('core/url')->getCurrentUrl();
$explode = explode('?office=', $currentUrl);
if (isset($explode[1]) && $explode[1] == 'corporate') {
    $collection = Mage::getModel('bluehorse_storelocator/storelocator')->getCollection()->addStoreFilter(Mage::app()->getStore()->getId())->addStatusFilter()->addOfficeTypeFilter('corporate');
    ?> 

    <div class="main_inr">

        <div id="content" style="z-index: 999;">
            <div class="locate_bg" style="height:600px; background: url(<?php echo $this->getSkinUrl('images/locate_background.jpg'); ?>) no-repeat ">

                <!-- side menu -->
                <div class="clear">
                    &nbsp;</div>
                <div class="locte-bn">
                    <strong>Locate</strong>
                    <p>
                        We believe in staying connected with our customers and partners at all times.<br>
                        Feel free to reach out to us.</p>
                    
                    <div class="locate_right">
                        <div class="locate_div">
                            <div class="text_box_locate">
                                <h4>
                                    Corporate Office</h4>
                                <?php foreach($collection as $item) { ?>
                                <p>
                                    <?php echo $item->getStreetAddress();?>
                                    <br>
                                    <?php echo $item->getStreetAddress();?><br>
                                    <?php echo $item->getCity().' - '.$item->getZipcode().' India'; ?> <br>
                                    <?php echo 'Tel: +91 '.$item->getPhone();?>
                                </p>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>




        <?php } else { ?>
            <?php
            $markers = array();
            ?>
            <div class="page-title">
                <h1><?php echo Mage::helper('bluehorse_storelocator')->__('Store Locator') ?></h1>
            </div>
            <div class="col-xs-12" style="padding-left:0px; padding-right:0px;"> 
                <div class="country-search">
                    <form role="form" class="form-horizontal" action="<?php echo $this->getPostActionUrl() ?>" method="get" id="addressSearch"> 
                        <div class="col-xs-12 col-sm-5">
                            <label class="col-xs-12 col-sm-3 control-label mob-paddingLR0" for="inputState" style="color:#FFF;"><?php echo $this->__('STATE'); ?></label>
                            <div class="col-xs-12 col-sm-9 mob-paddingLR0">
                                <input type="hidden" id="state_value" value="All">
                                <?php $_state = $this->getState(); ?>
                                <select name="state" id="state" onchange="getCity(this.value);" class="form-control mob-paddingLR0">
                                    <option value=""><?php echo $this->__('-- All State --'); ?></option>
                                    <?php foreach ($_state as $_stateCode => $_stateName): ?>
                                        <option value="<?php echo $_stateCode; ?>" 
                                                <?php if ($this->getFormData()->getState() == $_stateCode): ?>selected="selected"<?php endif; ?>
                                                <?php
                                                if ($this->getFormData()->getState() == $_stateCode):
                                                    $_stateLabel = $_stateName;
                                                endif;
                                                ?>>
                                        <?php echo $_stateName; ?>
                                        </option>
                                        <?php endforeach; ?>
                                </select>                    
                            </div>                  
                        </div>
                        <div class="col-xs-12 col-sm-4">             
                            <label class="col-xs-12 col-sm-2 control-label" for="inputCity" style="color:#FFF;"><?php echo $this->__('CITY'); ?></label>
                            <div class="col-xs-12 col-sm-9">            
                                <?php /* ?><input type="text" name="city" id="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="form-control" /><?php */ ?>
                                <?php $_city = $this->getCity($this->getFormData()->getState()); ?>
                                <input type="hidden" id="city_value" value="All"><?php echo $this->getFormData()->getCity();?>
                                <select name="city" id="city" onchange="getArea(this.value);"  class="form-control mob-paddingLR0">
                                    <option value=""><?php echo $this->__('-- All City --'); ?></option>
                                    <?php foreach ($_city as $_cityCode => $_cityName): ?>
                                        <option value="<?php echo $_stateCode; ?>" 
                                                <?php if ($this->getFormData()->getCity() == $_cityCode): ?>selected="selected"<?php endif; ?>
                                                <?php
                                                if ($this->getFormData()->getCity() == $_cityCode):
                                                    $_cityLabel = $_cityName;
                                                endif;
                                                ?>>
                                        <?php echo $_cityName; ?>
                                        </option>
                                        <?php endforeach; ?>
                                </select>  
                            </div>               
                        </div>
                        <div class="col-xs-12 col-sm-3 mob-paddingLR0">             
                            <button type="submit" title="<?php echo $this->__('Search') ?>" class="btn btn-warning"><span><span><?php echo $this->__('Search') ?></span></span></button>
                            <button type="reset" title="<?php echo $this->__('Reset') ?>" class="btn btn-default" onClick="setLocation('<?php echo Mage::getUrl('*/*/index') ?>')"><span><span><?php echo $this->__('Reset') ?></span></span></button>
                        </div>
                    </form>
                </div>
            </div>



           

            <?php /*             * ************ END GOOGLE MAP ******************************** */ ?>

            <?php
            $class = 'display:none';
            if ($this->getFormData()->getState()) {
                $_state = array();
                $_state[$this->getFormData()->getState()] = $_stateLabel;
                $class = 'display:block';
            } elseif ($this->getFormData()->getCity()) {
                $_state = array();
                $_state = $this->getCountriesByCity($this->getFormData()->getCity());
                $class = 'display:block';
            }
            ?>
            <div class="clear"></div>
            <div class="location-grid">
            <?php $cnt = 1; ?>
    <?php foreach ($_state as $_stateCode => $_stateName): ?>
                    <?php $_cities = $this->getCitiesByStateCode($_stateCode); ?>
                    <?php if (count($_cities) > 0) { ?>
                        <div rel="accordian" class="panel-grid">
                            <div rel="handle" class="panel-title">
                                <a href="javascript:void(0)">
            <?php if ($_stateCode): ?>
                <?php echo ucfirst($_stateCode); ?><br>
                                    <?php endif; ?>
                                </a>
                                    <?php //var_dump($country['value']);?>
                            </div>
                            <div rel="handleContainer" class="panel-detail" style="<?php echo $class; ?>">
                                <?php $_storeCollection = $this->getCitiesByStateCode($_stateCode); ?>
                                <ul>
                                <?php foreach ($_storeCollection as $store): ?>
                                        <li class="store-list">
                                            <h6><a href="javascript:void(0);"><?php echo $this->escapeHtml(ucfirst($store->getName())) ?></a></h6>
                                            <p>
                                                <!-- country -->
                <?php if ($store->getCountry()): ?>
                    <?php echo ucfirst($this->getCountryName($store->getCountry())); ?><br>
                                                <?php endif; ?>
                                                <!-- State -->
                                                <?php if ($store->getState()): ?>
                                                    <?php echo $this->escapeHtml(ucfirst($store->getState())); ?><br>
                                                <?php endif; ?>			
                                                <!-- City -->
                                                <?php if ($store->getCity()): ?>
                                                    <?php echo $this->escapeHtml(ucfirst($store->getCity())); ?><br>
                                                <?php endif; ?>
                                                <!-- Store Address -->
                                                <?php if ($store->getStreetAddress()): ?>
                                                    <?php echo $this->escapeHtml($store->getStreetAddress()) ?><br>
                                                <?php endif; ?>

                                                <!-- Zip Code -->
                                                <?php if ($store->getZipcode()): ?>
                                                    Zip Code:<?php echo $this->escapeHtml($store->getZipcode()) ?><br>
                                                <?php endif; ?>
                                                <!-- Phone -->
                                                <?php if ($store->getPhone()): ?>
                                                    Phone:<?php echo $this->escapeHtml($store->getPhone()) ?><br>
                                                <?php endif; ?>

                                            </p>
                                                
                                        </li>
                                        <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
        <?php } ?>
        <?php $cnt++; ?>
                <?php endforeach; ?>
            </div>
            <?php } ?>
        <script>

            function getCity(state)
            {
                jQuery('.panel-grid').css('display', 'none');
                jQuery('.panel-grid').has('p:contains("' + state + '")').css('display', 'block');
                jQuery('.panel-detail').has('p:contains("' + state + '")').css('display', 'block');
                jQuery('.store-list').css('display', 'block');
                if (state == "") {
                    jQuery('.panel-grid').css('display', 'block');
                    jQuery('.panel-detail').css('display', 'none');
                    jQuery('.first-pan').css('display', 'block');

                }
                document.getElementById('state_value').value = state;
                //document.getElementById('wait1').style.display="block";
                var url = "<?php echo Mage::getBaseUrl(); ?>storelocator/index/city";
                new Ajax.Request(url, {method: 'post', parameters: {state: state}, onSuccess: function (transport)
                    {
                        var json = transport.responseText.evalJSON(true);
                        var namelistAll = json.namelist;
                        var nameList_str = String(namelistAll);
                        var store_name = new Array();
                        store_name = nameList_str.split(",");

                        var addresslistAll = json.fulladdress;
                        var addressList_str = String(addresslistAll);
                        var addressList_name = new Array();
                        addressList_name = addressList_str.split("$");

                        var citylat = json.citylat;
                        var citylng = json.citylng;
                        var citylat_str = String(citylat);
                        var citylng_str = String(citylng);
                        var lat = new Array();
                        lat = citylat_str.split(",");
                        var lng = new Array();
                        lng = citylng_str.split(",");
                        if (state == 'All')
                        {
                            //load(lat,lng,4,addressList_name,store_name,1);                                                              
                        } else
                        {
                            //load(lat,lng,3,addressList_name,store_name,2);
                        }
                        if (200 == transport.status)
                        {
                            // document.getElementById('wait1').style.display="none";
                            jQuery("#city").html(json.html);
                            //if(state == "All")
                            {
                                jQuery("#area").html(json.html);
                            }
                            //else
                            {
                                // jQuery("#city option[value='All']").attr("selected","selected");
                                // jQuery('#active_city').text('All');
                            }
                        }

                    }
                });
            }

            function getArea(city)
            {
                var state = document.getElementById('state_value').value;
                if (city == "All") {
                    jQuery('.store-list').css('display', 'block');
                } else
                {
                    jQuery('.store-list').css('display', 'none');
                    jQuery('.store-list').has('p:contains("' + state + '"):contains("' + city + '")').css('display', 'block');
                }
                document.getElementById('city_value').value = city;
                // document.getElementById('wait1').style.display="block";
                if (city != 'All') {
                    var url = "<?php echo Mage::getBaseUrl(); ?>storelocator/index/area";
                } else {
                    var url = "<?php echo Mage::getBaseUrl(); ?>storelocator/index/city";
                }
                new Ajax.Request(url, {method: 'post', parameters: {state: state, city: city}, onSuccess: function (transport)
                    {
                        var json = transport.responseText.evalJSON(true);
                        var namelistAll = json.namelist;
                        var nameList_str = String(namelistAll);
                        var store_name = new Array();
                        store_name = nameList_str.split(",");

                        var addresslistAll = json.fulladdress;
                        var addressList_str = String(addresslistAll);
                        var addressList_name = new Array();
                        addressList_name = addressList_str.split("$");

                        if (city != 'All') {
                            var arealist = json.allarea;
                            var arealat = json.arealat;
                            var arealng = json.arealng;
                            var arealat_str = String(arealat);
                            var arealng_str = String(arealng);
                            var lat = new Array();
                            lat = arealat_str.split(",");
                            var lng = new Array();
                            lng = arealng_str.split(",");
                        } else {
                            //////////////////for all area//////////////////////                                    
                            var citylat = json.citylat;
                            var citylng = json.citylng;
                            var citylat_str = String(citylat);
                            var citylng_str = String(citylng);
                            var lat = new Array();
                            lat = citylat_str.split(",");
                            var lng = new Array();
                            lng = citylng_str.split(",");
                        }
                        /////////////////////for all area//////////////////
                        var country = document.getElementById('country_value').value;
                        if (city == 'All') {
                            load(lat, lng, 8, addressList_name, store_name, 2);
                            //getCity('All');                                                             
                        } else
                        {
                            load(lat, lng, 3, addressList_name, store_name, 2);
                        }
                        if (200 == transport.status)
                        {
                            document.getElementById('wait1').style.display = "none";
                            vJSONResp = transport.responseText;
                           
                        }
                    }
                });
            }




        </script>