/* Media for 980px to 1023px */
/* 980px <= width < 1023px */
@media only screen and (min-width:1259px) {

.tp-caption img{width:auto !important;height:auto !important;}
.banner_head1{color:#2271B2;font-size:32px !important;text-transform:uppercase;font-weight:bold;}
.banner_head2{color:#4A4D4F;font-size:32px !important;text-transform:uppercase;font-weight:bold;}
.banner_content{color:#666666;font-size:14px !important;}
.banner_botton{
border:1px solid #E8C304 !important;
background: #fff205; /* Old browsers */
background: -moz-linear-gradient(top, #fff205 0%, #fad603 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff205), color-stop(100%,#fad603)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fff205 0%,#fad603 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fff205 0%,#fad603 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fff205 0%,#fad603 100%); /* IE10+ */
background: linear-gradient(to bottom, #fff205 0%,#fad603 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff205', endColorstr='#fad603',GradientType=0 );  IE6-9 */
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius:5px;
color:#216BA9 !important;
text-transform:capitalize !important;
font-size:15px !important;
font-family:'Open Sans' !important;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1258px)
{
.nav-inner, .main,.footer,.header-bottom,.header_top,.special_navigation,.inner_sub_cms,.footer_bottom_link,.footer_top{ width:980px;  }
.col-main { float:left; width:750px;}
.col-left { float:left; width:210px;}
.col-right { float:right; width:210px; margin-left:0;}
.header_cms{float:right;margin-top:18px;margin-bottom:10px;display:block;}
.header-cart,.header .form-search{margin-top:4px;}
.cms-home .category-products li.item{width:297px !important;}
.cms-home .category-products .product-block{width:100% !important;border-bottom:none;height:250px !important;}
.cms-home .category-products{width:292px;height:342px;}
.category-products .bx-viewport{height:276px !important;}
.best_product_block,.best_product{width:470px;}
.best_product li.center{margin:0 10px;}
.best_product li{width:143px;}
.best_product img,.cms_banner_right img{width:100%;height:auto;}
.cms_banner_right{width:68%;}
.cms_newsletter{margin-left:0px;width:940px;}
.f_cms{width:172px;}
.footer_link_center{margin:0 10px;width:470px;}
.footer_link_information{margin:0 10px;}
.c_block{width:150px;}
.header .header-cart #panel{top:108px;}
.category-image img{width:100%;}
.sidebar .block-banner img{width:100%;}
.products-list li .list-center{width:352px;}
.info3col-data{width:100%;}
.info_banner{float:left;margin:0 20px;}
.col1-layout .product-view .product-shop{width:560px;margin:0px;}
.cart .cart-collaterals .col1-set{width:315px;}
.cart .cart-collaterals .col2-set{width:644px;}
.cart .totals{width:310px;}
.shopping_CMS_main1 img{width:100%;}
.header .form-search{clear:none;}
.header-cart{clear:both;display:block;}
.header .quick-access{width:620px;}
.info3col-data .block-related{margin-top:0px;margin-left:10px;}
.cms-home .category-products{margin-left:20px;}
.flexslider {width:648px !important;}
.category-products .product-carousel .product-block-inner img{width:100px;height:100px;}
.category-products .bx-wrapper{padding:0px;}
.cms-home .category-products{height:276px;}
.sub_cms.sec{margin:0 15px 0 19px;}
.category-products .bx-controls-direction a.bx-prev{left:120px;}
.category-products .bx-controls-direction a.bx-next{left:120px;bottom:0px;}
.sub_cms{width:28%;}
.cate_right{margin-left:0px;clear:both;}
.sub_cms_img{margin-bottom:10px;}
.home_right_cms_product ul li{min-height:125px;padding:5px 0;}
.cms_product_left img{width:140px;}
.home_right_cms_product{width:300px;}
.footer_cms_news,.footer_contact_us,.cms_newsletter{width:31%;}
.footer_cms_news,.footer_contact_us{margin-right:14px;}
.footer_contact_us{float:left;}
.block-subscribe input.input-text,.validation-advice {width:170px;}
.all_cate{float:left; margin:5px 13px 0px;}
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {

.nav-inner, .main,.col-main, .footer,.header-bottom,.header_top,.special_navigation,.inner_sub_cms,.footer_bottom_link,.footer_top{ width:940px;  }
.footer_link_quick h6{overflow:hidden;}
.header{width:100%;}
.col-main { float:left; width:750px;}
.col-left { float:left; width:180px;}
.col-right { float:right; width:180px; margin-left:0;}

.col3-layout .col-main { width:520px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:720px; }
.product-view .product-shop{ width:432px; }
.col1-layout .product-view .product-shop{ width:623px; }
.block-banner img{ max-width:100%; }

#footer .footer-area{ width:100%; }
.col1-layout .product-view .product-shop{ width:485px; }
.cart .cart-collaterals .col1-set , .cart .cart-collaterals .col2-set , .cart .totals{ width:100%; }

/**/
.footer .mobile_togglemenu{ display:block; }
#footer ul{ display:none; margin-bottom:10px; }
/**/
.header-bottom{min-height:175px;text-align:center;}
.header-bottom{text-align:center;}
.header h1.logo,.header a.logo{width:auto; float:none;}
.header a.logo{display:inline-block;}
.header .quick-access{float:none;display:inline-block;text-align:left;width:740px;}
/**/
.cms-home .category-products li.item{width:277px !important;}
.cms-home .category-products .product-block{width:100% !important;}
.cms-home .category-products{width:272px;height:auto;margin-left:20px;}
.category-products .bx-viewport{height:266px !important;}
.cms-home .category-products .product-block{border-bottom:none;}
.cms-home .category-products .product-block{height:247px !important;}
.best_product_block,.best_product{width:550px;}
.best_product li{width:163px;}
.cms_banner_right{width:67%;}
.cms_banner_right img{width:100%;}
.cms_newsletter{width:96%;padding:2%;margin:0px;}
.f_cms{width:164px;}
/**/
.footer_link_left,.footer_link_center,.c_block,.footer_link_information,.footer_link_right{width:100%;border:none;margin:0px;padding:0px;}
.cms_banner_right img{width:100%;}
.products-list li .list-center{width:340px;}
.header .header-cart #panel{top:158px;}
.info3col-data{width:100%;}
.info_banner{float:left;margin:0 20px;}
.info3col-data .block-related{margin-top:0px;margin-left:10px;}
.best_banner1,.best_banner2{width:170px;margin-top: 30px;}
.best_banner1 img,.best_banner2 img{width:100%;}
.flexslider{width:625px !important;}
.category-products .bx-wrapper{padding:0px;}
.category-products .product-carousel .product-block-inner img{width:100px;height:100px;}
.sub_cms.sec{margin:0 9px 0 19px;}
.category-products .bx-controls-direction a.bx-prev{left:120px;}
.category-products .bx-controls-direction a.bx-next{left:120px;bottom:-5px;}
.sub_cms{width:28%;}
.sub_cms_img{margin-bottom:10px;}
.cms_prod_desc{margin:0px;}
.cms_product_left img{width:125px;}
.home_right_cms_product ul li{min-height:127px;padding:3px 0;}
.home_right_cms_product{width:282px;}
#footer h6{position:relative;}
.footer_cms_news,.footer_contact_us,.cms_newsletter{width:31%;}
.footer_cms_news,.footer_contact_us{margin-right:14px;}
.footer_contact_us{float:left;}
.block-subscribe input.input-text,.validation-advice {width:155px;}
.all_cate{float:left; margin:5px 13px 0px; clear:both;}
#footer h6{position:relative;  border-bottom: 1px dashed #bbb;}
}

@media only screen and (max-width: 979px){

.nav-inner, .main, .footer,.header-bottom,.header_top,.special_navigation,.footer_bottom_link,.footer_top{ width:724px;  }
.footer_link_quick h6{overflow:hidden;}
.header{width:100%;}
.footer{ padding:0; }
.col-main , .col3-layout .col-wrapper{ width:549px;}
.col3-layout .col-main{ width:374px; }  
.col-left,.col-right { width:165px;}

#advancedmenu{ display:none; }
.advanced_nav{ display:block; }
#zoom-btn , .mousetrap {display:none !important; }
.quickshop-index-view .mousetrap {display:block !important; }
#zoom1 {cursor:default !important; }

.header .quick-access{ width:100%; }
.footer .mobile_togglemenu{ display:block; }
#footer ul{ display:none; margin-bottom:10px; }
#footer .footer-area{ width:100%; margin-right:0; }
.products-list li .list-center{ width: 100%;padding:0px;}
.product-view .product-shop{   width: 100%; }
.cart .cart-collaterals .col2-set, .cart .totals{ width:100%; }
.checkout-progress{ padding: 0 10px; }
.form-list li.wide select , .form-list li.wide .input-box {width: 400px;}
.gift-messages-form .item .details .form-list li.wide .input-box , .form-list li.wide input.input-text{ width:100%; }
.col1-layout .product-view .product-shop{ width: 395px;margin:10px 0 0 0;}
.padder h6 { display:block; padding:6px 8px;line-height: 25px; margin-bottom:0px;}
.product-view .tabs{ display:none !important; }
.contacform{ width:100%; margin-bottom:10px; padding:0; margin-right:0; border:none; }
.googlemap{ width:100%;margin-bottom:10px;  }
.block-banner img , .category-image img{ max-width:100%;}
.toolbar .pager .pager_right{ float:left; margin-top:8px; clear:both; }
.footer_bottom ul.links{display:block;text-align:center; float:none; margin-bottom:5px; }
.footer address{ float:none;text-align:center; clear:both; }
.product-collateral .padder{ padding-left:0; padding-right:0; }
.padder ol{ display:none; margin-bottom: 15px; padding:10px; border:1px solid #dbdbdb;}
.padder > div{ display:block !important;  margin-bottom:10px;}
#footer .block-subscribe input.input-text{ width:98%; }
.block-subscribe .block-title strong {    display: inline;}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box{ width:90%; }
/**/
.header .logo{width:100%;text-align:center;}
.header-bottom{min-height:174px;}
.header .form-search{width:358px;}
.header .form-search input.input-text{width:311px;}
/**/
.cms-home .category-products li.item{width:207px !important;}
.cms-home .category-products .product-block{width:100% !important;}
.cms-home .category-products{width:205px;height:auto;margin-left:20px;}
.category-products .bx-viewport{height:206px !important;}
.cms-home .category-products .product-block{border-bottom:none;}
.cms-home .category-products .product-block{height:280px !important;}
.category-products .bx-controls-direction a.bx-prev,.category-products .bx-controls-direction a.bx-next{left:40%;}
.inner_sub_cms{width:724px;}
.sub_cms.sec{padding:18px 8px 18px 12px;margin:0 14px 0 15px;}
.sub_cms{width:31%;padding:18px 0;}
.cms_banner_left{padding:2%;width:96%;margin:10px 0;}
.cms_banner_right,.cms_banner_right img{width:100%;}
.footer_link_left,.footer_link_center,.c_block,.footer_link_information,.footer_link_right{width:100%;border:none;margin:0px;padding:0px;}
.footer_top{clear:both;}
.footer_cms_news,.shopping_CMS_main1 img{width:100%;padding-right:0px;}
.cms_newsletter{padding:4%;/*width:92%;*/margin-left:0px;}
.footer_cms_news{margin-right:0;}
.f_cms{padding:15px 2%;width:96%;}
.f_cms:hover{ transform: scale(1.03); -webkit-transform: scale(1.03); -moz-transform: scale(1.03); -ms-transform: scale(1.03); -o-transform: scale(1.03);}
.best_product_block{margin-right:0px;}
.header .header-cart #panel{top:160px;}
tm_headerlinkmenu ul.links{display:none !important;}
.header_top{height:110px;text-align:center}
.header .links,.header .tm_top_currency,.header .form-language{display:inline-block;float:none;}
.header .welcome-msg{display:block;float:none;margin:0px;}
.cart .cart-collaterals .col1-set,.send-friend .form-list{width:100%;}
.send-friend .form-list li.wide textarea{width:80%;}
#my-orders-table{float:left;overflow:auto;}
#my-orders-table colgroup{width:100%;}
.info3col-data .block-related{margin-top:0px;margin-left:0px;}
.responsive-menu li a{padding:4px 9px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;} 
.cms_cont{clear:both;}
.sub_cms .sub_cms_img{margin:0 auto;float:none;}
.sub_cms_right{text-align:center;}
.best_banner1{width:50%;}
.best_banner1 a,.best_banner2 a{display:block;text-align:center;}
.best_banner2{width:50%;margin-left:0px;}
.flexslider{width:478px !important;}
.category-products .product-carousel .product-block-inner img{width:60px; height:60px;}
.category-products .bx-wrapper{padding:0px;}
.cate_right{margin-left:0px;clear:both;}
.home_right_cms_product ul li.last{display:none;}
.home_right_cms_product ul li{border:none;}
.home_right_cms_product{width:213px;}
.cms_product_left img{width:90px;}
.cms_product_left{float:none;margin-right:0px;text-align:center;}
.home_right_cms_product ul li{padding:5px 0;}
.cms_product_right{text-align:center;}
#footer h6{position:relative;  border-bottom: 1px dashed #bbb;}
.footer_contact_us,.cms_newsletter{width:44%;}
.footer_contact_us{margin-right:29px;}
.block-subscribe input.input-text,.validation-advice {width:185px;}
.all_cate{float:left; margin:5px 13px 0px;}
.header-bottom{min-height:175px;text-align:center;}
.header-bottom{text-align:center;}
.header h1.logo,.header a.logo{width:auto; float:none;}
.header a.logo{display:inline-block;}
.nav-responsive span{padding-left:17px; padding-right:17px;}
.opc .step{overflow:auto;}
#checkout-step-billing,#checkout-step-shipping{overflow:auto;}
.box-account,.multiple-checkout{overflow:auto;}
.product-collateral .padder{border:none;}
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {

.nav-inner, .main,  .footer ,.header-bottom,.header_top,.cms-home .special_navigation,.footer_bottom_link,.special_navigation,.footer_top{ width:auto;  margin:0 15px;  }
.header,.inner_sub_cms{width:100%;}
.col-left ,.col-right  ,.col-main{ width:100%;}
.col-main{ margin-bottom:10px; }
.col-left .block-content ,.col-right .block-content{ display:none; }
.col3-layout .col-wrapper , .col-main , .col3-layout .col-main{  width:100%;}
.toggle .mobile_togglecolumn {
display: block;
}
.block-banner{ display:none; }
#search_mini_form{display:block;}

/********** Header Setting *************/
.header .logo{  margin: 0 auto;
text-align: center;
text-decoration: none !important;
float:none;}
.header-bottom{padding:20px 0 0;min-height:144px;text-align:center;}  
.header_cms{float:none;display:inline-block;margin:0px;}
.header .quick-access{ margin:10px 0;text-align:center; }
.header .quick-access , .header .form-search , .header .form-search input.input-text{  width:100%; }

.header .form-search{margin-right:0px;width:320px;margin-top:14px;float:none;display:inline-block;}
.header .form-search input.input-text{width:273px;}
.header_top{ height:100px; }
.header .welcome-msg{ float:none; width:94%; text-align:center;margin:10px 0; position:absolute;}
.header .links{ display:none; float:none; text-align:left; position:absolute; background:#fff;border:1px solid #E6E6E6;margin:0; top:44px; width:182px; right:0; }
.tm_headerlinks_inner{ display:block; cursor:pointer; padding:12px 0;  }
.header .links li{ display:block; float:none; background:none; padding:0px !important }
.header .links li a{ text-decoration:none; padding: 5px 10px; display:block;background:none;}
.header .links li a:hover{ background:#DDDDDD; } 
.header .tm_top_currency{border-right:1px solid #CFCFCF;}
.header .tm_top_currency , .header .form-language{ float:left; text-align:center; }
.header .tm_top_currency , .header .form-language {
width:25%; margin:0 0px 0 0px;  position:relative; background:#E4E4E4; top:50px; padding: 0px;} 
.form-language .sbHolder, .tm_top_currency .sbHolder{ border:none; padding:0 0 0 0; background:none; float:none; }
.form-language .sbHolder > a, .tm_top_currency .sbHolder > a{  color:#666; text-align:center; padding:10px 0; top:11px; }
.form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{ width:181px; left:0; top:44px !important; text-align:left; }
.header-cart , .tm_headerlinkmenu {
float: right;
margin: 0 -1px 0 0;
position: absolute;
right: 0;
top: -51px;
width:25%;
background:#E4E4E4; 
padding:0;
border-left: 1px solid #CFCFCF;
border-right: 1px solid #CFCFCF;
}
.cart_label{color:#666;border:none;background:#E4E4E4; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; -khtml-border-radius:0px;}
.header-cart{border-right:none;}
.tm_headerlinkmenu{ right:25%;}
.cart_mini_right{ background:none; padding:10px 0 10px; color:#fff; margin:0 0 0 1px; border:none; float:none; text-align:center; }
.header .header-cart #panel{ top:44px;z-index:9; }
.cart_mini_right .price{ display:none;}
.cart-label{border:none;background:#E4E4E4;border-radius:0px;-webkit-border-radius:0px; -moz-border-radius:0px; -khtml-border-radius:0px;}
/********** Header Setting *************/
.products-list li .list-center {    margin-top: 15px;    width: 100%;}
.col2-set .col-1 , .col2-set .col-2,.box-account .col2-set .col-1{  width:100%; }
.box-account .col2-set .col-1{ padding-right:0; border:none; margin-bottom:15px;}
.order-info-box .col-1{ margin-bottom:15px; }
.product-view .product-img-box { margin:0 auto 20px; float:none; }
.product-shop{ width:100% !important;}
.header .form-language label , .header .tm_top_currency label { display:none !important; }

#super-table{ clear:both; }
#new-wishlist-table .add-to-cart-alt button.button span{ width:auto !important;  }
.form-list li.wide textarea,.best_product_block,.best_product{ width:100%; }
.form-list li.fields .name-firstname{ margin-bottom:10px; }
.cms-home .category-products{display:none;}
.flexslider{width:100% !important;}
.best_banner1,.best_banner2{display:inline-block;float:none;margin:5px;width:auto;}
.best_cms_block{text-align:center;}
.best_product_block{text-align:left;}
.sub_cms.sec{padding:18px 2%;border:none;margin:0 11px 0 21px;}
/*#footer h6{margin-bottom:0px;}*/
.footer_tweeter,.send-friend .form-list li.wide .input-box{width:100%;}
/*.header #toplinks1 a{ background-position: -1px -713px;padding-left: 32px;}
.header #toplinks2 a{ background-position: -1px -745px;padding-left: 32px;}
.header #toplinks4 a{ background-position: -1px -780px;padding-left: 32px;}
.header #toplinks5 a{ background-position: -1px -814px;padding-left: 32px;}*/
#toplinks1 a:hover,#toplinks2 a:hover,#toplinks4 a:hover,#toplinks5 a:hover{background:none;}
.products-list li .list-right{text-align:left;}
.info3col-data{width:100%;margin:10px 0;}
.info_banner{float:left;margin:5px;}
.product_info_block{margin:5px;}
.checkout-cart-index .cart > form{float:left;overflow:auto;width:100%;}
.block .block-title strong{padding:5px 0;}
#my-orders-table colgroup{width:100%;}
.aboutus{margin-top:0px;}
#tm_quickshop_handler{display:none !important;}
.sub_cms .sub_cms_img{margin:0 auto;float:none;}
.sub_cms_right{text-align:center;}
.sub_cms{width:30%;}
.best_product li{width:31%;}
.best_product li.center{margin:0 2%;}
.best_product img{max-width:100%;}
.products-list .availability{text-align:left;}
.sub_cms_block,.std .tabbernav,.home_right_cms_product{display:none;}
.home-content-tab{margin-top:20px;}
.featured-products .category-title h2, #special_product .category-title h2, #bestseller_product .category-title h2,.featured-products, #special_product, #bestseller_product{display:block !important;}
.header .sbSelector:link, .header .sbSelector:visited, .header .sbSelector:hover{color:#666;}
.header .sbToggle{background:url("../../images/drop_up.png") no-repeat scroll center 9px transparent;}
.header .sbToggleOpen{background:url("../../images/drop_down.png") no-repeat scroll center 9px transparent;}
.sidebar .block{margin:0;}
.footer_contact_us,.cms_newsletter{width:auto;}
.footer_contact_us{margin-right:0px;}
.footer_top_cms{text-align:center;}
.footer_cms_news,.footer_contact_us,.cms_newsletter{text-align:left;}
.footer_contact_us{margin-bottom:10px;}
.cms_newsletter{display:inline-block; float:none;}
.header-cart .right_arrow{background-position:center 4px;}
.product-carousel .product-block .actions, .products-grid li .product-block .actions{opacity:1; -webkit-opacity:1; -moz-opacity:1; -khtml-opacity:1;}
.ie8 .product-carousel .product-block .actions,.ie8 .products-grid li .product-block .actions{display:block;}
.pager .pager_right .sort-by{margin-left:10px; }
col{display:block;}
}

@media only screen and (max-width: 640px){

#shopping-cart-table thead, #checkout-review-table thead, #my-orders-table thead, #multiship-addresses-table thead{
    display: none;
}
#shopping-cart-table tbody tr td, #checkout-review-table tbody tr td, #my-orders-table tbody tr td ,
#multiship-addresses-table tbody tr td{
    border-bottom: 1px solid #DDDDDD !important;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
#shopping-cart-table tbody tr, #shopping-cart-table tbody tr td,
#checkout-review-table tbody tr, #checkout-review-table tbody tr td ,
#my-orders-table tbody tr, #my-orders-table tbody tr td,#multiship-addresses-table tbody tr ,
#multiship-addresses-table tbody tr td {
    /*display: block;*/
    text-align: center !important;
	border-top:none;
}
#shopping-cart-table /*tbody*/ tr td,#checkout-review-table /*tbody*/ tr td,#my-orders-table  /*tbody*/ tr td,
#multiship-addresses-table /*tbody*/ tr td{
display:block;
}
.cart-table .btn-update, .cart-table .btn-empty {
float: left;
clear: both;
margin: 5px 0px;
}
.cart-table .btn-update{margin:5px 0px 0px;}
#shopping-cart-table  .btn-remove2 {  margin: 0 auto; }
#shopping-cart-table .item-options dt ,
#checkout-review-table .item-options dt ,
#my-orders-table .item-options dt ,
#multiship-addresses-table .item-options dt{float: none; margin:0 auto;}
#multiship-addresses-table .btn-remove2{left:0px;right:0px; margin:0 auto;}
#shopping-cart-table  .btn-remove2 {margin: 0 auto;}
.item-options dd{padding:0px;}
#shopping-cart-table a.product-image{border:none;}
.multiple-checkout {
    display: inline-block;
    float: left;
    overflow: auto;
    width: 100%;
}
#checkout_multishipping_form button.button,#shipping_method_form button.button,
#multishipping-billing-form button.button,
.multiple-checkout button.button{float:left; clear:both; margin:5px 0;}  
button#review-button {float: none;} 
.data-table tfoot td {border-bottom:1px solid #e6e6e6; border-right:none;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/*.form-list li.wide .input-box{width: 260px;}*/
.form-list li.wide input.input-text{ width: 250px;}
.form-list #billing-new-address-form .field, #billing-new-address-form .form-list .input-box{width:385px;}
.form-list #billing-new-address-form input.input-text{width:360px;}
}

/* Landscape phones and down */
@media only screen and (max-width: 479px) {
.form-list .field , .form-list .input-box ,.form-list li.wide .input-box { width:100% !important; }
.form-list input.input-text , .form-list li.wide textarea, .form-list select , .tm_responsive_row select , 
.product-view .box-tags .form-add input.input-text{width:90% !important; }
.cart_mini_right{ display:none; }
.cart-label{ background: url("../../images/cart-respo.png") no-repeat scroll center center;
height: 20px;
margin: 0 auto;
padding: 12px 0;
text-align: center;
cursor:pointer; 
}
.checkout-progress{ padding:0 50px; }
.checkout-progress li{width:100% ;margin:0 0px 5px 0;}
.cart_mini_right .price{ display:none; }
.tm_responsive_row label , .tm_responsive_row span{width:100% ;margin:0 0px 5px 0;  }
.tm_responsive_row span .separator{ display:none;}
.gift-messages-form .item .details{ margin-left:0; margin-top:15px; }
.product-view .product-img-box{ width:271px; }
.product-view .product-img-box .product-image img{ width:100%; }
.email-addto-box .email-friend{ float:none; margin-bottom:8px; }
.googlemap iframe{ width:100%  !important; }
.col3-set .col-1 , .col3-set .col-2 , .col3-set .col-3 { width:100%; margin-bottom:10px; }
.my-wishlist textarea{ width:90% !important; }
#my-tags-table td , #my-reviews-table td{ display:block; }
.additional-carousel .slider-item .product-block img{ margin:0 auto; text-align:center; display:block;  }
.product-view .product-shop .availability{ float:none; text-align:left; }
#product-review-table .nobr{  white-space: normal !important; }
#product-review-table td , .data-table thead th{  padding: 5px 3px; }
#product-review-table{ margin:10px 0; }
.buttons-set .back-link{ margin-bottom:10px; margin-right:10px; }
.buttons-set button.button{ float:left; margin-left:0; }
.pager .limiter{ margin:5px 0; float:left;}
.pager .pager_right .sort-by{ float:left; clear:both;}
.products-list li .list-right,.sub_cms{ width:100%; }
.pager .pages{float:left; clear:both;}
/**/
.header-bottom .logo img{width:280px;}
.header .form-search{width:252px;}
.header .form-search input.input-text{width:204px;}
.sub_cms.first,.sub_cms.sec,.sub_cms.last{padding:0px;border:none;margin:10px 0;}
.best_product ul li{float:none;display:inline-block;text-align:left;}
.best_product ul{text-align:center;}
/*#footer h6, #footer .block .block-title strong{padding:0 5px 0 0;}*/
#footer h6{padding-bottom:10px;}
.block-subscribe input.input-text{border:1px solid #E4E4E4;}
.product_info_block{padding:4%;width:92%;margin:0px;}
.info_banner{display:none;}
.multiple-checkout .col2-set .col-wide .data-table{float:left;overflow:auto;}
#my-reviews-table colgroup col,.footer_contact_us,.product-carousel .product-block .product-image img, .products-grid li .product-block .product-image img{width:100%;}
.product-review .product-details{clear:both;margin-left:0px;}
.info3col-data .block-related{width:100%;margin-top:10px;}
.cms_cont{clear:none;}
.sub_cms_block{display:none;}
.best_product li{width:220px;}
.best_banner1,.best_banner2{width:43%; margin:10px;}
.best_banner1{float:left;}
.best_banner2{float:right;}
.best_banner1 img,.best_banner2 img{max-width:100%;}
.block-subscribe input.input-text, .validation-advice{width:133px;}
.cms_newsletter{padding:2%;}
.cms_newsletter .block{padding:9px;}
.form-list .input-range input.input-text{margin:5px 0;}
button#send2,#checkout-step-login button.button{ float:left; clear:both; margin:5px 0;}
.link-print,.sales-order-view .title-buttons .separator{float:left;} 
span.nobr .link-reorder,#order-table .link-reorder{float:none;}
.link-reorder{float:left; clear:both;}
.page-popup .link-print{clear:both;}
#products-list .list-center .add-to-links li .compare_icon{margin-left:9px;}
.sales-order-history .pager .limiter,.tag-customer-view .pager .limiter,.downloadable-customer-products .pager .limiter,.review-customer-index .pager .limiter{clear:both; margin:5px 0;}
#my-tags-table .add-to-links{display:inline-block; vertical-align:middle; margin:0;}
.my-wishlist .buttons-set button.button{float:left; clear:both; margin:5px 0;}
.my-wishlist .buttons-set2 button.btn-share,.my-wishlist .buttons-set2 button.btn-add,
.my-wishlist .buttons-set2 .button.btn-update{float:left ; clear:both; margin:5px 0;}
#add_recipient_button {float:left; clear:both;}
.cart .title-buttons .checkout-types{float:left; clear:both; }
.cart .title-buttons .checkout-types li{float:left; margin:5px 0;}
#review-buttons-container button.button.btn-checkout{clear:both; margin:5px 0;}
}

/* Mobile Landscape Size to Mobile Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) { }
@media only screen and (max-width: 319px){
.header-cart .right_arrow{ padding:0; background:none; }
.cart .discount .input-box { width:100% !important; }
#footer .block-subscribe input.input-text , .form-list textarea , .cart .discount input.input-text{  width:95%;}
.checkout-progress{ padding:0 10px; } 
.opc .step{ padding:15px 15px; } 
.product-view .product-img-box , .product-view .product-img-box .product-image img{ width:100%; } 
.product-view .product-shop .add-to-links li{ display:block;margin-bottom:8px; }
.product-view .product-shop .availability{ float:none; text-align:left; }
.my-wishlist .buttons-set button.button{ margin:5px 0; text-align:left;}
#product-review-table thead{ display:none; }
.form-language .sbHolder, .tm_top_currency .sbHolder{float:none; text-align:center; padding:0; }
.form-language .sbHolder .sbToggle , .tm_top_currency .sbHolder .sbToggle { display:none; }
/**/
.header-bottom .logo img{width:190px;}
.header .form-search{width:175px;}
.header .form-search input.input-text{width:126px;}
.best_cms_block{width:100%;}
.block-subscribe input.input-text{width:138px;}
.navigation_label img,.best_product li{width:100%;}
.best_product li.center{margin:0px;}
.header .welcome-msg{width:90%;}
button.btn-checkout span{padding:0 5px;}
.best_banner1,.best_banner2{display:none;}
.multiple-checkout button.button > span,.multiple-checkout .back-link >a{font-size:13px;}
.multiple-checkout button.button span{font-size:13px;}
.multiple-checkout .place-order .grand-total{height:110px;}
.header .header-cart #panel{width:189px;}
.block-related .mini-products-list .product-details{margin-left:0px;clear:both;}
.special_dropdown > ul{width:auto;}
.header .tm_top_currency, .header .form-language{top:62px;}
.header_top{height:112px;}
.block-subscribe input.input-text, .validation-advice{width:70px;}
#footer h6{font-size:17px;}
.page-sitemap .links a,.page-sitemap .pager .amount strong{font-size:13px;}
.pager .limiter{ margin:5px 10px;}
.products-list .add-to-links li{float:left; clear:both; margin:5px 0;}
.products-list li .list-right{padding-left:0px;}
#products-list .list-center .add-to-links li .compare_icon{margin:0;}
#product-addtocart-button {clear:both; margin:5px 0;}
#my-tags-table button.button.btn-cart{float:left;}
.customer-address-index .title-buttons button.button,#my-tags-table .add-to-links{float:left; clear:both; margin:5px 0;}
.header .links,.form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{width:155px;}
.sales-order-history .pager .limiter,.tag-customer-view .pager .limiter,.downloadable-customer-products .pager .limiter{clear:both; margin:5px 0;}
#opc-review .buttons-set{padding:20px 10px; text-align:left;}
}

@media only screen and (max-width:240px) {}
