<?php /* @copyright   Copyright (c) 2015 BlueHorse */ ?>
<?php $customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
<div class="container">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<form action="<?php echo $this->getUrl('returnorder/index/post') ?>" id="returnorderForm" method="post" enctype="multipart/form-data">
<?php echo $this->getBlockHtml('formkey')?>
<div class="col-sm-12" style="padding-top:15px; padding-bottom:36px;">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('returnorder')->__('Order Information') ?></h2>
                <div class="form-group">
                    <label for="order_id" class="required"><em>* </em><?php echo Mage::helper('returnorder')->__('Order ID') ?></label>
                    <div class="input-box">
                        <input name="order_id" id="order_id" title="<?php echo Mage::helper('returnorder')->__('Order ID') ?>" 
                        value="<?php if(Mage::app()->getRequest()->getParam('orderId')){echo Mage::app()->getRequest()->getParam('orderId');} ?>" class="form-control input-text required-entry" type="text" 
						<?php if(Mage::app()->getRequest()->getParam('orderId')){echo 'readonly="readonly"';} ?>/>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="order_id" class="required"><em>* </em><?php echo Mage::helper('returnorder')->__('Return Type') ?></label>
                    <select class="form-control required-entry select" name="return_type">
                        <option value=""><?php echo $this->__('--Select Return Type--');?></option>
                        <option value="exchange"><?php echo $this->__('Exchange');?></option>
                        <option value="return"><?php echo $this->__('Return');?></option>
                    </select>

                </div>
                
<?php 
     $order_id = Mage::app()->getRequest()->getParam('orderId'); //use your own order id 
     $order = Mage::getModel("sales/order")->loadByIncrementId($order_id); //load order by order id 
	 $ordered_items = $order->getAllVisibleItems();
	 
?>                
                <div class="form-group">
                    <label for="returnorder_item" class="required"><em>* </em><?php echo Mage::helper('returnorder')->__(' Choose Item(s)') ?></label>
                    <div class="input-box">
                     <select id="order_item" name="returnorder_item[]" class="form-control required-entry select multiselect" multiple="multiple">
                     <?php foreach($ordered_items as $item){ ?>  
                        <option value="<?php echo $item->getItemId()?>"><?php echo $item->getName()?></option>
                        <?php } ?>
                    </select>
                    </div>
                </div>
           
            
            
               <div class="form-group">
                    <label for="name" class="required"><em>* </em><?php echo Mage::helper('returnorder')->__('Name') ?></label>
                    <div class="input-box">
                        <input name="name" id="name" title="<?php echo Mage::helper('returnorder')->__('Name') ?>" value="<?php if($customer->getName()){echo $customer->getName();} ?>" class="form-control input-text required-entry" type="text" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="required"><em>* </em><?php echo Mage::helper('returnorder')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="email" id="email" title="<?php echo Mage::helper('returnorder')->__('Email') ?>" value="<?php if($email = $customer->getEmail()){echo $email = $customer->getEmail();} ?>" class="form-control input-text required-entry validate-email" type="text" readonly="readonly" />
                    </div>
                </div>
                   
           
            <div class="form-group">
                <label for="image" ><?php echo Mage::helper('returnorder')->__('Upload Product Picture') ?></label>
                <div class="input-box">
                	<input name="image" id="image" title="Image" class="input-file" type="file">
                </div>
               </div>
                
                <div class="form-group">
                    <label for="phone" class="required"> <em>* </em><?php echo Mage::helper('returnorder')->__('Phone No') ?></label>
                    <div class="input-box">
                        <input name="phone" id="phone" title="<?php echo Mage::helper('returnorder')->__('Phone No') ?>" value="" class="form-control input-text validate-number required-entry" type="text" />
                    </div>
                </div>
           
            
            
            <div class="form-group">
                <label for="reason" class="required"><em>* </em><?php echo Mage::helper('returnorder')->__('Reason') ?></label>
                <div class="input-box">
                <textarea name="reason" id="reason" title="<?php echo Mage::helper('returnorder')->__('Reason') ?>" class="form-control required-entry input-text" ></textarea>
                </div>
            </div>
           
            
       
    </div>
    <div class="vendorsbutton" style="padding-top:8px;">
        <p class="required" style="margin-left: 19%;"><?php echo Mage::helper('returnorder')->__('* Required Fields') ?></p>
        <button type="submit" title="<?php echo Mage::helper('returnorder')->__('Submit') ?>" class="button borderBtn swing" onclick="returnorder_Form.submit(this); return false;"><span><span><?php echo Mage::helper('returnorder')->__('Submit') ?></span></span></button>
    </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var returnorder_Form = new VarienForm('returnorderForm', true);
	  returnorder_Form.submit = function() {//alert(1);
		 // alert('dadsa');
            if(this.validator.validate()) {
                this.form.submit();
            }
        }.bind(returnorder_Form);
//]]>
</script>
 </div>
