<!-- cancel Popup -->
<div class="modal" id="CancelPopup" tabindex="-1" role="dialog" aria-labelledby="CancelPopup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	  <a href="javascript:void(0)" data-dismiss="modal" class="pull-right"><i class="fa fa-times"></i></a>
		<div class="clearfix"></div>	
		<div class="col-xs-12 popup-cancel_test">
			
		</div>
		<div class="clearfix"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
 jQuery(document).ready(function(e){
		jQuery(document).on('click','.cancelpopup',function(e){
			jQuery("div.popup-cancel_test").html('<div class="hell" style="height:444px;">&nbsp;</div>');
                        jQuery('#CancelPopup').hide();
			AjaxCancelpuporder(jQuery(this).attr('data-ajax-pop-url'));			
		});
	});
	
function AjaxCancelpuporder(url){
     new Ajax.Request(url,{
        method:'GET',
		parameters:'',
    	requestHeaders: {Accept: 'application/json'},
        onSuccess:function(transport){
                        jQuery('#CancelPopup').show();
                        jQuery('#CancelPopup').attr("aria-hidden", "false");
			jQuery('div.popup-cancel_test').html(transport.responseText);
        }.bind(this)
        });
	}
</script>


