<footer class="footer-container">
    <div class="outer_footer foot-color-blue">
        <div class="footer_top" id="footer">
            <div id="block_1" class="footer-area">
              <div class="col-md-5ths">
                <h4 class="footer-header-text">Water Purifiers</h4>
              </div>
              <div class="col-md-5ths">
                <h4 class="footer-header-text">Air Purifiers</h4>
              </div>
              <div class="col-md-5ths">
                <h4 class="footer-header-text">Vacuum Cleaners</h4>
              </div>
              <div class="col-md-5ths">
                <h4 class="footer-header-text">Security Solutions</h4>
              </div>
              <div class="col-md-5ths">
                <h4 class="footer-header-text">Services</h4>
              </div>
            </div>
            <div class="border-blue-footer"></div>
            <div class="border-white-footer"></div>
            <div id="block_1" class="footer-area">

              <!--- Water purifier start --->
              <div class="col-md-5ths">
                <h4 class="footer-body-text-header">By Range</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Dr. Aquaguard</a>
                  </li>
                  <li>
                    <a href="#">Aquaguard</a>
                  </li>
                  <li>
                    <a href="#">AquaSure</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <h4 class="footer-body-text-header">By Technology</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Universal (Ro+UV+UF, RO+UV)</a>
                  </li>
                  <li>
                    <a href="#">RO</a>
                  </li>
                  <li>
                    <a href="#">UV</a>
                  </li>
                  <li>
                    <a href="#">Non-Electric</a>
                  </li>
                  <li>
                    <a href="#">On-The-Go</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Catridges</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Buy AMC</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Know More</h4></a>
              </div>
              <!--- Water purifier End --->

              <!--- Air purifier start --->
              <div class="col-md-5ths">
                <h4 class="footer-body-text-header">By Range</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Dr.Aeroguard</a>
                  </li>
                  <li>
                    <a href="#">Aeroguard</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <h4 class="footer-body-text-header">By Useage Area</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">300-800 Sq.Ft</a>
                  </li>
                  <li>
                    <a href="#">900-1300 Sq.Ft</a>
                  </li>
                  <li>
                    <a href="#">1400-2000 Sq.Ft</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Buy AMC</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Know More</h4></a>
              </div>
              <!--- Air purifier End --->

              <!--- Vacuum Cleaners start --->
              <div class="col-md-5ths">
                <h4 class="footer-body-text-header">By Range</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Euroclean</a>
                  </li>
                  <li>
                    <a href="#">Forbes</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <h4 class="footer-body-text-header">By Useage Area</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Indoors</a>
                  </li>
                  <li>
                    <a href="#">Outdoors</a>
                  </li>
                  <li>
                    <a href="#">Car</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <h4 class="footer-body-text-header">By Surface To Clean</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Dry</a>
                  </li>
                  <li>
                    <a href="#">Wet</a>
                  </li>
                  <li>
                    <a href="#">Soft</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <div class="height10"></div>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Buy AMC</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Know More</h4></a>
              </div>
              <!--- Vacuum Cleaners End --->

              <!--- Security Solutions, Lifestyle, Solar lighting,Healthware start --->
              <div class="col-md-5ths">
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Dry </a>
                  </li>
                  <li>
                    <a href="#">Wet </a>
                  </li>
                  <li>
                    <a href="#">Soft</a>
                  </li>
                  <li>
                    <a href="#">All</a>
                  </li>
                </ol>
                <h4 class="footer-header-text footer-body-text-1">Lifestyle Automation</h4>
                <ol class="footer-body-text">
                  <li>
                    <a href="#">Know More</a>
                  </li>
                  <li>
                    <a href="#">Buy Products</a>
                  </li>
                </ol>
                <a href="#"><h4 class="footer-header-text footer-body-text-1">Euroviva Helthcare</h4></a>
                <a href="#"><h4 class="footer-header-text footer-body-text-1">AMC</h4></a>
                <a href="#"><h4 class="footer-header-text footer-body-text-1">Offers</h4></a>
              </div>
              <!--- Security Solutions, Lifestyle, Solar lighting,Healthware End --->
              <!--- Security Solutions, Lifestyle, Solar lighting,Healthware End --->
              <div class="col-md-5ths">
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Log A Service Request</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Escalate Service Request</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Contact Us</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Locate Us</h4></a>

                <a href="#"><h4 class="footer-header-text footer-body-text-1">About Us</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Customer Confidence Centre</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Community Fulfillment</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Trust Eureka Forbes</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Know Your Customer</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Our Apps</h4></a>
                <a href="#" class="footer-body-text-header-a"><h4 class="footer-body-text-header">Careerss</h4></a>

                <a href="#"><h4 class="footer-header-text footer-body-text-1">Business</h4></a>
                <a href="#"><h4 class="footer-header-text footer-body-text-1">Corporate</h4></a>
              </div>
              <div class="height10"></div>
              <div class="border-blue-footer"></div>
              <div class="border-white-footer"></div>
              <div class="height10"></div>
              <div class="col-lg-5 padding0">
                <h4 class="footer-header-text footer-body-text">Payment Modes</h4>
                <img class="payment-modes-img" src="<?php echo $this->getSkinUrl('images/payment-mode-icons.png') ?>" />
              </div>
              <div class="col-lg-4 padding0">
                <h4 class="footer-header-text footer-body-text padding0">Newsletter Signup</h4>
                <form>
                  <input class="input-box-height sign-up-input" required></input>
                  <label class="fly hmb-lable">Enter your mail ID</label>
                 </form>
                 <button class="common-btn-yellow sign-up-btn">Sign up</button>
              </div>
              <div class="col-lg-3">
                <h4 class="footer-header-text footer-body-text follow-us">Follow Us</h4>
                <div class="social-network-icons">
                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                <a href="#"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="height10"></div>
        </div>
    </div>
    
    <div class="footer_bottom">
        <div class="border-blue-footer"></div>
        <div class="border-white-footer"></div>
        <div class="footer_bottom_link">
        <div class="col-lg-4 padding0">
         <p class="buttom-footer-left"><a class="buttom-footer-a-01" href="#">Site Map</a> | <a class="buttom-footer-a-02" href="#">Privacy Policy</a> | <a class="buttom-footer-a-02" href="#">Terms of Use</a></p>
        </div>
        <div class="col-lg-4 padding0">
         <p class="buttom-footer-centre"><i class="fa fa-copyright" aria-hidden="true"></i> 2016 <a href="#">Eureka Forbes.</a> All Rights Reserved.</p>
        </div>
        <div class="col-lg-4 padding0">
          <p class="buttom-footer-right">Crafted with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Route16.</a></p>
        </div>

        </div>
    </div>
</footer>
