<div class="col-md-12 hmb-header">
    <h3>Help Me <lable>Buy</lable></h3>
    <p class="hmb-header-sub-header">In just 3 steps, choose the product that suits you best!</p>
</div>
<div class="col-md-12 hmb-contents">

  <!-- Help me buy common step start wrapper (start)-->
  <div class="hmb-common-wrapper" style="display:none">
   <h3> Choose the product you are looking for</h3>
   <div class="header-border-yellow"></div>
   <div class="hmb-step-zero-content">
      <a href="#" class="col-md-4 col-xs-12 hmb-step-zero-content-img">
        <img src="<?php echo $this->getSkinUrl('images/Water-Purifiers.jpg') ?>" />
      </a>
      <a href="#" class="col-md-4 col-xs-12 hmb-step-zero-content-img">
        <img src="<?php echo $this->getSkinUrl('images/Vacuum-Cleaners.jpg') ?>" />
      </a>
      <a href="#" class="col-md-4 col-xs-12 hmb-step-zero-content-img">
        <img src="<?php echo $this->getSkinUrl('images/Air-Purifiers.jpg') ?>" />
      </a>
   </div>
 </div>
 <!-- Help me buy common step start wrapper (end)-->

 <div id="accordion">
   <ul>
     <li id="hmb-step-1">
       <img class="step-1-icon" src="<?php echo $this->getSkinUrl('images/location.png') ?>" />
       <h1>1</h1>
       <div class="hmb-step-1-container">
         <h3 class="hmb-step-1-container-header">What is your pincode?</h3>
         <form>
           <input class="input-box-height" required></input>
           <label class="fly hmb-lable">Username</label>
          </form>
          <h3 class="hmb-step-1-container-header sof-place">What is the  source of water at your place?  </h3>
          <form id="hmb-form-wrapper">
            <div id="hmb-radio-container-2">
              <input width="30" class="hmb-radio-btn" type="radio" name="gender" value="male" id="one" checked>
              <label class="hmb-radio-lable">Corporate</label>
            </div>
            <div id="hmb-radio-container-2">
              <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="two">
              <label class="hmb-radio-lable">Borewell</label>
            </div>
            <div id="hmb-radio-container-2">
              <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="three">
              <label class="hmb-radio-lable">Well</label>
            </div>
            <div id="hmb-radio-container-2">
              <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="one">
              <label class="hmb-radio-lable">Mixed</label>
            </div>
            <div id="hmb-radio-container-3">
              <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="one">
              <label class="hmb-radio-lable">Do not know</label>
            </div>
          </form>
          <div class="hmb-btn-wrapper">
           <a class="common-btn-yellow hmb-btn-move-right">Next</a>
          </div>
        </div>
     </li>

     <li id="hmb-step-2">
       <img class="step-2-icon" src="<?php echo $this->getSkinUrl('images/rupee-icon-white.png') ?>" />
       <h1>2</h1>
       <div class="hmb-step-2-container">
         <h3 class="hmb-step-2-container-header">What is your budget?<h3>
         <span class="hmb-slider-wrapper">
           <input class="range-slider" type="hidden" value="0,45000">
         </span>
         <div class="hmb-btn-wrapper">
          <a class="common-btn-yellow hmb-btn-move-right btn-slider">Next</a>
         </div>
       </div>
     </li>
     <li id="hmb-step-3">
       <img class="step-3-icon" src="<?php echo $this->getSkinUrl('images/list-icon-white.png') ?>" />
       <h1>3</h1>
       <div class="hmb-step-3-container">
         <h3 class="hmb-step-3-container-header">Are you likely to move out of this property in the near future?<h3>
         <form id="hmb-form-wrapper hmb-step-3-container">
             <div id="hmb-radio-container-2">
               <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="one" checked>
               <label class="hmb-radio-lable hmb-step-3-lable">Corporate</label>
             </div>
             <div id="hmb-radio-container-2">
               <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="two">
               <label class="hmb-radio-lable hmb-step-3-lable">Borewell</label>
             </div>
          </form>
          <h3 class="hmb-step-3-container-header">Are you likely to move out of this property in the near future?<h3>
          <form id="hmb-form-wrapper hmb-step-3-container">
              <div id="hmb-radio-container-2">
                <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="one" checked>
                <label class="hmb-radio-lable hmb-step-3-lable">Corporate</label>
              </div>
              <div id="hmb-radio-container-2">
                <input class="hmb-radio-btn" type="radio" name="gender" value="male" id="two">
                <label class="hmb-radio-lable hmb-step-3-lable">Borewell</label>
              </div>
           </form>
           <div class="hmb-btn-wrapper">
            <a class="common-btn-yellow hmb-btn-move-right btn-slider">Show products</a>
           </div>
       </div>

     </li>
   </ul>
 </div>
 <script>

     jQuery("#accordion").awsAccordion({
       type:"horizontal",
       cssAttrsHor:{
           ulWidth:"responsive",
           liHeight:400,
         	liWidth:100
       },
       startSlide:1,
       openCloseHelper:{
           openIcon:"plus",
           closeIcon:"minus"
       },
       openOnebyOne:true,
       classTab:"small",
       slideOn:"click",
       autoPlay:false,
       autoPlaySpeed:2000
     })

     jQuery('.range-slider').jRange({
         from: 0,
         to: 45000,
         step: 0.5,
         scale: [10000,15000,20000,30000,35000,40000,45000],
         format: '%s',
         width: 300,
         showLabels: false,
         isRange : true
     });

     </script>
   </div>

<?php /* ?><div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <p>Select Product</p>
                <a href="#step-1" type="button" class="btn btn-primary btn-circle"><i class="fa fa-barcode"></i></a>
                <p class="step-answer">Water Purifier</p>
            </div>
            <div class="stepwizard-step">
                <p>Select Pin code</p>
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-map-marker"></i></a>
            </div>
            <div class="stepwizard-step">
                <p>Select Sorce</p>
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-tint"></i></a>
            </div>
            <div class="stepwizard-step">
                <p>Select your Budget</p>
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-inr"></i></a>
            </div>
            <div class="stepwizard-step">
                <p>Primary Purpose</p>
                <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-bullseye"></i></a>
            </div>
        </div>
    </div>
    <form role="form" action="<?php echo Mage::helper('helpmeby')->getFormUrl(); ?>" method="post">

        <div class="row setup-content" id="step-1">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"> <?php echo $this->__("Please select your product!"); ?></h3>
                    <div class="form-group">
                        <select name="product_type" required="required" class="form-control">
                            <option value="0" ><?php echo $this->__("Select one"); ?></option>
                            <option value="1" ><?php echo $this->__("WATER PURIFIER"); ?></option>
                            <option value="2" ><?php echo $this->__("AIR PURIFIER"); ?></option>
                            <option value="3" ><?php echo $this->__("VACUUM CLEANER"); ?></option>
                        </select>

                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" ><?php echo $this->__("Next"); ?></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"><?php echo $this->__("What is your pin code?") ?></h3>
                    <div class="form-group">
                        <input name="pincode" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your pin code"  />
                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" ><?php echo $this->__("Next"); ?></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header">What is your water source?</h3>
                    <div class="form-group">
                        <select name="water_source" required="required" class="form-control">
                            <option value="" ><?php echo $this->__("Select one"); ?></option>
                            <option value="1" ><?php echo $this->__("Corp"); ?></option>
                            <option value="2" ><?php echo $this->__("Bore"); ?></option>
                            <option value="3" ><?php echo $this->__("Well"); ?></option>
                            <option value="4" ><?php echo $this->__("Mixed"); ?></option>
                            <option value="5" ><?php echo $this->__("Don't Know"); ?></option>
                        </select>

                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" >Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-4">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"> Please select your budget</h3>
                    <div class="form-group">
                        <input name="budget" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your budget"  />
                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" >Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-5">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"> What is your primary purpose?</h3>
                    <div class="form-group">
                        <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter First Name"  />
                    </div>
                    <div class="step-btn-container">
                        <button type="submit" class="btn btn-primary nextBtn btn-lg step-btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<?php */ ?>
<link href="http://www.jqueryscript.net/css/top.css" rel="stylesheet" type="text/css">
