<div class="modal" id="emiPopup" tabindex="-1" role="dialog" aria-labelledby="emiPopup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	  <a href="javascript:void(0)" data-dismiss="modal" class="pull-right"><i class="fa fa-times"></i></a>
		<div class="clearfix"></div>	
		<div class="col-xs-12 popup-cancel_test">

    <div id="container">
        <div align="center">
            <h2><?php echo $this->__('EMI Options');?></h2>
            <p><?php echo $this->__('Choose an EMI scheme and pay in easy installments.');?></p>
        </div>
        <div style="margin-top: 20px; width: 600px;">
            <ul>
                <li><?php echo $this->__('EMI available on Axis Bank, HDFC Bank, HSBC Bank, ICICI Bank, Kotak Mahindra Bank, SBI Bank and Standard Chartered Bank cards.');?></li>
                <li><?php echo $this->__('Total Cost shown below does not include applicable taxes.');?></li>
                <li><?php echo $this->__('In case of any kind of refund in EMI transaction, interest');?>
                <?php echo $this->__('already billed in a particular transaction will not be refunded.');?></li>
            </ul>
        </div>
        
        <div style="padding: 20px 0 5px;">
        <strong><?php echo $this->__('Select Your Bank');?></strong>
        <select name="ddlbank" id="ddlbank" style="width:220px;">
            <option value="Axis"><?php echo $this->__('Axis Bank');?></option>
            <option value="HDFC"><?php echo $this->__('HDFC Bank');?></option>
            <option value="HSBC"><?php echo $this->__('HSBC Bank');?></option>
            <option value="ICICI"><?php echo $this->__('ICICI Bank');?></option>
            <option value="Kotak"><?php echo $this->__('Kotak Mahindra Bank');?></option>
            <option value="SBI"><?php echo $this->__('State Bank of India');?></option>
            <option value="SCB"><?php echo $this->__('Standard Chartered Bank');?></option>
        </select>
        </div>
        <div>
            <h3 id="dvbnkName"><?php echo $this->__('HDFC Bank EMI Details');?></h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="payment_all_base" id="tblEMI">
                <tbody>
                    <tr class="payment_all_First">
                        <td align="center" valign="middle"><?php echo $this->__('Tenure (Month)');?></td>
                        <td align="center" valign="middle"><?php echo $this->__('Bank Interest Rate');?></td>
                        <td align="center" valign="middle"><?php echo $this->__('Monthly Installments');?></td>
                        <td align="center" valign="middle"><?php echo $this->__('Interest Paid to Bank');?></td>
                    </tr>
                    <tr class="payment_all_new">
                        <td align="center" valign="middle">
                            <?php echo $this->__('3');?>
                        </td>
                        <td align="center" valign="middle">
                            <label id="lbl3MonthRate"><?php echo $this->__('12%');?></label>
                        </td>
                        <td align="center" valign="middle"><?php echo $this->__('Rs.');?><label id="lbl3monthamt"></label></td>
                        <td align="center" valign="middle" class="pay_right"><?php echo $this->__('Rs.');?><label id="lbl3monthint"></label></td>
                    </tr>
                    <tr class="payment_all_new">
                        <td align="center" valign="middle"><?php echo $this->__('6');?></td>
                        <td align="center" valign="middle"><label id="lbl6MonthRate"><?php echo $this->__('12%');?></label></td>
                        <td align="center" valign="middle"><?php echo $this->__('Rs.');?><label id="lbl6monthamt"></label></td>
                        <td align="center" valign="middle" class="pay_right"><?php echo $this->__('Rs.');?><label id="lbl6monthint"></label></td>
                    </tr>
                    <tr class="payment_all_new" id="NinthEMI">
                        <td align="center" valign="middle"><?php echo $this->__('9');?></td>
                        <td align="center" valign="middle"><label id="lbl9MonthRate"><?php echo $this->__('13%');?></label></td>
                        <td align="center" valign="middle"><?php echo $this->__('Rs.');?><label id="lbl9monthamt"></label></td>
                        <td align="center" valign="middle" class="pay_right"><?php echo $this->__('Rs.');?><label id="lbl9monthint"></label></td>
                    </tr>
                    <tr class="payment_all_new">
                        <td align="center" valign="middle" class="pay_btm"><?php echo $this->__('12');?></td>
                        <td align="center" valign="middle" class="pay_btm"><label id="lbl12MonthRate"><?php echo $this->__('13%');?></label></td>
                        <td align="center" valign="middle" class="pay_btm"><?php echo $this->__('Rs.');?><label id="lbl12monthamt"></label></td>
                        <td align="center" valign="middle" class="pay_all"><?php echo $this->__('Rs.');?><label id="lbl12monthint"></label></td>
                    </tr>
                    <tr class="payment_all_new" id="EMI18mnth" style="display: none;">
                        <td align="center" valign="middle" class="pay_btm"><?php echo $this->__('18');?></td>
                        <td align="center" valign="middle" class="pay_btm"><label id="lbl18MonthRate"><?php echo $this->__('13.5%');?></label></td>
                        <td align="center" valign="middle" class="pay_btm"><?php echo $this->__('Rs.');?><label id="lbl18monthamt"></label></td>
                        <td align="center" valign="middle" class="pay_all"><?php echo $this->__('Rs.');?><label id="lbl18monthint"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left;"><p><?php echo $this->__('*Click on Buy Now to Add the Product(s) to your cart and proceed to enter shipping details. When prompted to choose a payment option, select "EMI".');?></p></div>
    </div>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            jQuery('#dvbnkName').html('AXIS Bank EMI Details');
            jQuery('#EMI18mnth').hide();
            CalculateNew(6, 12);
            CalculateNew(3, 12);
            CalculateNew(9, 13);
            CalculateNew(12, 13);

            jQuery('#ddlbank').on('change', function () {
                var _vBank = this.value;
                var _vBanktxt = jQuery(this).find("option:selected").text();
                jQuery('#dvbnkName').html(_vBanktxt + ' EMI Details');

                var vMRP = jQuery('#hdnMRP').val();
                
                if (_vBank != "HSBC")
                    jQuery('#EMI18mnth').hide();

                if (_vBank == "HDFC") {
                    CalculateNew(3, 12);
                    CalculateNew(6, 12);
                    CalculateNew(9, 13);
                    CalculateNew(12, 13);
                }
                else if (_vBank == "ICICI") {
                    CalculateNew(3, 13);
                    CalculateNew(6, 13);
                    CalculateNew(9, 13);
                    CalculateNew(12, 13);
                }
                else if (_vBank == "Citibank") {
                    CalculateNew(3, 12);
                    CalculateNew(6, 12);
                    CalculateNew(9, 15);
                    CalculateNew(12, 15);
                }
                else if (_vBank == "SBI") {
                    CalculateNew(3, 14);
                    CalculateNew(6, 14);
                    CalculateNew(9, 14);
                    CalculateNew(12, 14);
                }
                else if (_vBank == "Kotak") {
                    if (vMRP < 500) {
                        alert("Amount is lesser than the minimum amout limit for this bank. Please try another option.");
                        return;
                    }

                    CalculateNew(3, 12);
                    CalculateNew(6, 12);
                    CalculateNew(9, 14);
                    CalculateNew(12, 14);
                }
                else if (_vBank == "SCB") {
                    if (vMRP < 2000) {
                        alert("Amount is lesser than the minimum amout limit for this bank. Please try another option.");
                        return;
                    }
                    CalculateNew(3, 13);
                    CalculateNew(6, 13);
                    CalculateNew(9, 14);
                    CalculateNew(12, 14);
                }
                else if (_vBank == "Axis") {
                    if (vMRP < 2500) {
                        alert("Amount is lesser than the minimum amout limit for this bank. Please try another option.");
                        return;
                    }
                    CalculateNew(3, 12);
                    CalculateNew(6, 12);
                    CalculateNew(9, 13);
                    CalculateNew(12, 13);
                }
                else if (_vBank == "HSBC") {
                    if (vMRP < 2000) {
                        alert("Amount is lesser than the minimum amout limit for this bank. Please try another option.");
                        return;
                    }
                    jQuery('#EMI18mnth').show();
                    CalculateNew(3, 12.5);
                    CalculateNew(6, 12.5);
                    CalculateNew(9, 13.5);
                    CalculateNew(12, 13.5);
                    CalculateNew(18, 13.5);
                }
            });
        });
        function CalculateNew(valu, Int) {
            var P, MDP, MD, T, IR, M, IRpM, A, B, C, D, EMI;
            var Variable = jQuery('#hdnMRP').val();
            P = parseFloat(Variable);
            MD = 0;
            IR = parseFloat(Int);
            M = valu;
            T = P - parseFloat(MD);
            IRpM = parseFloat((IR / 12) / 100);
            A = parseFloat(1 + IRpM);
            B = parseFloat(1 / Math.pow((A), M));
            C = parseFloat(1 - B);
            D = parseFloat(IRpM / C);
            EMI = parseFloat(T * D);
            jQuery("#lbl" + valu + "monthint").html((Math.round((EMI * M) - T)));
            jQuery("#lbl" + valu + "monthamt").html(Math.round(EMI));
            jQuery("#lbl" + valu + "MonthRate").html(IR + '%');
        }

    </script>
		</div>
		<div class="clearfix"></div>
    </div>
  </div>
</div>