<?php /* ?>
<div class="purity_thum get_purity_bg flt_rgt" >
    <div class="get_purity_cont">
        <h2>
            <span>
                <img src="<?php echo $this->getSkinUrl('images/get-purity-icon.png'); ?>" width="47" height="39"></span>Helping you to choose the right water purification technology
            for your home</h2>
        <p>
            Please enter your details below</p>
        <form id="knowyourtechnology" method="post">
            <div class="get_purity_form">
                <ul>
                    <li>
                        Select Product:<input name="txtName" type="text" id="txtName" class="required-entry" maxlenxgth="30" placeholder="Select Product">
                    </li>
                    <li>
                       budget:  <input name="txtMobile" type="text" maxlength="10" id="mobileno" class="required-entry" placeholder="budget ">
                    </li>
                    <li>
                        Select pin code:<input name="txtPinCode" type="text" maxlength="6" id="tdspin" class="required-entry" placeholder="Select pin code">
                    </li>
                    <li>
                        Primary Purpose: <input name="txtPinCode" type="text" id="tdspin" class="required-entry" placeholder="your pin">
                    </li>
                    <li>
                        Water Source:<select name="ddlSource" id="waterSource" class="required-entry">
                            <option value="0">-Select Water Source-</option>
                            <option value="2">Bore Well</option>
                            <option value="4">Mixed</option>
                            <option value="1">Municipal Supply</option>
                            <option value="5">Others</option>
                            <option value="3">Well</option>
                        </select>
                    </li>
                    <li>
                        <button type="submit" class="button" title="Login" name="send" id="send2"><span><span>Know the Technology</span></span></button>
                    </li>
                </ul>
            </div>
        </form>    
        <script type="text/javascript">
        //<![CDATA[
            var contactForm = new VarienForm('knowyourtechnology', true);
        //]]>
        </script>
    </div>
</div>
<?php */ ?>