<div class="col-md-12 hmb-header">
    <h3>Help Me Buy <lable>(Example text)</label></h3>
</div>
<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <p>Select Product</p>
                <a href="#step-1" type="button" class="btn btn-primary btn-circle"><i class="fa fa-barcode"></i></a>
                <p class="step-answer">Water Purifier</p>
            </div>
            <div class="stepwizard-step">
                <p>Select Pin code</p>
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-map-marker"></i></a>
            </div>
            <div class="stepwizard-step">
                <p>Select Sorce</p>
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-tint"></i></a>
            </div>
            <div class="stepwizard-step">
                <p>Select your Budget</p>
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-inr"></i></a>
            </div>
            <div class="stepwizard-step">
                <p>Primary Purpose</p>
                <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-bullseye"></i></a>
            </div>
        </div>
    </div>
    <form role="form" action="<?php echo Mage::helper('helpmeby')->getFormUrl(); ?>" method="post">

        <div class="row setup-content" id="step-1">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"> <?php echo $this->__("Please select your product!"); ?></h3>
                    <div class="form-group">
                        <select name="product_type" required="required" class="form-control">
                            <option value="0"><?php echo $this->__("Select one"); ?></option>
                            <option value="1"><?php echo $this->__("WATER PURIFIER"); ?></option>
                            <option value="2"><?php echo $this->__("AIR PURIFIER"); ?></option>
                            <option value="3"><?php echo $this->__("VACUUM CLEANER"); ?></option>
                        </select>

                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" ><?php echo $this->__("Next"); ?></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"><?php echo $this->__("What is your pin code?") ?></h3>
                    <div class="form-group">
                        <input name="pincode" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your pin code"  />
                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" ><?php echo $this->__("Next"); ?></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header">What is your water source?</h3>
                    <div class="form-group">
                        <select name="water_source" required="required" class="form-control">
                            <option value="" ><?php echo $this->__("Select one"); ?></option>
                            <option value="1" ><?php echo $this->__("Corp"); ?></option>
                            <option value="2" ><?php echo $this->__("Bore"); ?></option>
                            <option value="3" ><?php echo $this->__("Well"); ?></option>
                            <option value="4" ><?php echo $this->__("Mixed"); ?></option>
                            <option value="5" ><?php echo $this->__("Don't Know"); ?></option>
                        </select>

                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" >Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-4">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"> Please select your budget</h3>
                    <div class="form-group">
                        <input name="budget" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your budget"  />
                    </div>
                    <div class="step-btn-container">
                        <a class="btn btn-primary nextBtn btn-lg step-btn" type="button" >Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-5">
            <div class="col-xs-12 step-question-wrap">
                <div class="col-md-12">
                    <h3 class="step-question-header"> What is your primary purpose?</h3>
                    <div class="form-group">
                        <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter First Name"  />
                    </div>
                    <div class="step-btn-container">
                        <button type="submit" class="btn btn-primary nextBtn btn-lg step-btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var jq = jQuery.noConflict();

    jq("select").change(function () {
        alert(jq("select option:selected").val());
        // hide all optional elements
        jq('.optional').css('display', 'none');

        jq("select option:selected").each(function () {
            if (jq(this).val() == "Referral") {
                jq('.referral').css('display', 'block');
            } else if (jq(this).val() == "Other") {
                jq('.other').css('display', 'block');
            }
        });
    });
</script>
