<div class="info3col-data" id="deliverytime">
    <div class="inner">
        <div class="header">
            <span><?php echo $this->__('Check Availability at'); ?></span>
            <a class="cello-sprite" onclick="blockPinCkPopup();"></a>

            <input autocomplete="off" type="text" id="postcode" class="input-text" onkeypress='validate(event)'  maxlength="6" placeholder="eg. 400001" value="<?php echo Mage::getSingleton('core/session')->getPincode();?>" />
            <button id="chk_pincode_btn" type="button" title="<?php echo $this->__('Check Your PIN code'); ?>" class="button"><span><span><?php echo $this->__('Check'); ?></span></span></button>
            <div class="validation-advice" id="advice-required-entry-postcode" style="display: none;"><?php echo $this->__("Please Enter a Pincode."); ?></div>
            <div style="display:none;" class="validation-advice pin-validation-advice" id="advice-required-entry-billing-postcode"><?php echo $this->__("Input 6 digit pincode"); ?></div>
            <div id="pincheclloader" class="pinloader">
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'loader/loader.gif'; ?>" class="pinloader" >
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div> 
<?php $product_sku = Mage::registry('current_product')->getSku(); ?>
<script>
    jQuery(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
             jQuery('#chk_pincode_btn').click();//Trigger search button click event
        }
    });

    jQuery("#chk_pincode_btn").click(function ($) {
        if (jQuery('#postcode').val() == '') {
            jQuery('#postcode').addClass('validation-failed');
            jQuery('#advice-required-entry-postcode').show();
            jQuery('#advice-required-entry-billing-postcode').hide();
            return false;
        }
        if (jQuery('#postcode').val().length < 6) {
            jQuery('#postcode').addClass('validation-failed');
            jQuery('#advice-required-entry-postcode').hide();
            jQuery('#advice-required-entry-billing-postcode').show();
            return false;
        }
        jQuery('#postcode').removeClass('validation-failed');
        jQuery('#advice-required-entry-postcode').hide();
        jQuery('#advice-required-entry-billing-postcode').hide();
        var postcode = jQuery('#postcode').val();
        jQuery('#pincheclloader').show();
        jQuery.ajax({
            method: 'post',
            url: "<?php echo $this->getUrl('warehouse/index/chkPincode') ?>",
            dataType: "json",
            async: false,
            data: {postcode: postcode, product_sku: "<?php echo $product_sku ?>"},
            success: function (data) {
                jQuery('#pincheclloader').hide();
                if (data.qty < 1) {
                    jQuery(".btn-cart").attr('disabled', 'disabled');
                } else {
                    jQuery(".btn-cart").prop("disabled", false)
                }

                if (data.openpanel === '1') {
                    jQuery('.delivery-wrapper').show();
                    if (data.deliveryDate === 'unavailable') {
                        jQuery('#deliverydate').html('<b>' + data.deliveryDate + '</b>');

                    } else {
                        jQuery('#deliverydate').html(data.deliveryDate + ':<b>Free Shipping</b>');

                    }
                    jQuery('#cashondeliveravailability').html(data.cod);



                    /*
                     * if (data.deliveryDate == 'unavailable') {
                     jQuery('#deliverydate').html('<b>' + data.deliveryDate + '</b>');
                     jQuery('#cashondeliveravailability').html('<b>UNAVAILABLE</b>');
                     } else {
                     jQuery('#deliverydate').html(data.deliveryDate + ':<b>Free Shipping</b>');
                     jQuery('#cashondeliveravailability').html('<b>AVAILABLE</b>');
                     }
                     */
                } else {
                    jQuery('.delivery-wrapper').hide();
                }
            }
        });
    });
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault)
                theEvent.preventDefault();
        }
    }
</script>

