<div class="inner_cont_wrap" id="container">
            <div class="main_cont ">
                <div class="main_inr">
                   
<!-- side menu ends here-->

        <div id="ContentPlaceHolder1_UpdatePanel1">
	
                <div id="rotation">
                    <div class="breadcrumbs">
                          <img src="/images/breadcrumb.png" alt=""><a href="/Company">Company</a>&gt;<a href="/Partner-with-us">Partner with us</a>&gt;<span>Become Business Associate</span></div>
                    <div class="clear">
                        &nbsp;</div>
                    <div class="innercontainer2 min_height width900px ">
                        <h1>
                            Sign up to become a Customer Service Business Associate</h1>
                        <div class="clear">
                            &nbsp;</div>
                        <div class="careers_form home_demo_table">
                            <div class="form_details width380" style="float:left;width:425px">
                                <h4 class="careers_color">
                                    Personal Details</h4>
                                    <table>
                                    <tbody><tr>
                                    <td>&nbsp;</td>
                                    <td>
                                    <table>
                                    <tbody><tr>
                                        <td width="152">
                                            Title*
                                        </td>
                                        <td>
                                            
                                            <select name="ctl00$ContentPlaceHolder1$ddltitle" id="ContentPlaceHolder1_ddltitle" class="form_detail_width">
		<option selected="selected" value="Mr.">Mr.</option>
		<option value="Ms.">Ms.</option>

	</select>
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator2" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="152">
                                            First name*
                                        </td>
                                        <td>
                                            <input name="ctl00$ContentPlaceHolder1$txtFirstName" type="text" maxlength="100" id="ContentPlaceHolder1_txtFirstName" class="form_detail_width" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator1" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="152">
                                            Last Name*
                                        </td>
                                        <td>
                                            <input name="ctl00$ContentPlaceHolder1$txtLastName" type="text" maxlength="100" id="ContentPlaceHolder1_txtLastName" class="form_detail_width" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator3" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td width="152">
                                            Email*
                                        </td>
                                        <td>
                                            <input name="ctl00$ContentPlaceHolder1$txtMailID" type="text" maxlength="100" id="ContentPlaceHolder1_txtMailID" class="form_detail_width1" align="absmiddle">
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator17" style="visibility:hidden;">*</span>
                                            <span id="ContentPlaceHolder1_revEmail" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="152">
                                            Mobile No*
                                        </td>
                                        <td>
                                            <input name="ctl00$ContentPlaceHolder1$txtContactMob" type="text" maxlength="10" id="ContentPlaceHolder1_txtContactMob" class="form_detail_width" align="absmiddle" onkeypress="return IsNumeric(event);">
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator4" style="visibility:hidden;">*</span>
                                                   <span id="ContentPlaceHolder1_reqLength" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="152">
                                            Address*
                                        </td>
                                        <td>
                                            <textarea name="ctl00$ContentPlaceHolder1$txtAddress" rows="2" cols="3" id="ContentPlaceHolder1_txtAddress" class="form_detail_width height_50px" onkeypress="javascript:Count(ctl00_ContentPlaceHolder1_txtRemarks,'200')"></textarea>
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator16" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="152">
                                            State*
                                        </td>
                                        <td>
                                            <select name="ctl00$ContentPlaceHolder1$ddlState" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlState\',\'\')', 0)" id="ContentPlaceHolder1_ddlState" class="form_select_width">
		<option selected="selected" value="0">-Select State-</option>
		<option value="2">Arunachal Pradesh</option>
		<option value="3">Assam</option>
		<option value="4">Bihar</option>
		<option value="5">Chandigarh</option>
		<option value="6">Chhattisgarh</option>
		<option value="7">Goa</option>
		<option value="8">Gujarat</option>
		<option value="9">Haryana</option>
		<option value="10">Himachal Pradesh</option>
		<option value="11">Jammu &amp; Kashmir</option>
		<option value="12">Jharkand</option>
		<option value="13">Karnataka</option>
		<option value="14">Kerala</option>
		<option value="15">Madhya Pradesh</option>
		<option value="16">Maharashtra</option>
		<option value="17">Meghalaya</option>
		<option value="29">Nagaland</option>
		<option value="18">New Delhi</option>
		<option value="19">Orissa</option>
		<option value="20">Pondicherry</option>
		<option value="21">Punjab</option>
		<option value="22">Rajasthan</option>
		<option value="31">Seemandhra</option>
		<option value="23">Tamilnadu</option>
		<option value="30">Telangana</option>
		<option value="24">Uttar Pradesh</option>
		<option value="25">Uttarakhand</option>
		<option value="27">West Bengal</option>

	</select>
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator9" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="152">
                                            City*
                                        </td>
                                        <td>
                                            <input name="ctl00$ContentPlaceHolder1$txtcity" type="text" maxlength="40" id="ContentPlaceHolder1_txtcity" class="form_detail_width" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator5" style="visibility:hidden;">*</span>
                                        </td>
                                    </tr>
                                    

                                    <tr>
                                        <td width="152">
                                            Date of Birth
                                            <br><span id="ContentPlaceHolder1_lblDateFormat" style="color:Gray;">(MM/dd/yyyy)</span>
                                        </td>
                                        <td>
                                            <div id="ContentPlaceHolder1_rdtpDOB_wrapper" class="RadPicker RadPicker_Default form_detail_width" style="width:150px;">
		<!-- 2009.1.311.35 --><input style="visibility:hidden;display:block;float:right;margin:0 0 -1px;width:1px;height:1px;overflow:hidden;border:0;padding:0;" id="ContentPlaceHolder1_rdtpDOB" name="ctl00$ContentPlaceHolder1$rdtpDOB" type="text" class="rdfd_" value=""><table cellspacing="0" class="rcTable" style="width:100%;">
			<tbody><tr>
				<td class="rcInputCell" style="width:100%;"><span id="ContentPlaceHolder1_rdtpDOB_dateInput_wrapper" class="RadInput RadInput_Default" style="display:block;"><input type="text" id="ContentPlaceHolder1_rdtpDOB_dateInput_text" name="ContentPlaceHolder1_rdtpDOB_dateInput_text" class="riTextBox riEnabled" title="Date input" style="width: 100%;"><input style="visibility:hidden;float:right;margin:-18px 0 0 0;width:1px;height:1px;overflow:hidden;border:0;padding:0;" id="ContentPlaceHolder1_rdtpDOB_dateInput" name="ctl00$ContentPlaceHolder1$rdtpDOB$dateInput" type="text" class="rdfd_" value=""><input id="ContentPlaceHolder1_rdtpDOB_dateInput_ClientState" name="ContentPlaceHolder1_rdtpDOB_dateInput_ClientState" type="hidden" autocomplete="off" value="{&quot;enabled&quot;:true,&quot;emptyMessage&quot;:&quot;&quot;,&quot;minDateStr&quot;:&quot;1/1/1980 0:0:0&quot;,&quot;maxDateStr&quot;:&quot;5/13/2016 0:0:0&quot;}"></span></td><td><a title="Open the calendar popup." href="#" id="ContentPlaceHolder1_rdtpDOB_popupButton" class="rcCalPopup">Open the calendar popup.</a><div id="ContentPlaceHolder1_rdtpDOB_calendar_wrapper" style="display: none"><table id="ContentPlaceHolder1_rdtpDOB_calendar" summary="Calendar" cellspacing="0" class="RadCalendar RadCalendar_Default">
					<thead>
						<tr>
							<td class="rcTitlebar"><table cellspacing="0" summary="title and navigation">
								<tbody><tr>
									<td><a id="ContentPlaceHolder1_rdtpDOB_calendar_FNP" class="rcFastPrev" title="<<" href="#">&lt;&lt;</a></td><td><a id="ContentPlaceHolder1_rdtpDOB_calendar_NP" class="rcPrev" title="<" href="#">&lt;</a></td><td id="ContentPlaceHolder1_rdtpDOB_calendar_Title" class="rcTitle">May 2016</td><td><a id="ContentPlaceHolder1_rdtpDOB_calendar_NN" class="rcNext" title=">" href="#">&gt;</a></td><td><a id="ContentPlaceHolder1_rdtpDOB_calendar_FNN" class="rcFastNext" title=">>" href="#">&gt;&gt;</a></td>
								</tr>
							</tbody></table></td>
						</tr>
					</thead><tbody>
	<tr>
		<td class="rcMain"><table id="ContentPlaceHolder1_rdtpDOB_calendar_Top" class="rcMainTable" cellspacing="0" summary="May 2016">
	<thead>
		<tr class="rcWeek">
			<th class="rcViewSel">&nbsp;</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_1" title="Sunday" abbr="Sun" scope="col">S</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_2" title="Monday" abbr="Mon" scope="col">M</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_3" title="Tuesday" abbr="Tue" scope="col">T</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_4" title="Wednesday" abbr="Wed" scope="col">W</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_5" title="Thursday" abbr="Thu" scope="col">T</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_6" title="Friday" abbr="Fri" scope="col">F</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_7" title="Saturday" abbr="Sat" scope="col">S</th>
		</tr>
	</thead><tbody>
		<tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_1" scope="row">18</th><td class="rcOtherMonth" title="Sunday, April 24, 2016"><a href="#">24</a></td><td class="rcOtherMonth" title="Monday, April 25, 2016"><a href="#">25</a></td><td class="rcOtherMonth" title="Tuesday, April 26, 2016"><a href="#">26</a></td><td class="rcOtherMonth" title="Wednesday, April 27, 2016"><a href="#">27</a></td><td class="rcOtherMonth" title="Thursday, April 28, 2016"><a href="#">28</a></td><td class="rcOtherMonth" title="Friday, April 29, 2016"><a href="#">29</a></td><td class="rcOtherMonth" title="Saturday, April 30, 2016"><a href="#">30</a></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_2" scope="row">19</th><td class="rcWeekend" title="Sunday, May 01, 2016"><a href="#">1</a></td><td title="Monday, May 02, 2016"><a href="#">2</a></td><td title="Tuesday, May 03, 2016"><a href="#">3</a></td><td title="Wednesday, May 04, 2016"><a href="#">4</a></td><td title="Thursday, May 05, 2016"><a href="#">5</a></td><td title="Friday, May 06, 2016"><a href="#">6</a></td><td class="rcWeekend" title="Saturday, May 07, 2016"><a href="#">7</a></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_3" scope="row">20</th><td class="rcWeekend" title="Sunday, May 08, 2016"><a href="#">8</a></td><td title="Monday, May 09, 2016"><a href="#">9</a></td><td title="Tuesday, May 10, 2016"><a href="#">10</a></td><td title="Wednesday, May 11, 2016"><a href="#">11</a></td><td title="Thursday, May 12, 2016"><a href="#">12</a></td><td title="Friday, May 13, 2016"><a href="#">13</a></td><td class="rcOutOfRange"><span>14</span></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_4" scope="row">21</th><td class="rcOutOfRange"><span>15</span></td><td class="rcOutOfRange"><span>16</span></td><td class="rcOutOfRange"><span>17</span></td><td class="rcOutOfRange"><span>18</span></td><td class="rcOutOfRange"><span>19</span></td><td class="rcOutOfRange"><span>20</span></td><td class="rcOutOfRange"><span>21</span></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_5" scope="row">22</th><td class="rcOutOfRange"><span>22</span></td><td class="rcOutOfRange"><span>23</span></td><td class="rcOutOfRange"><span>24</span></td><td class="rcOutOfRange"><span>25</span></td><td class="rcOutOfRange"><span>26</span></td><td class="rcOutOfRange"><span>27</span></td><td class="rcOutOfRange"><span>28</span></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_6" scope="row">23</th><td class="rcOutOfRange"><span>29</span></td><td class="rcOutOfRange"><span>30</span></td><td class="rcOutOfRange"><span>31</span></td><td class="rcOutOfRange"><span>1</span></td><td class="rcOutOfRange"><span>2</span></td><td class="rcOutOfRange"><span>3</span></td><td class="rcOutOfRange"><span>4</span></td>
		</tr>
	</tbody>
</table></td>
	</tr>
</tbody>
				</table><input type="hidden" name="ContentPlaceHolder1_rdtpDOB_calendar_SD" id="ContentPlaceHolder1_rdtpDOB_calendar_SD" value="[]"><input type="hidden" name="ContentPlaceHolder1_rdtpDOB_calendar_AD" id="ContentPlaceHolder1_rdtpDOB_calendar_AD" value="[[1980,1,1],[2016,5,13],[2016,5,13]]"></div></td>
			</tr>
		</tbody></table><input id="ContentPlaceHolder1_rdtpDOB_ClientState" name="ContentPlaceHolder1_rdtpDOB_ClientState" type="hidden" autocomplete="off">
	</div>
                                            
                                        </td>
                                        
                                    </tr>
                                </tbody></table>
                                    </td>
                                    </tr>
                                    </tbody></table>
                                
                                <div class="know_more margin_btm10px margin_left5">
                                    <a id="ContentPlaceHolder1_lnkSubmit" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkSubmit", "", true, "Demo", "", false, true))'>Submit&nbsp;&nbsp;<img class="paddingtop_5" src="../images/list_icon.png" width="21" height="14" align="absmiddle"></a>
                                    <div id="ContentPlaceHolder1_ValidationSummary1" style="display:none;">

	</div>
                                </div>
                                <div class="clear1">
                                    &nbsp;</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
</div>
    </div>
    <script type="text/javascript">
        function Count(text, AllowedLength) {
            var maxlength = new Number(AllowedLength); // Change number to your max length.
            if (text.value.length > maxlength) {
                text.value = text.value.substring(0, maxlength);
                alert(" Only " + AllowedLength + " chars are allowed.");
            }
        }
        function CheckNemericValue(e) {
            var key;
            key = e.which ? e.which : e.keyCode;

            if (key >= 48 && key <= 57 || key == 13 || key == 8 || key == 9 || key == 127) {
                return true;
            }
            else {
                alert("Please Enter Numeric Values Only!");
                return false;
            }
        }

        function IsNumericAlfaOnly(e) {

            if (!e) e = window.event;
            var key;
            if (navigator.appName == "Netscape") {
                key = e.keycode ? e.keycode : e.which;
            }
            else {
                key = window.event.keyCode;
            }

            if (key == 8 || key == 0 || key == 32) // for backspace and delete button // for backspace
            {
                return true;
            }
            if (key == 46) // for decimal
            {
                return true;
            }

            if (key == 92 || key == 47) // for decimal
            {
                return true;
            }


            if ((key >= 97) && (key <= 122) || (key >= 65) && (key <= 90)) {
                return true;
            }

            else {

                if ((key >= 48) || (key <= 57)) {
                    return false;
                }
            }
            return true;
        }

        function IsNumeric(e) {

            if (!e) e = window.event;
            var key;
            if (navigator.appName == "Netscape") {
                key = e.keycode ? e.keycode : e.which;
            }
            else {
                key = window.event.keyCode;
            }

            if (key == 8 || key == 0 || key == 32) // for backspace and delete button // for backspace space
            {
                return true;
            }
            if (key == 46) // for decimal
            {
                return true;
            }
            else {
                if ((key < 48) || (key > 57)) {
                    return false;
                }
            }
            return true;
        }

        function OpenPopup() {
            Shadowbox.open({
                content: '../Common/ThankYouBusinessAssociate.htm',
                player: "iframe",
                height: 152,
                width: 460,
                onClose: function () { window.location.reload(); }
            });
        }
    </script>

                </div>
            </div>
        </div>