<div id="content" style="z-index: 999;">
        <div id="rotation">
            <div class="breadcrumbs">
                <img src="/images/breadcrumb.png" alt=""><a href="/Home">Home</a>&gt;<a href="/Book-Demo" class="current">Get Home Demo</a></div>
            <div class="clear">
                &nbsp;</div>
            <div class="innercontainer2 min_height width900px">
                <h2 class="color_blue  newless">
                    Experience Eureka Forbes products with a personalized demo</h2>
                <div class="clear">
                    &nbsp;</div>
               
               
                <p class="lessspace">
                    Fill in your details below and we will contact you for a personalized presentation
                    at a time and venue convenient to you.
                    <br>
                    Alternatively you can 
                    
                    
                       <span style="color: #005CA5; font-weight: bold; font-size: 16px;">
                        <span class="desktop-v-number">call on 07489969609</span> 
                        <span class="mobile-v-number">call on <a href="tel:07489969609">07489969609</a></span>
                         </span>
                     
                        
                        
                        to speak to a sales specialist now. The demos are
                    not charged.
                </p>


                <div id="ContentPlaceHolder1_UpdatePanel1">
	
                        <div class="wrapper">
                            <div class="formBox" style="margin-bottom: 20px;">
                                <div class="formInn2">
                                    <h2>
                                        I am interested in:</h2>
                                    <div class="col6">
                                        <label>
                                            *Select Product Category :</label>
                                        <select name="ctl00$ContentPlaceHolder1$ddlCategory" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlCategory\',\'\')', 0)" id="ContentPlaceHolder1_ddlCategory" tabindex="1" class="selcetMenu" style="width:200px;">
		<option selected="selected" value="0">-Select Category-</option>
		<option value="1">Air Purifiers</option>
		<option value="2">Heavy Metal Remover</option>
		<option value="6">Lifestyle Automation Solutions</option>
		<option value="7">Security Systems</option>
		<option value="8">Solar Lighting</option>
		<option value="9">Vacuum Cleaners</option>
		<option value="10">Water Purifiers</option>

	</select>
                                        <span id="ContentPlaceHolder1_RequiredFieldValidator12" style="color:Red;display:none;"></span>
                                    </div>
                                    <div class="col6" style="display: none;">
                                        <label>
                                            *Select Product Model :</label>
                                        <select name="ctl00$ContentPlaceHolder1$ddlProduct" id="ContentPlaceHolder1_ddlProduct" tabindex="2" class="selcetMenu">
		<option value="0">-Select Product-</option>

	</select>
                                        <span id="ContentPlaceHolder1_RequiredFieldValidator13" style="color:Red;display:none;">*</span>
                                    </div>
                                </div>
                                <div class="formInn2">
                                    <h2>
                                        Personal Details:</h2>
                                    <div class="formLeft">
                                        <div class="col5">
                                            <label>
                                                *Name :</label>
                                            <input name="ctl00$ContentPlaceHolder1$txtName" type="text" maxlength="20" id="txtName" tabindex="3" class="inpBg2">
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator4" style="display:none;"></span>
                                            <div id="divName" style="color: Red; display: none;">
                                                *</div>
                                            
                                            
                                        </div>
                                        <div class="col5">
                                            <label>
                                                *Mobile Number :
                                            </label>
                                            <input name="ctl00$ContentPlaceHolder1$txtMobile" type="text" maxlength="10" id="txtMobile" tabindex="5" class="inpBg2">
                                            
                                            <span id="ContentPlaceHolder1_rfvMobile" style="display:none;"></span>
                                            
                                            <span id="ContentPlaceHolder1_RegularExpressionValidator2" title="Please enter a valid 10 digit mobile number" class="validatorError" style="color:Red;display:none;"></span>
                                            
                                        </div>
                                        <div class="col5">
                                            <label>
                                                *Area :
                                            </label>
                                            <input name="ctl00$ContentPlaceHolder1$txtArea" type="text" maxlength="30" id="txtArea" tabindex="7" class="inpBg2">
                                            <div id="divArea" style="color: Red; display: none;">
                                                *</div>
                                            <span id="ContentPlaceHolder1_rfvArea" style="display:none;"></span>
                                            
                                        </div>
                                        <div class="col5">
                                            <label>
                                                *State :
                                            </label>
                                            <select name="ctl00$ContentPlaceHolder1$ddlState" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlState\',\'\')', 0)" id="ContentPlaceHolder1_ddlState" tabindex="9" class="selcetMenu" style="width:200px;">
		<option selected="selected" value="0">-Select State-</option>
		<option value="2">Arunachal Pradesh</option>
		<option value="3">Assam</option>
		<option value="4">Bihar</option>
		<option value="5">Chandigarh</option>
		<option value="6">Chhattisgarh</option>
		<option value="7">Goa</option>
		<option value="8">Gujarat</option>
		<option value="9">Haryana</option>
		<option value="10">Himachal Pradesh</option>
		<option value="11">Jammu &amp; Kashmir</option>
		<option value="12">Jharkand</option>
		<option value="13">Karnataka</option>
		<option value="14">Kerala</option>
		<option value="15">Madhya Pradesh</option>
		<option value="16">Maharashtra</option>
		<option value="17">Meghalaya</option>
		<option value="29">Nagaland</option>
		<option value="18">New Delhi</option>
		<option value="19">Orissa</option>
		<option value="20">Pondicherry</option>
		<option value="21">Punjab</option>
		<option value="22">Rajasthan</option>
		<option value="31">Seemandhra</option>
		<option value="23">Tamilnadu</option>
		<option value="30">Telangana</option>
		<option value="24">Uttar Pradesh</option>
		<option value="25">Uttarakhand</option>
		<option value="27">West Bengal</option>

	</select>
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator9" style="color:Red;display:none;"></span>
                                        </div>
                                    </div>
                                    <div class="formLeft">
                                        <div class="col5">
                                            
                                            <label>
                                                *Email id:
                                            </label>
                                            <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" maxlength="50" id="txtEmail" tabindex="4" class="inpBg2 inputEmail">
                                           
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator17" style="display:none;"></span>
                                            <span id="ContentPlaceHolder1_revEmail" style="display:none;"></span>
                                            
                                        </div>
                                        <div class="col5">
                                            <label>
                                                *Address :
                                            </label>
                                            <input name="ctl00$ContentPlaceHolder1$txtAddress" type="text" maxlength="50" id="txtAddress" tabindex="6" class="inpBg2">
                                            
                                            <span id="ContentPlaceHolder1_rfvAddress" style="display:none;"></span>
                                            
                                        </div>
                                        <div class="col5">
                                            <label>
                                                *Pin Code :</label>
                                            <input name="ctl00$ContentPlaceHolder1$txtPinCode" type="text" maxlength="6" id="txtPinCode" tabindex="8" class="inpBg2" onblur="validateField(this, 'Please Enter Pin Code.', 'divPinCode','hidpincode'); validatepin(this, 'Please Enter a Valid 6 Digit Pin Code', 'divPinCode')">
                                            
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator11" style="display:none;"></span>
                                            
                                            <span id="ContentPlaceHolder1_RegularExpressionValidator1" title="Please Enter a Valid 6 Digit Pin Code" class="validatorError" style="color:Red;display:none;"></span>
                                            
                                        </div>
                                        <div class="col5">
                                            <label>
                                                *City :
                                            </label>
                                            <select name="ctl00$ContentPlaceHolder1$ddlCity" id="ContentPlaceHolder1_ddlCity" tabindex="10" class="selcetMenu" style="width:200px;">
		<option value="0">-Select City-</option>

	</select>
                                            <span id="ContentPlaceHolder1_RequiredFieldValidator10" style="color:Red;display:none;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="formInn2" style="display: none;">
                                    <h2>
                                        I would prefer to see the demo:</h2>
                                    <div class="col7">
                                        <label>
                                            *on Date :
                                        </label>
                                        <div id="ContentPlaceHolder1_rdtpDOB_wrapper" class="RadPicker RadPicker_Default selcetMenu selectin" style="width:150px;">
		<!-- 2009.1.311.35 --><input style="visibility:hidden;display:block;float:right;margin:0 0 -1px;width:1px;height:1px;overflow:hidden;border:0;padding:0;" id="ContentPlaceHolder1_rdtpDOB" name="ctl00$ContentPlaceHolder1$rdtpDOB" type="text" class="rdfd_" value=""><table cellspacing="0" class="rcTable" style="width:100%;">
			<tbody><tr>
				<td class="rcInputCell" style="width:100%;"><span id="ContentPlaceHolder1_rdtpDOB_dateInput_wrapper" class="RadInput RadInput_Default" style="display:block;"><input type="text" id="ContentPlaceHolder1_rdtpDOB_dateInput_text" name="ContentPlaceHolder1_rdtpDOB_dateInput_text" class="riTextBox riEnabled" tabindex="11" title="Date input" style="width: 100%;"><input style="visibility:hidden;float:right;margin:-18px 0 0 0;width:1px;height:1px;overflow:hidden;border:0;padding:0;" id="ContentPlaceHolder1_rdtpDOB_dateInput" name="ctl00$ContentPlaceHolder1$rdtpDOB$dateInput" type="text" class="rdfd_" value=""><input id="ContentPlaceHolder1_rdtpDOB_dateInput_ClientState" name="ContentPlaceHolder1_rdtpDOB_dateInput_ClientState" type="hidden" autocomplete="off" value="{&quot;enabled&quot;:true,&quot;emptyMessage&quot;:&quot;&quot;,&quot;minDateStr&quot;:&quot;5/15/2016 0:0:0&quot;,&quot;maxDateStr&quot;:&quot;12/31/2099 0:0:0&quot;}"></span></td><td><a title="Open the calendar popup." href="#" id="ContentPlaceHolder1_rdtpDOB_popupButton" tabindex="11" class="rcCalPopup">Open the calendar popup.</a><div id="ContentPlaceHolder1_rdtpDOB_calendar_wrapper" style="display: none"><table id="ContentPlaceHolder1_rdtpDOB_calendar" summary="Calendar" cellspacing="0" class="RadCalendar RadCalendar_Default">
					<thead>
						<tr>
							<td class="rcTitlebar"><table cellspacing="0" summary="title and navigation">
								<tbody><tr>
									<td><a id="ContentPlaceHolder1_rdtpDOB_calendar_FNP" class="rcFastPrev" title="<<" href="#">&lt;&lt;</a></td><td><a id="ContentPlaceHolder1_rdtpDOB_calendar_NP" class="rcPrev" title="<" href="#">&lt;</a></td><td id="ContentPlaceHolder1_rdtpDOB_calendar_Title" class="rcTitle">May 2016</td><td><a id="ContentPlaceHolder1_rdtpDOB_calendar_NN" class="rcNext" title=">" href="#">&gt;</a></td><td><a id="ContentPlaceHolder1_rdtpDOB_calendar_FNN" class="rcFastNext" title=">>" href="#">&gt;&gt;</a></td>
								</tr>
							</tbody></table></td>
						</tr>
					</thead><tbody>
	<tr>
		<td class="rcMain"><table id="ContentPlaceHolder1_rdtpDOB_calendar_Top" class="rcMainTable" cellspacing="0" summary="May 2016">
	<thead>
		<tr class="rcWeek">
			<th class="rcViewSel">&nbsp;</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_1" title="Sunday" abbr="Sun" scope="col">S</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_2" title="Monday" abbr="Mon" scope="col">M</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_3" title="Tuesday" abbr="Tue" scope="col">T</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_4" title="Wednesday" abbr="Wed" scope="col">W</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_5" title="Thursday" abbr="Thu" scope="col">T</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_6" title="Friday" abbr="Fri" scope="col">F</th><th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_cs_7" title="Saturday" abbr="Sat" scope="col">S</th>
		</tr>
	</thead><tbody>
		<tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_1" scope="row">18</th><td class="rcOutOfRange"><span>24</span></td><td class="rcOutOfRange"><span>25</span></td><td class="rcOutOfRange"><span>26</span></td><td class="rcOutOfRange"><span>27</span></td><td class="rcOutOfRange"><span>28</span></td><td class="rcOutOfRange"><span>29</span></td><td class="rcOutOfRange"><span>30</span></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_2" scope="row">19</th><td class="rcOutOfRange"><span>1</span></td><td class="rcOutOfRange"><span>2</span></td><td class="rcOutOfRange"><span>3</span></td><td class="rcOutOfRange"><span>4</span></td><td class="rcOutOfRange"><span>5</span></td><td class="rcOutOfRange"><span>6</span></td><td class="rcOutOfRange"><span>7</span></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_3" scope="row">20</th><td class="rcOutOfRange"><span>8</span></td><td class="rcOutOfRange"><span>9</span></td><td class="rcOutOfRange"><span>10</span></td><td class="rcOutOfRange"><span>11</span></td><td class="rcOutOfRange"><span>12</span></td><td class="rcOutOfRange"><span>13</span></td><td class="rcOutOfRange"><span>14</span></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_4" scope="row">21</th><td class="rcWeekend" title="Sunday, May 15, 2016"><a href="#">15</a></td><td title="Monday, May 16, 2016"><a href="#">16</a></td><td title="Tuesday, May 17, 2016"><a href="#">17</a></td><td title="Wednesday, May 18, 2016"><a href="#">18</a></td><td title="Thursday, May 19, 2016"><a href="#">19</a></td><td title="Friday, May 20, 2016"><a href="#">20</a></td><td class="rcWeekend" title="Saturday, May 21, 2016"><a href="#">21</a></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_5" scope="row">22</th><td class="rcWeekend" title="Sunday, May 22, 2016"><a href="#">22</a></td><td title="Monday, May 23, 2016"><a href="#">23</a></td><td title="Tuesday, May 24, 2016"><a href="#">24</a></td><td title="Wednesday, May 25, 2016"><a href="#">25</a></td><td title="Thursday, May 26, 2016"><a href="#">26</a></td><td title="Friday, May 27, 2016"><a href="#">27</a></td><td class="rcWeekend" title="Saturday, May 28, 2016"><a href="#">28</a></td>
		</tr><tr class="rcRow">
			<th id="ContentPlaceHolder1_rdtpDOB_calendar_Top_rs_6" scope="row">23</th><td class="rcWeekend" title="Sunday, May 29, 2016"><a href="#">29</a></td><td title="Monday, May 30, 2016"><a href="#">30</a></td><td title="Tuesday, May 31, 2016"><a href="#">31</a></td><td class="rcOtherMonth" title="Wednesday, June 01, 2016"><a href="#">1</a></td><td class="rcOtherMonth" title="Thursday, June 02, 2016"><a href="#">2</a></td><td class="rcOtherMonth" title="Friday, June 03, 2016"><a href="#">3</a></td><td class="rcOtherMonth" title="Saturday, June 04, 2016"><a href="#">4</a></td>
		</tr>
	</tbody>
</table></td>
	</tr>
</tbody>
				</table><input type="hidden" name="ContentPlaceHolder1_rdtpDOB_calendar_SD" id="ContentPlaceHolder1_rdtpDOB_calendar_SD" value="[]"><input type="hidden" name="ContentPlaceHolder1_rdtpDOB_calendar_AD" id="ContentPlaceHolder1_rdtpDOB_calendar_AD" value="[[2016,5,15],[2099,12,30],[2016,5,15]]"></div></td>
			</tr>
		</tbody></table><input id="ContentPlaceHolder1_rdtpDOB_ClientState" name="ContentPlaceHolder1_rdtpDOB_ClientState" type="hidden" autocomplete="off">
	</div>
                                        <span id="ContentPlaceHolder1_RequiredFieldValidator14" style="color:Red;display:none;">*</span>
                                    </div>
                                    <div class="col8">
                                        <label>
                                            *at Time :
                                        </label>
                                        <select name="ctl00$ContentPlaceHolder1$ddlHour" id="ContentPlaceHolder1_ddlHour" tabindex="12" class="selcetMenu3" style="width:200px;">
		<option selected="selected" value="0">Select Hour</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>

	</select>
                                        <span id="ContentPlaceHolder1_RequiredFieldValidator1" style="color:Red;float:left;display:none;">*</span>
                                        <select name="ctl00$ContentPlaceHolder1$ddlMin" id="ContentPlaceHolder1_ddlMin" tabindex="13" class="selcetMenu3" style="width:200px;">
		<option selected="selected" value="0">Select Minutes</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
		<option value="25">25</option>
		<option value="30">30</option>
		<option value="35">35</option>
		<option value="40">40</option>
		<option value="45">45</option>
		<option value="50">50</option>
		<option value="55">55</option>

	</select>
                                        <span id="ContentPlaceHolder1_RequiredFieldValidator2" style="color:Red;float:left;display:none;">*</span>
                                        <select name="ctl00$ContentPlaceHolder1$ddlAM" id="ContentPlaceHolder1_ddlAM" tabindex="14" class="selcetMenu3">
		<option selected="selected" value="0">Select AM/PM</option>
		<option value="AM">AM</option>
		<option value="PM">PM</option>

	</select>
                                        <span id="ContentPlaceHolder1_RequiredFieldValidator3" style="color:Red;float:left;display:none;">*</span>
                                    </div>
                                </div>
                                <div class="form_inner">
                                    <div class="formInn3" style="text-align:center">
                                        
                                        <span class="newcheckbox"><input id="ContentPlaceHolder1_chkSignupAgree" type="checkbox" name="ctl00$ContentPlaceHolder1$chkSignupAgree" checked="checked" tabindex="16"></span><label>By
                                            signing up you agree to being contacted by Eureka Forbes</label>
                                    </div>
                                    <div class="form_submit">
                                        <a onclick="return validatepick();" id="ContentPlaceHolder1_lnkSubmit" tabindex="17" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkSubmit", "", true, "Demo", "", false, true))'><img src="/images/submit_demo.jpg" width="162" height="28" alt="" style="padding: 10px 0 10px 0"></a>
                                        <div id="ContentPlaceHolder1_ValidationSummary1" style="display:none;">

	</div>
                                    </div>
                                    <div class="form_text">
                                        Any information you give us is held with the utmost care and security.<br>
                                        Eureka Forbes does not sell, rent or loan any identifiable information of customers
                                        or prospects to any third party.
                                    </div>
                                </div>
                            </div>
                        </div>
                    
</div>
                
            </div>
        </div>
    </div>