<div id="content" style="z-index: 999;">
        
<!-- side menu ends here-->

        <div id="rotation"> 
            <div class="breadcrumbs">
                <img src="/images/breadcrumb.png" alt=""><a href="/Home">Company</a>&gt;<a href="/Partner-with-us">Partner with us</a>&gt;<span>Packaged
                        Drinking Water</span></div>
            <div class="clear">
                &nbsp;</div>
            <div class="main_heading">
                <h1>
                    Packaged Drinking Water</h1>
            </div>
            <div class="innercontainer2 min_height width900px " style="margin-top: 10px;">
                <div class="newly_all_tabs TabbedPanels r-tabs">
                    <ul class="tabs r-tabs-nav">
                        <li class="r-tabs-tab r-tabs-state-active"><a href="#dvEnquiry" class="1 r-tabs-anchor">Place an Enquiry</a></li>
                        <li class="r-tabs-state-default r-tabs-tab"><a href="#ebuy" class="r-tabs-anchor">Locate a Franchisee</a></li>
                        <li class="r-tabs-state-default r-tabs-tab"><a href="#Water-Purifiers" class="r-tabs-anchor">Become a Franchisee</a></li>
                    </ul>
                    <div class="panes panesnews">

                    <div class="r-tabs-accordion-title r-tabs-state-active"><a href="#dvEnquiry" class="r-tabs-anchor">Place an Enquiry</a></div><div class="fqtbebnew r-tabs-panel r-tabs-state-active" id="dvEnquiry" style="display: block;">
                    <div class="new_PlaceEnquiry">
                                <div class="become_a_new">
                                    <table width="500" border="0" cellspacing="0" cellpadding="0" style="padding: 15px 0 0 0;">
                                        <tbody><tr>
                                            <td style="font-family: arialnarrow; font-size: 18px; font-weight: normal; color: #2a76c4;
                                                padding: 0 0 5px 0">
                                                Fill in your details and our expert will get in touch with you
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="tblpdw">
                                                    <tbody><tr>
                                                        <td class="tdleft">
                                                            Name <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <input name="ctl00$ContentPlaceHolder1$txtEnqName" type="text" maxlength="30" id="ContentPlaceHolder1_txtEnqName" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                            <span id="ContentPlaceHolder1_RequiredFieldValidator22" style="color:Red;display:none;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            Mobile <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <input name="ctl00$ContentPlaceHolder1$txtEnqMobile" type="text" maxlength="10" id="ContentPlaceHolder1_txtEnqMobile" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumeric(event);">
                                                            <span id="ContentPlaceHolder1_RequiredFieldValidator23" style="color:Red;display:none;"></span>
                                                            <span id="ContentPlaceHolder1_RegularExpressionValidator3" style="display:none;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            Email <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <input name="ctl00$ContentPlaceHolder1$txtEnqEmail" type="text" maxlength="100" id="ContentPlaceHolder1_txtEnqEmail" class="form_detail_width_n" align="absmiddle">
                                                            <span id="ContentPlaceHolder1_RequiredFieldValidator24" style="color:Red;display:none;"></span>
                                                            <span id="ContentPlaceHolder1_RegularExpressionValidator4" style="color:Red;display:none;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            Address <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <textarea name="ctl00$ContentPlaceHolder1$txtEnqAddress" rows="2" cols="3" id="ContentPlaceHolder1_txtEnqAddress" class="form_detail_width_n height_50px" onkeypress="javascript:Count(ctl00_ContentPlaceHolder1_txtRemarks,'200')"></textarea>
                                                            <span id="ContentPlaceHolder1_RequiredFieldValidator25" style="color:Red;display:none;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            State <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <select name="ctl00$ContentPlaceHolder1$ddlEnqState" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlEnqState\',\'\')', 0)" id="ContentPlaceHolder1_ddlEnqState" class="form_select_width_n">
	<option selected="selected" value="0">-Select State-</option>
	<option value="5">Andhra Pradesh</option>
	<option value="3">Karnataka</option>
	<option value="2">Madhya Pradesh</option>
	<option value="1">Maharashtra</option>
	<option value="9">Orissa</option>
	<option value="8">Punjab</option>
	<option value="4">Tamil Nadu</option>
	<option value="7">Uttar Pradesh</option>
	<option value="6">West Bengal</option>

</select>
                                                            <span id="ContentPlaceHolder1_RequiredFieldValidator26" style="color:Red;display:none;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            City <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <div id="ContentPlaceHolder1_updateEnqState">
	
                                                                    <select name="ctl00$ContentPlaceHolder1$ddlEnqCity" id="ContentPlaceHolder1_ddlEnqCity" class="form_select_width_n">

	</select>
                                                                    <span id="ContentPlaceHolder1_RequiredFieldValidator27" style="color:Red;display:none;"></span>
                                                                
</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            Pincode <span style="color: Red">*</span>
                                                        </td>
                                                        <td>
                                                            <input name="ctl00$ContentPlaceHolder1$txtPinCode" type="text" maxlength="6" id="ContentPlaceHolder1_txtPinCode" class="form_detail_width_n">
                                                            <span id="ContentPlaceHolder1_rfvPinCode" style="display:none;"></span>
                                                            <span id="ContentPlaceHolder1_RegularExpressionValidator5" title="Please Enter a Valid 6 Digit Pin Code" style="color:Red;display:none;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdleft">
                                                            Required Size &amp; <br> Quantity <span style="color: Red">*</span>
                                                        </td>
                                                        <td class="clsprefsize">
                                                            <ul>
                                                                <li>
                                                                    <p>
                                                                        <span class="chkprefsize"><input id="ContentPlaceHolder1_chk200ml" type="checkbox" name="ctl00$ContentPlaceHolder1$chk200ml"><label for="ContentPlaceHolder1_chk200ml">200ml</label></span>
                                                                        <input name="ctl00$ContentPlaceHolder1$txt200ml" type="text" value="Input Quantity (In Dozens)" maxlength="4" id="ContentPlaceHolder1_txt200ml" class="form_detail_width_n_Quantity Quantity" onfocus="if(this.value == 'Input Quantity (In Dozens)')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Input Quantity (In Dozens)') this.value='Input Quantity (In Dozens)'" align="absmiddle" onkeypress="return IsNumeric(event);" style="display: none;">
                                                                        <span id="ContentPlaceHolder1_rfv200ml" class="rfvprefsize" style="display:none;"></span>
                                                                      
                                                                    </p>
                                                                </li>
                                                                <li>
                                                                    <p>
                                                                        <span class="chkprefsize"><input id="ContentPlaceHolder1_chk500ml" type="checkbox" name="ctl00$ContentPlaceHolder1$chk500ml"><label for="ContentPlaceHolder1_chk500ml">500ml</label></span>
                                                                        <input name="ctl00$ContentPlaceHolder1$txt500ml" type="text" value="Input Quantity (In Dozens)" maxlength="4" id="ContentPlaceHolder1_txt500ml" class="form_detail_width_n_Quantity Quantity" onfocus="if(this.value == 'Input Quantity (In Dozens)')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Input Quantity (In Dozens)') this.value='Input Quantity (In Dozens)'" align="absmiddle" onkeypress="return IsNumeric(event);" style="display: none;">
                                                                        <span id="ContentPlaceHolder1_rfv500ml" class="rfvprefsize" style="display:none;"></span>
                                                                        
                                                                    </p>
                                                                </li>
                                                                <li>
                                                                    <p>
                                                                        <span class="chkprefsize"><input id="ContentPlaceHolder1_chk1Litre" type="checkbox" name="ctl00$ContentPlaceHolder1$chk1Litre"><label for="ContentPlaceHolder1_chk1Litre">1 Litre</label></span>
                                                                        <input name="ctl00$ContentPlaceHolder1$txt1Litre" type="text" value="Input Quantity (In Dozens)" maxlength="4" id="ContentPlaceHolder1_txt1Litre" class="form_detail_width_n_Quantity Quantity" onfocus="if(this.value == 'Input Quantity (In Dozens)')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Input Quantity (In Dozens)') this.value='Input Quantity (In Dozens)'" align="absmiddle" onkeypress="return IsNumeric(event);" style="display: none;">
                                                                        <span id="ContentPlaceHolder1_rfv1Litre" class="rfvprefsize" style="display:none;"></span>
                                                                        
                                                                    </p>
                                                                </li>
                                                                <li>
                                                                    <p>
                                                                        <span class="chkprefsize"><input id="ContentPlaceHolder1_chk2Litre" type="checkbox" name="ctl00$ContentPlaceHolder1$chk2Litre"><label for="ContentPlaceHolder1_chk2Litre">2 Litres</label></span>
                                                                        <input name="ctl00$ContentPlaceHolder1$txt2Litre" type="text" value="Input Quantity (In Dozens)" maxlength="4" id="ContentPlaceHolder1_txt2Litre" class="form_detail_width_n_Quantity Quantity" onfocus="if(this.value == 'Input Quantity (In Dozens)')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Input Quantity (In Dozens)') this.value='Input Quantity (In Dozens)'" align="absmiddle" onkeypress="return IsNumeric(event);" style="display: none;">
                                                                        <span id="ContentPlaceHolder1_rfv2Litre" class="rfvprefsize" style="display:none;"></span>
                                                                       
                                                                    </p>
                                                                </li>
                                                                <li>
                                                                    <p>
                                                                        <span class="chkprefsize"><input id="ContentPlaceHolder1_chk20Litre" type="checkbox" name="ctl00$ContentPlaceHolder1$chk20Litre"><label for="ContentPlaceHolder1_chk20Litre">20 Litres</label></span>
                                                                        <input name="ctl00$ContentPlaceHolder1$txt20Litre" type="text" value="Input Quantity" maxlength="4" id="ContentPlaceHolder1_txt20Litre" class="form_detail_width_n_Quantity Quantity" onfocus="if(this.value == 'Input Quantity')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Input Quantity') this.value='Input Quantity'" align="absmiddle" onkeypress="return IsNumeric(event);" style="display: none;">
                                                                        <span id="ContentPlaceHolder1_rfv20Litre" class="rfvprefsize" style="display:none;"></span>
                                                                        
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                          
                                                        </td>
                                                    </tr>
                                                   
                                                    <tr>
                                                        <td width="152px">
                                                            &nbsp;
                                                        </td>
                                                        <td class="enquire">
                                                            
                                                            <a id="ContentPlaceHolder1_lnkPEnquiry" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkPEnquiry", "", true, "PEnquiry", "", false, true))'>Submit&nbsp;&nbsp;<img class="paddingtop_5" src="/images/list_icon.png" width="21" height="14" align="absmiddle"></a>
                                                            <div id="ContentPlaceHolder1_ValidationSummary3" style="display:none;">

</div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                            </div>










                        <div class="r-tabs-accordion-title"><a href="#ebuy" class="r-tabs-anchor">Locate a Franchisee</a></div><div id="ebuy" class="r-tabs-state-default r-tabs-panel">
                            <div class="new_locat">
                                <table width="500" border="0" cellspacing="0" cellpadding="0" style="padding: 15px 0 0 0;">
                                    <tbody><tr>
                                        <td style="font-family: arialnarrow; font-size: 18px; font-weight: normal; color: #2a76c4;
                                            padding: 0 0 5px 0">
                                            Fill in your details below to locate a franchisee
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="margin-top: 20px;">
                                                <tbody><tr>
                                                    <td width="152">
                                                        Name <span style="color: Red">*</span>
                                                    </td>
                                                    <td>
                                                        <input name="ctl00$ContentPlaceHolder1$txtEnName" type="text" maxlength="30" id="ContentPlaceHolder1_txtEnName" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                        <span id="ContentPlaceHolder1_RequiredFieldValidator10" style="color:Red;display:none;"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="152">
                                                        Mobile <span style="color: Red">*</span>
                                                    </td>
                                                    <td>
                                                        <input name="ctl00$ContentPlaceHolder1$txtEnContact" type="text" maxlength="10" id="ContentPlaceHolder1_txtEnContact" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumeric(event);">
                                                        <span id="ContentPlaceHolder1_RequiredFieldValidator11" style="color:Red;display:none;"></span>
                                                        <span id="ContentPlaceHolder1_RegularExpressionValidator2" style="visibility:hidden;">*</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="152">
                                                        Email <span style="color: Red">*</span>
                                                    </td>
                                                    <td>
                                                        <input name="ctl00$ContentPlaceHolder1$txtEnEmail" type="text" maxlength="100" id="ContentPlaceHolder1_txtEnEmail" class="form_detail_width_n" align="absmiddle">
                                                        <span id="ContentPlaceHolder1_RequiredFieldValidator12" style="color:Red;display:none;"></span>
                                                        <span id="ContentPlaceHolder1_RegularExpressionValidator1" style="color:Red;display:none;"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="152">
                                                        Address <span style="color: Red">*</span>
                                                    </td>
                                                    <td>
                                                        <textarea name="ctl00$ContentPlaceHolder1$txtEnAddress" rows="2" cols="3" id="ContentPlaceHolder1_txtEnAddress" class="form_detail_width_n height_50px" onkeypress="javascript:Count(ctl00_ContentPlaceHolder1_txtRemarks,'200')"></textarea>
                                                        <span id="ContentPlaceHolder1_RequiredFieldValidator13" style="color:Red;display:none;"></span>
                                                    </td>
                                                </tr>
                                                
                                                        <tr>
                                                            <td width="152">
                                                                State <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <select name="ctl00$ContentPlaceHolder1$ddlEnState" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlEnState\',\'\')', 0)" id="ContentPlaceHolder1_ddlEnState" class="form_select_width_n">
	<option selected="selected" value="0">-Select State-</option>
	<option value="5">Andhra Pradesh</option>
	<option value="2">Gujarat/ MP</option>
	<option value="3">Karnataka</option>
	<option value="1">Maharashtra</option>
	<option value="4">Tamil Nadu</option>
	<option value="7">Uttar Pradesh</option>
	<option value="6">West Bengal</option>

</select>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator18" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                City <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <div id="ContentPlaceHolder1_UpdatePanel2">
	
                                                                <select name="ctl00$ContentPlaceHolder1$ddlEnCity" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlEnCity\',\'\')', 0)" id="ContentPlaceHolder1_ddlEnCity" class="form_select_width_n">

	</select>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator19" style="color:Red;display:none;"></span>
                                                                       
</div>
                                                            </td>
                                                        </tr>
                                                    
                                                <tr>
                                                    <td width="152px">
                                                        &nbsp;
                                                    </td>
                                                    <td class="enquire">
                                                        <a id="ContentPlaceHolder1_lnkEnquiry" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkEnquiry", "", true, "Enquiry", "", false, true))'>Submit Enquiry&nbsp;&nbsp;<img class="paddingtop_5" src="/images/list_icon.png" width="21" height="14" align="absmiddle"></a>
                                                        <div id="ContentPlaceHolder1_ValidationSummary1" style="display:none;">

</div>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <div class="clear">
                            </div>
                        </div>





                       
                                <!--ebuy ends here--->
                                <div class="r-tabs-accordion-title"><a href="#Water-Purifiers" class="r-tabs-anchor">Become a Franchisee</a></div><div class="fqtbebnew r-tabs-state-default r-tabs-panel" id="Water-Purifiers">
                                <div class="new_BecomeFranchisee">
                                    <div class="become_a_new">
                                        <table width="700" border="0" cellspacing="0" cellpadding="0" style="padding: 17px 0 19px 0;">
                                            <tbody><tr>
                                                <td style="font-family: arialnarrow; font-size: 18px; font-weight: normal; color: #2a76c4;
                                                    padding: 0 0 5px 0">
                                                    Sign up to become a Packaged Drinking Water Franchisee
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table style="margin-top: 20px;">
                                                        <tbody><tr>
                                                            <td width="152">
                                                                Title <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <select name="ctl00$ContentPlaceHolder1$ddltitle" id="ContentPlaceHolder1_ddltitle" class="form_select_width_n">
	<option selected="selected" value="Mr.">Mr.</option>
	<option value="Ms.">Ms.</option>

</select>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator2" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                First name <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtFirstName" type="text" maxlength="100" id="ContentPlaceHolder1_txtFirstName" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator1" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Last Name <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtLastName" type="text" maxlength="100" id="ContentPlaceHolder1_txtLastName" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator3" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Email <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtMailID" type="text" maxlength="100" id="ContentPlaceHolder1_txtMailID" class="form_detail_width_n" align="absmiddle">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator17" style="color:Red;display:none;"></span>
                                                                <span id="ContentPlaceHolder1_revEmail" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Mobile No <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtContactMob" type="text" maxlength="10" id="ContentPlaceHolder1_txtContactMob" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumeric(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator4" style="color:Red;display:none;"></span>
                                                                <span id="ContentPlaceHolder1_reqLength" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Address <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <textarea name="ctl00$ContentPlaceHolder1$txtAddress" rows="2" cols="3" id="ContentPlaceHolder1_txtAddress" class="form_detail_width_n height_50px" onkeypress="javascript:Count(ctl00_ContentPlaceHolder1_txtRemarks,'200')"></textarea>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator16" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                State <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <select name="ctl00$ContentPlaceHolder1$ddlState" id="ContentPlaceHolder1_ddlState" class="form_select_width_n">
	<option value="0">-Select State-</option>
	<option value="2">Arunachal Pradesh</option>
	<option value="3">Assam</option>
	<option value="4">Bihar</option>
	<option value="5">Chandigarh</option>
	<option value="6">Chhattisgarh</option>
	<option value="7">Goa</option>
	<option value="8">Gujarat</option>
	<option value="9">Haryana</option>
	<option value="10">Himachal Pradesh</option>
	<option value="11">Jammu &amp; Kashmir</option>
	<option value="12">Jharkand</option>
	<option value="13">Karnataka</option>
	<option value="14">Kerala</option>
	<option value="15">Madhya Pradesh</option>
	<option value="16">Maharashtra</option>
	<option value="17">Meghalaya</option>
	<option value="29">Nagaland</option>
	<option value="18">New Delhi</option>
	<option value="19">Orissa</option>
	<option value="20">Pondicherry</option>
	<option value="21">Punjab</option>
	<option value="22">Rajasthan</option>
	<option value="31">Seemandhra</option>
	<option value="23">Tamilnadu</option>
	<option value="30">Telangana</option>
	<option value="24">Uttar Pradesh</option>
	<option value="25">Uttarakhand</option>
	<option value="27">West Bengal</option>

</select>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator9" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                City <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtcity" type="text" maxlength="40" id="ContentPlaceHolder1_txtcity" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator5" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Date of Birth <span style="color: Red">*</span>
                                                                
                                                            </td>
                                                            <td class="tddob" style="padding-left: 10px;">
                                                                
                                                                <select name="ctl00$ContentPlaceHolder1$ddlDate" id="ContentPlaceHolder1_ddlDate" style="width:60px;">
	<option value="0">DD</option>
	<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>

</select>
                                                                <select name="ctl00$ContentPlaceHolder1$ddlMonth" id="ContentPlaceHolder1_ddlMonth" style="width:60px;">
	<option value="0">MM</option>
	<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>

</select>
                                                                <select name="ctl00$ContentPlaceHolder1$ddlYr" id="ContentPlaceHolder1_ddlYr" style="width:70px;">
	<option value="0">YYYY</option>
	<option value="2014">2014</option>
	<option value="2013">2013</option>
	<option value="2012">2012</option>
	<option value="2011">2011</option>
	<option value="2010">2010</option>
	<option value="2009">2009</option>
	<option value="2008">2008</option>
	<option value="2007">2007</option>
	<option value="2006">2006</option>
	<option value="2005">2005</option>
	<option value="2004">2004</option>
	<option value="2003">2003</option>
	<option value="2002">2002</option>
	<option value="2001">2001</option>
	<option value="2000">2000</option>
	<option value="1999">1999</option>
	<option value="1998">1998</option>
	<option value="1997">1997</option>
	<option value="1996">1996</option>
	<option value="1995">1995</option>
	<option value="1994">1994</option>
	<option value="1993">1993</option>
	<option value="1992">1992</option>
	<option value="1991">1991</option>
	<option value="1990">1990</option>
	<option value="1989">1989</option>
	<option value="1988">1988</option>
	<option value="1987">1987</option>
	<option value="1986">1986</option>
	<option value="1985">1985</option>
	<option value="1984">1984</option>
	<option value="1983">1983</option>
	<option value="1982">1982</option>
	<option value="1981">1981</option>
	<option value="1980">1980</option>
	<option value="1979">1979</option>
	<option value="1978">1978</option>
	<option value="1977">1977</option>
	<option value="1976">1976</option>
	<option value="1975">1975</option>
	<option value="1974">1974</option>
	<option value="1973">1973</option>
	<option value="1972">1972</option>
	<option value="1971">1971</option>
	<option value="1970">1970</option>
	<option value="1969">1969</option>
	<option value="1968">1968</option>
	<option value="1967">1967</option>
	<option value="1966">1966</option>
	<option value="1965">1965</option>
	<option value="1964">1964</option>
	<option value="1963">1963</option>
	<option value="1962">1962</option>
	<option value="1961">1961</option>
	<option value="1960">1960</option>
	<option value="1959">1959</option>
	<option value="1958">1958</option>
	<option value="1957">1957</option>
	<option value="1956">1956</option>
	<option value="1955">1955</option>
	<option value="1954">1954</option>
	<option value="1953">1953</option>
	<option value="1952">1952</option>
	<option value="1951">1951</option>
	<option value="1950">1950</option>
	<option value="1949">1949</option>
	<option value="1948">1948</option>
	<option value="1947">1947</option>
	<option value="1946">1946</option>
	<option value="1945">1945</option>
	<option value="1944">1944</option>
	<option value="1943">1943</option>
	<option value="1942">1942</option>
	<option value="1941">1941</option>
	<option value="1940">1940</option>
	<option value="1939">1939</option>
	<option value="1938">1938</option>
	<option value="1937">1937</option>
	<option value="1936">1936</option>
	<option value="1935">1935</option>
	<option value="1934">1934</option>
	<option value="1933">1933</option>
	<option value="1932">1932</option>
	<option value="1931">1931</option>
	<option value="1930">1930</option>
	<option value="1929">1929</option>
	<option value="1928">1928</option>
	<option value="1927">1927</option>
	<option value="1926">1926</option>
	<option value="1925">1925</option>
	<option value="1924">1924</option>
	<option value="1923">1923</option>
	<option value="1922">1922</option>
	<option value="1921">1921</option>
	<option value="1920">1920</option>
	<option value="1919">1919</option>
	<option value="1918">1918</option>
	<option value="1917">1917</option>
	<option value="1916">1916</option>
	<option value="1915">1915</option>
	<option value="1914">1914</option>
	<option value="1913">1913</option>
	<option value="1912">1912</option>
	<option value="1911">1911</option>
	<option value="1910">1910</option>
	<option value="1909">1909</option>
	<option value="1908">1908</option>
	<option value="1907">1907</option>
	<option value="1906">1906</option>
	<option value="1905">1905</option>
	<option value="1904">1904</option>
	<option value="1903">1903</option>
	<option value="1902">1902</option>
	<option value="1901">1901</option>
	<option value="1900">1900</option>

</select>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator14" style="color:Red;display:none;"></span>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator20" style="color:Red;display:none;"></span>
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator21" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Current Occupation <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtCurrentOccupation" type="text" maxlength="100" id="ContentPlaceHolder1_txtCurrentOccupation" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator6" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Existing Business <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtExistingBusiness" type="text" maxlength="100" id="ContentPlaceHolder1_txtExistingBusiness" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator7" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                Company Name <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtcompanyName" type="text" maxlength="100" id="ContentPlaceHolder1_txtcompanyName" class="form_detail_width_n" align="absmiddle" onkeypress="return IsNumericAlfaOnly(event);">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator15" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152">
                                                                City/Districts Interested in Aquasure Franchisee <span style="color: Red">*</span>
                                                            </td>
                                                            <td>
                                                                <input name="ctl00$ContentPlaceHolder1$txtcityInterested" type="text" maxlength="100" id="ContentPlaceHolder1_txtcityInterested" class="form_detail_width_n" align="absmiddle">
                                                                <span id="ContentPlaceHolder1_RequiredFieldValidator8" style="color:Red;display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="152px">
                                                                &nbsp;
                                                            </td>
                                                            <td class="enquire">
                                                                <a id="ContentPlaceHolder1_lnkSubmit" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkSubmit", "", true, "Demo", "", false, true))'>Submit&nbsp;&nbsp;<img class="paddingtop_5" src="../images/list_icon.png" width="21" height="14" align="absmiddle"></a>
                                                                <div id="ContentPlaceHolder1_ValidationSummary2" style="display:none;">

</div>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                            
                                        </tbody></table>
                                    </div>
                                </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <!--water purifier ends here--->
                           
                    </div>
                </div>
            </div>
        </div>
    </div>