<?php $_categories = $this->getStoreCategories() ?>
<?php if (count($_categories)): ?>
    <nav class="nav-container">
        <div class="nav-inner">
            <div id="advancedmenu">
                <?php if ($this->showHomeLink()) : ?>
                    
                    <div class="menu <?php echo (Mage::helper('core/url')->getCurrentUrl() === Mage::helper('core/url')->getHomeUrl()) ? "act" : ""; ?>" id="home">
                        <div class="parentMenu menu0 home_link active">
                            <a href="<?php echo $this->getUrl('') ?>" class="<?php echo (Mage::helper('core/url')->getCurrentUrl() === Mage::helper('core/url')->getHomeUrl()) ? "active" : ""; ?>">
                                <span><?php echo $this->__('Home'); ?></span>
                            </a>
                        </div></div>
                <?php endif ?>
                <?php foreach ($_categories as $_category): ?>
                    <?php echo $this->drawAdvancedMenuItem($_category) ?>
                <?php endforeach ?>
                <?php
                if ($this->isActivecustomBlock()) :
                    $custom_block_name = Mage::getStoreConfig('advanced_menu/customblock/menucustomblock_name');
                    $custom_block_identifier = Mage::getStoreConfig('advanced_menu/customblock/customblock_identifier');
                    $custom_topoffset = Mage::getStoreConfig('advanced_menu/popup/top_offset') + 0;
                    ?>

                    <div class="menu">
                        <div class="custom_menu menu">
                            <a><span><?php echo $custom_block_name; ?></span></a>
                            <div class="customblock_inner megnor-advanced-menu-popup" style="top:<?php echo $custom_topoffset; ?>px">
                                <div class="megnor-advanced-menu-popup_inner">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($custom_block_identifier)->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    </div>
    <?php endif; ?>
                <div id="menu_help_me_buy" class="menu">
                    <div class="parentMenu">
                        <a href="<?php echo Mage::getBaseUrl(); ?>formbuilder">
                            <span><?php echo $this->__('Services'); ?></span>
                        </a>
                    </div>
                </div>
                <div id="menu_help_me_buy" class="menu">
                    <div class="parentMenu">
                        <a href="#">
                            <span><?php echo $this->__('AMC'); ?></span>
                        </a>
                    </div>
                </div>
                <div id="menu_help_me_buy" class="menu" >
                    <div class="parentMenu">
                        <a href="<?php echo Mage::getBaseUrl(); ?>storelocator/">
                            <span><?php echo $this->__('Locate Us'); ?></span>
                        </a>
                    </div>
                </div>
                <div id="menu_help_me_buy" class="menu" >
                    <div class="parentMenu">
                        <a href="#">
                            <span><?php echo $this->__('Offers'); ?></span>
                        </a>
                    </div>
                </div>

                <div id="menu_help_me_buy" class="menu" style="float: right">
                    <div class="help-me-buy" <?php if (Mage::getBlockSingleton('page/html_header')->getIsHomePage() || Mage::registry('current_category')) { ?>onclick="jQuery('html, body').animate({scrollTop: jQuery('.help-me-buy-widget').position().top + 40}, 'slow');" <?php } ?>>
                        <a href="javascript:void(0);">
                            <span><?php echo $this->__('Help Me Buy'); ?></span>
                        </a>
                    </div>
                </div>

                <div class="clearBoth"></div>
            </div>

            <!-- Code for responsive menu start -->
    <?php $_menu = $this->renderCategoriesMenuHtml(0, 'level-top') ?>
            <div class="nav-responsive" style="display:none;"><span>Menu</span><div class="expandable"></div></div>
            <div class="responsive_menu">
                <ul id="nav" class="advanced_nav">
    <?php echo $_menu ?>
                </ul>
            </div>
        </div>
        <!-- Code for responsive menu end -->

    </nav>
    <script type="text/javascript">
    //<![CDATA[
        var CUSTOMMENU_POPUP_WIDTH = <?php echo Mage::getStoreConfig('advanced_menu/popup/width') + 0; ?>;
        var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo Mage::getStoreConfig('advanced_menu/popup/top_offset') + 0; ?>;
        var CUSTOMMENU_POPUP_RIGHT_OFFSET_MIN = <?php echo Mage::getStoreConfig('advanced_menu/popup/right_offset_min') + 0; ?>;
        var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo Mage::getStoreConfig('advanced_menu/popup/delay_displaying') + 0; ?>;
        var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo Mage::getStoreConfig('advanced_menu/popup/delay_hiding') + 0; ?>;
        var megnorCustommenuTimerShow = {};
        var megnorCustommenuTimerHide = {};
    //]]>
    </script>
<?php endif; ?>
