<div class="contract_amc">
                    <div class="amc_one_left">
                        <div class="amc_left_title">
                            <h2 class="EbuyforTab">
                                eBuy Annual Maintenance Contract (AMC)</h2>
                            <h2 class="EbuyforMob">
                                eBuy AMC</h2>
                            <h3>
                                eBuy your AMC in 4 easy steps</h3>
                            <h4>
                                Step 1</h4>
                        </div>
                        <div class="amc_blog">
                            <div class="amc_blog_pd">
                                <p style="font-family: 'source_sans_proregular', Verdana, Geneva, sans-serif !important;
                                    font-size: 14px !important; color: #767676 !important; width: 90%;">
                                    Login to your account using your registered mobile number or email id</p>
                                <div class="amc_row_one">
                                    <div class="amc_mobi">
                                        <table id="ContentPlaceHolder1_rbtnLoginType">
	<tbody><tr>
		<td><input id="ContentPlaceHolder1_rbtnLoginType_0" type="radio" name="ctl00$ContentPlaceHolder1$rbtnLoginType" value="Mobile" checked="checked"><label for="ContentPlaceHolder1_rbtnLoginType_0">Mobile</label></td><td><input id="ContentPlaceHolder1_rbtnLoginType_1" type="radio" name="ctl00$ContentPlaceHolder1$rbtnLoginType" value="Email ID"><label for="ContentPlaceHolder1_rbtnLoginType_1">Email ID</label></td>
	</tr>
</tbody></table>
                                    </div>
                                </div>
                                <div id="ContentPlaceHolder1_pnlmoblogin" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ContentPlaceHolder1_lnksubmit')">
	
                                    <div id="divmobileverification">
                                        <div class="amc_row_two">
                                            <input name="ctl00$ContentPlaceHolder1$txtmobileno" type="text" value="Enter your mobile number" maxlength="10" id="ContentPlaceHolder1_txtmobileno" onfocus="if(this.value == 'Enter your mobile number')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Enter your mobile number') this.value='Enter your mobile number'">
                                            <span id="ContentPlaceHolder1_RfvMobile" style="color:Red;display:none;"></span>
                                            <span id="ContentPlaceHolder1_RxvMobile" style="color:Red;display:none;"></span>
                                            <p style="font-family: 'source_sans_proregular', Verdana, Geneva, sans-serif !important;
                                                font-size: 12px !important;" id="msMsg">
                                                You will be asked to give a missed call to login into the system soon.</p>
                                            <div id="adoroiboxcontent">
                                            </div>
                                            <div id="register" style="float: left;">
                                                <p style="font-family: 'source_sans_proregular', Verdana, Geneva, sans-serif !important;
                                                    font-size: 13px !important;">
                                                    For any assistance you can reach us on 022-30454001.</p>
                                            </div>
                                            <div id="dvmissedcallmsg" style="float: left; color: #EE3E00;">
                                            </div>
                                            <div style="padding-top: -5px;" align="center">
                                                <div style="display: none; width: 100%; float: left;">
                                                    <a id="ContentPlaceHolder1_lnksubmit" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnksubmit", "", true, "Book", "", false, true))'>Submit <img src="/images/list_icon.png" align="absmiddle" style="padding-top:0px;"></a>
                                                    <div id="ContentPlaceHolder1_ValidationSummary1" style="color:Red;display:none;">

	</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
</div>
                                <div id="ContentPlaceHolder1_pnlemaillogin" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ContentPlaceHolder1_lnkSubmitEmail')">
	
                                    <div id="dvEmail" style="display: none;">
                                        <div class="amc_row_two">                                            
                                            <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" value="Enter your email id" maxlength="50" id="ContentPlaceHolder1_txtEmail" onfocus="if(this.value == 'Enter your email id')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Enter your email id') this.value='Enter your email id'">
                                            <span id="ContentPlaceHolder1_rfvtxtemail" style="color:Red;display:none;"></span>
                                            <span id="ContentPlaceHolder1_RxvEmail" style="color:Red;display:none;"></span>
                                            <div id="register1" align="center" style="display: none;">
                                                <p style="padding: 0">
                                                    Kindly enter the email id registered with us.</p>
                                            </div>
                                            <div style="padding-top: 10px;" align="center">
                                                <div style="display: block;">
                                                    <a id="ContentPlaceHolder1_lnkSubmitEmail" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkSubmitEmail", "", true, "valemail", "", false, true))'>Submit <img src="/images/list_icon.png" align="absmiddle" style="padding-top:0px;"></a>
                                                    <div id="ContentPlaceHolder1_ValSummary" style="color:Red;display:none;">

	</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
</div>
                                <div id="dveflloader" align="center" style="float: left; margin: 5px auto; display: none;">
                                    Connecting to CRM system... Please wait.<br>
                                    <br>
                                    <img src="/servicerequest/images/ajax-loaderAMC.gif" alt="">
                                </div>
                                <div style="clear: both">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="amc_one_right">
                        <h3>
                            Next Steps Overview</h3>
                        <img src="<?php echo $this->getSkinUrl('images/amc_step.jpg')?>" alt=""></div>
                </div>