<div class="amc_maine">
                <div class="contract_amc">
                    <div class="amc_cont_two">
                        <div class="amc_left_title">
                            <h2>
                                Create Online AMC</h2>
                        </div>
                        <div style="float: right; margin: -25px 0 0;">
                            <a class="button" href="/AMC-Account-Details">
                                <img src="/images/back_icon.png" alt="<< " style="padding: 0;">Back</a></div>
                        <div class="components_details">
                            <div class="comp_title">
                                Component AMC Details</div>
                            <div class="comp_cont">
                                <div class="com_con_right">
                                    
                                    <img src="/images/no-img.png" alt="xx" onerror="this.onerror=null;this.src='/images/no-img.png';">
                                </div>
                                <div class="com_con_left">
                                    <div class="product_det">
                                        <label>
                                            Component AMC Details:</label><span>000000000025344745</span></div>
                                    <div class="product_det">
                                        <label>
                                            Product Code:</label><span>GWPDENRUV10000</span></div>
                                    <div class="product_det">
                                        <label>
                                            Product Description:</label><span>
                                                AG ENHANCE RO + UV WP SYSTEM (NEW)
                                            </span>
                                    </div>
                                    <div class="product_det">
                                        <label>
                                            Located At:</label><span>NA</span></div>
                                    <div class="product_det">
                                        <label>
                                            Serial Number:</label><span>001226303146047788</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC No:</label><span>0026067943</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC Status:</label><span>Out of Contract</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC Start Date:</label><span>28/04/2014</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC End Date:</label><span>27/04/2015</span></div>
                                </div>
                            </div>
                            <div class="comp_cont2">
                                <div class="com_con_left">
                                    <div class="product_det">
                                        <label>
                                            Online AMC Creation Possible From:</label><span>18/04/2016</span></div>
                                    <div class="product_det">
                                        <label>
                                            Online AMC Creation Possible Today:</label><span>Yes</span></div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="amc_options">
                            <div class="comp_title">
                                Available AMC Options</div>
                            <div class="amc_gray_option">
                                <div id="dvwithdiscount" style="display: block;">
                                    <div>
	<table cellspacing="5" cellpadding="4" rules="all" border="1" id="ContentPlaceHolder1_grdPrice" style="width:100%;">
		<tbody><tr>
			<th class="gray_option_t1" scope="col" style="height:25px;">Description</th><th class="gray_option_t1" scope="col" style="height:25px;">Contract Duration</th><th class="gray_option_t1" scope="col" style="height:25px;">Price</th><th class="gray_option_t1" scope="col" style="height:25px;">Discount</th><th class="gray_option_t1" scope="col" style="height:25px;">Amount Payable</th><th class="gray_option_t1" scope="col" style="height:25px;">Category</th>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1GC12">
                                                    AG EHNC RO+UV WP SYS NEW-1YEAR GOLD AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    5450.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    5200.00
                                                </td><td class="gray_option_t2">
                                                    GOLD
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1GC24">
                                                    AG EHNC RO+UV WP SYS NEW-2YEARS GOLD AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    24
                                                </td><td class="gray_option_t2">
                                                    10210.00
                                                </td><td class="gray_option_t2">
                                                    450.00
                                                </td><td class="gray_option_t2">
                                                    9760.00
                                                </td><td class="gray_option_t2">
                                                    GOLD
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1PC12">
                                                    AG EHNC RO+UV WP NEW-12 MTHS PLATINUM AM
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    6160.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    5910.00
                                                </td><td class="gray_option_t2">
                                                    PLATINUM
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRUV1C12">
                                                    AG ENHANCE RO+UV (NEW)-12 MTH SILVER AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    4830.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    4580.00
                                                </td><td class="gray_option_t2">
                                                    SILVER
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRUV1C24">
                                                    AG ENHANCE RO+UV (NEW)-24 MTH SILVER AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    24
                                                </td><td class="gray_option_t2">
                                                    9050.00
                                                </td><td class="gray_option_t2">
                                                    450.00
                                                </td><td class="gray_option_t2">
                                                    8600.00
                                                </td><td class="gray_option_t2">
                                                    SILVER
                                                </td>
		</tr>
	</tbody></table>
</div>
                                </div>
                                <div id="dvNodiscount" style="display: none">
                                    <div>

</div>
                                </div>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$hdnoption" id="ContentPlaceHolder1_hdnoption">
                                
                            </div>
                            <div id="ContentPlaceHolder1_dvCTA" style="padding-top: 28px;">
                                <div class="option_disclaimer">
                                    <strong>Disclaimer:</strong> Online purchase of AMC is subject to physical verification
                                    of the unit by an authorized Eureka Forbes technician. Eureka Forbes reserves the
                                    right to cancel the online AMC and refund the amount.
                                </div>
                                <div style="margin: 0 0 10px; color: #666;">
                                    <input id="ContentPlaceHolder1_chkdisclaimer" type="checkbox" name="ctl00$ContentPlaceHolder1$chkdisclaimer"><label for="ContentPlaceHolder1_chkdisclaimer">By purchasing/renewing the AMC on the web, I agree
                                        to the terms and conditions of the Service Contract.</label>&nbsp;&nbsp;<a href="/BuyAMC/AMC_TnC.htm" class="prop_tnc">Click here</a> to view the terms and conditions.</div>
                                <div style="padding-top: 10px; clear: both;">
                                    <a onclick=" return showmsg();" id="ContentPlaceHolder1_lnkCreateAMC" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkCreateAMC", "", true, "valAMC", "", false, true))'>Create AMC <img src="/images/list_icon.png" align="absmiddle" style="padding:0;"></a>
                                    <span id="ContentPlaceHolder1_CustomValidator1" style="display:none;"></span>
                                    <div id="ContentPlaceHolder1_valsum" style="display:none;">

</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="amc_maine">
                <div class="contract_amc">
                    <div class="amc_cont_two">
                        <div class="amc_left_title">
                            <h2>
                                Create Online AMC</h2>
                        </div>
                        <div style="float: right; margin: -25px 0 0;">
                            <a class="button" href="/AMC-Account-Details">
                                <img src="/images/back_icon.png" alt="<< " style="padding: 0;">Back</a></div>
                        <div class="components_details">
                            <div class="comp_title">
                                Component AMC Details</div>
                            <div class="comp_cont">
                                <div class="com_con_right">
                                    
                                    <img src="/images/no-img.png" alt="xx" onerror="this.onerror=null;this.src='/images/no-img.png';">
                                </div>
                                <div class="com_con_left">
                                    <div class="product_det">
                                        <label>
                                            Component AMC Details:</label><span>000000000025344745</span></div>
                                    <div class="product_det">
                                        <label>
                                            Product Code:</label><span>GWPDENRUV10000</span></div>
                                    <div class="product_det">
                                        <label>
                                            Product Description:</label><span>
                                                AG ENHANCE RO + UV WP SYSTEM (NEW)
                                            </span>
                                    </div>
                                    <div class="product_det">
                                        <label>
                                            Located At:</label><span>NA</span></div>
                                    <div class="product_det">
                                        <label>
                                            Serial Number:</label><span>001226303146047788</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC No:</label><span>0026067943</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC Status:</label><span>Out of Contract</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC Start Date:</label><span>28/04/2014</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC End Date:</label><span>27/04/2015</span></div>
                                </div>
                            </div>
                            <div class="comp_cont2">
                                <div class="com_con_left">
                                    <div class="product_det">
                                        <label>
                                            Online AMC Creation Possible From:</label><span>18/04/2016</span></div>
                                    <div class="product_det">
                                        <label>
                                            Online AMC Creation Possible Today:</label><span>Yes</span></div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="amc_options">
                            <div class="comp_title">
                                Available AMC Options</div>
                            <div class="amc_gray_option">
                                <div id="dvwithdiscount" style="display: block;">
                                    <div>
	<table cellspacing="5" cellpadding="4" rules="all" border="1" id="ContentPlaceHolder1_grdPrice" style="width:100%;">
		<tbody><tr>
			<th class="gray_option_t1" scope="col" style="height:25px;">Description</th><th class="gray_option_t1" scope="col" style="height:25px;">Contract Duration</th><th class="gray_option_t1" scope="col" style="height:25px;">Price</th><th class="gray_option_t1" scope="col" style="height:25px;">Discount</th><th class="gray_option_t1" scope="col" style="height:25px;">Amount Payable</th><th class="gray_option_t1" scope="col" style="height:25px;">Category</th>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1GC12">
                                                    AG EHNC RO+UV WP SYS NEW-1YEAR GOLD AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    5450.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    5200.00
                                                </td><td class="gray_option_t2">
                                                    GOLD
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1GC24">
                                                    AG EHNC RO+UV WP SYS NEW-2YEARS GOLD AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    24
                                                </td><td class="gray_option_t2">
                                                    10210.00
                                                </td><td class="gray_option_t2">
                                                    450.00
                                                </td><td class="gray_option_t2">
                                                    9760.00
                                                </td><td class="gray_option_t2">
                                                    GOLD
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1PC12">
                                                    AG EHNC RO+UV WP NEW-12 MTHS PLATINUM AM
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    6160.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    5910.00
                                                </td><td class="gray_option_t2">
                                                    PLATINUM
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRUV1C12">
                                                    AG ENHANCE RO+UV (NEW)-12 MTH SILVER AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    4830.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    4580.00
                                                </td><td class="gray_option_t2">
                                                    SILVER
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRUV1C24">
                                                    AG ENHANCE RO+UV (NEW)-24 MTH SILVER AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    24
                                                </td><td class="gray_option_t2">
                                                    9050.00
                                                </td><td class="gray_option_t2">
                                                    450.00
                                                </td><td class="gray_option_t2">
                                                    8600.00
                                                </td><td class="gray_option_t2">
                                                    SILVER
                                                </td>
		</tr>
	</tbody></table>
</div>
                                </div>
                                <div id="dvNodiscount" style="display: none">
                                    <div>

</div>
                                </div>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$hdnoption" id="ContentPlaceHolder1_hdnoption">
                                
                            </div>
                            <div id="ContentPlaceHolder1_dvCTA" style="padding-top: 28px;">
                                <div class="option_disclaimer">
                                    <strong>Disclaimer:</strong> Online purchase of AMC is subject to physical verification
                                    of the unit by an authorized Eureka Forbes technician. Eureka Forbes reserves the
                                    right to cancel the online AMC and refund the amount.
                                </div>
                                <div style="margin: 0 0 10px; color: #666;">
                                    <input id="ContentPlaceHolder1_chkdisclaimer" type="checkbox" name="ctl00$ContentPlaceHolder1$chkdisclaimer"><label for="ContentPlaceHolder1_chkdisclaimer">By purchasing/renewing the AMC on the web, I agree
                                        to the terms and conditions of the Service Contract.</label>&nbsp;&nbsp;<a href="/BuyAMC/AMC_TnC.htm" class="prop_tnc">Click here</a> to view the terms and conditions.</div>
                                <div style="padding-top: 10px; clear: both;">
                                    <a onclick=" return showmsg();" id="ContentPlaceHolder1_lnkCreateAMC" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkCreateAMC", "", true, "valAMC", "", false, true))'>Create AMC <img src="/images/list_icon.png" align="absmiddle" style="padding:0;"></a>
                                    <span id="ContentPlaceHolder1_CustomValidator1" style="display:none;"></span>
                                    <div id="ContentPlaceHolder1_valsum" style="display:none;">

</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="amc_maine">
                <div class="contract_amc">
                    <div class="amc_cont_two">
                        <div class="amc_left_title">
                            <h2>
                                Create Online AMC</h2>
                        </div>
                        <div style="float: right; margin: -25px 0 0;">
                            <a class="button" href="/AMC-Account-Details">
                                <img src="/images/back_icon.png" alt="<< " style="padding: 0;">Back</a></div>
                        <div class="components_details">
                            <div class="comp_title">
                                Component AMC Details</div>
                            <div class="comp_cont">
                                <div class="com_con_right">
                                    
                                    <img src="/images/no-img.png" alt="xx" onerror="this.onerror=null;this.src='/images/no-img.png';">
                                </div>
                                <div class="com_con_left">
                                    <div class="product_det">
                                        <label>
                                            Component AMC Details:</label><span>000000000025344745</span></div>
                                    <div class="product_det">
                                        <label>
                                            Product Code:</label><span>GWPDENRUV10000</span></div>
                                    <div class="product_det">
                                        <label>
                                            Product Description:</label><span>
                                                AG ENHANCE RO + UV WP SYSTEM (NEW)
                                            </span>
                                    </div>
                                    <div class="product_det">
                                        <label>
                                            Located At:</label><span>NA</span></div>
                                    <div class="product_det">
                                        <label>
                                            Serial Number:</label><span>001226303146047788</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC No:</label><span>0026067943</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC Status:</label><span>Out of Contract</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC Start Date:</label><span>28/04/2014</span></div>
                                    <div class="product_det">
                                        <label>
                                            AMC End Date:</label><span>27/04/2015</span></div>
                                </div>
                            </div>
                            <div class="comp_cont2">
                                <div class="com_con_left">
                                    <div class="product_det">
                                        <label>
                                            Online AMC Creation Possible From:</label><span>18/04/2016</span></div>
                                    <div class="product_det">
                                        <label>
                                            Online AMC Creation Possible Today:</label><span>Yes</span></div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="amc_options">
                            <div class="comp_title">
                                Available AMC Options</div>
                            <div class="amc_gray_option">
                                <div id="dvwithdiscount" style="display: block;">
                                    <div>
	<table cellspacing="5" cellpadding="4" rules="all" border="1" id="ContentPlaceHolder1_grdPrice" style="width:100%;">
		<tbody><tr>
			<th class="gray_option_t1" scope="col" style="height:25px;">Description</th><th class="gray_option_t1" scope="col" style="height:25px;">Contract Duration</th><th class="gray_option_t1" scope="col" style="height:25px;">Price</th><th class="gray_option_t1" scope="col" style="height:25px;">Discount</th><th class="gray_option_t1" scope="col" style="height:25px;">Amount Payable</th><th class="gray_option_t1" scope="col" style="height:25px;">Category</th>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1GC12">
                                                    AG EHNC RO+UV WP SYS NEW-1YEAR GOLD AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    5450.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    5200.00
                                                </td><td class="gray_option_t2">
                                                    GOLD
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1GC24">
                                                    AG EHNC RO+UV WP SYS NEW-2YEARS GOLD AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    24
                                                </td><td class="gray_option_t2">
                                                    10210.00
                                                </td><td class="gray_option_t2">
                                                    450.00
                                                </td><td class="gray_option_t2">
                                                    9760.00
                                                </td><td class="gray_option_t2">
                                                    GOLD
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRU1PC12">
                                                    AG EHNC RO+UV WP NEW-12 MTHS PLATINUM AM
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    6160.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    5910.00
                                                </td><td class="gray_option_t2">
                                                    PLATINUM
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRUV1C12">
                                                    AG ENHANCE RO+UV (NEW)-12 MTH SILVER AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    12
                                                </td><td class="gray_option_t2">
                                                    4830.00
                                                </td><td class="gray_option_t2">
                                                    250.00
                                                </td><td class="gray_option_t2">
                                                    4580.00
                                                </td><td class="gray_option_t2">
                                                    SILVER
                                                </td>
		</tr><tr>
			<td class="gray_option_t3">
                                                    <input type="radio" class="rbtn" name="group1" value="ENRUV1C24">
                                                    AG ENHANCE RO+UV (NEW)-24 MTH SILVER AMC
                                                    <br>
                                                    <span class="gray_option_t4"><a href="/BuyAMC/AMC_Plans.htm" class="prop_amcplans">View Details</a></span>
                                                </td><td class="gray_option_t2">
                                                    24
                                                </td><td class="gray_option_t2">
                                                    9050.00
                                                </td><td class="gray_option_t2">
                                                    450.00
                                                </td><td class="gray_option_t2">
                                                    8600.00
                                                </td><td class="gray_option_t2">
                                                    SILVER
                                                </td>
		</tr>
	</tbody></table>
</div>
                                </div>
                                <div id="dvNodiscount" style="display: none">
                                    <div>

</div>
                                </div>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$hdnoption" id="ContentPlaceHolder1_hdnoption">
                                
                            </div>
                            <div id="ContentPlaceHolder1_dvCTA" style="padding-top: 28px;">
                                <div class="option_disclaimer">
                                    <strong>Disclaimer:</strong> Online purchase of AMC is subject to physical verification
                                    of the unit by an authorized Eureka Forbes technician. Eureka Forbes reserves the
                                    right to cancel the online AMC and refund the amount.
                                </div>
                                <div style="margin: 0 0 10px; color: #666;">
                                    <input id="ContentPlaceHolder1_chkdisclaimer" type="checkbox" name="ctl00$ContentPlaceHolder1$chkdisclaimer"><label for="ContentPlaceHolder1_chkdisclaimer">By purchasing/renewing the AMC on the web, I agree
                                        to the terms and conditions of the Service Contract.</label>&nbsp;&nbsp;<a href="/BuyAMC/AMC_TnC.htm" class="prop_tnc">Click here</a> to view the terms and conditions.</div>
                                <div style="padding-top: 10px; clear: both;">
                                    <a onclick=" return showmsg();" id="ContentPlaceHolder1_lnkCreateAMC" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkCreateAMC", "", true, "valAMC", "", false, true))'>Create AMC <img src="/images/list_icon.png" align="absmiddle" style="padding:0;"></a>
                                    <span id="ContentPlaceHolder1_CustomValidator1" style="display:none;"></span>
                                    <div id="ContentPlaceHolder1_valsum" style="display:none;">

</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>