<div class="amc_maine">
                <div class="contract_amc">
                    <div class="online_amc_one">
                        <div class="contract_amc_right2">
                            <img src="/images/online_amc.jpg" alt=""></div>
                        <div class="contract_amc_left">
                            <div class="amc_left_title">
                                <h2>
                                    Create Online AMC</h2>
                            </div>
                            <div class="amc_accountdetail">
                                <div class="amc_accountdetail_tit">
                                    Your Account Details</div>
                                <div class="amc_accountdetail_con">
                                    <div class="ac_row1">
                                        <label>
                                            Customer Code:</label>
                                        <span>
                                            1011019529</span></div>
                                    <div class="ac_row1">
                                        <label>
                                            Name:</label>
                                        <span>
                                            DASARATHA REDDY </span></div>
                                    <div class="ac_row1">
                                        <label>
                                            Landline:</label>
                                        <span>
                                            NA</span></div>
                                    <div class="ac_row1">
                                        <label>
                                            Email:</label>
                                        <span>
                                            arun@jomaange.com&nbsp; <a href="javasript:void(0);" class="lnkupdemail">Update</a></span>
                                        <div class="updemail">
                                            <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" value="Email Id" maxlength="60" id="ContentPlaceHolder1_txtEmail" onfocus="if(this.value == 'Email Id')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Email Id') this.value='Email Id'" style="width:125px;">
                                            <a id="ContentPlaceHolder1_lnkupdEmail" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkupdEmail", "", true, "EmailVal", "", false, true))'>Submit</a>
                                            <span id="ContentPlaceHolder1_RfvEmail" style="color:Red;display:none;"></span>
                                            <span id="ContentPlaceHolder1_RxvEmail" style="color:Red;display:none;"></span>
                                            <div id="ContentPlaceHolder1_ValSummary" style="color:Red;display:none;">

</div>
                                        </div>
                                    </div>
                                    <div class="ac_row1">
                                        <label>
                                            Mobile No:</label>
                                        <span>
                                            9008430222&nbsp; <a href="javasript:void(0);" class="lnkupdmob">Update</a></span>
                                        <div class="updmob">
                                            <input name="ctl00$ContentPlaceHolder1$txtMobile" type="text" value="Mobile No." maxlength="60" id="ContentPlaceHolder1_txtMobile" onfocus="if(this.value == 'Mobile No.')this.value=''" onblur="if(this.value=='' &amp;&amp; this.value!='Mobile No.') this.value='Mobile No.'" style="width:125px;">
                                            <a id="ContentPlaceHolder1_lnkupdMob" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnkupdMob", "", true, "MobVal", "", false, true))'>Submit</a>
                                            <span id="ContentPlaceHolder1_RfvMobile" style="color:Red;display:none;"></span>
                                            <span id="ContentPlaceHolder1_RxvMobile" style="color:Red;display:none;"></span>
                                            <div id="ContentPlaceHolder1_valsummob" style="color:Red;display:none;">

</div>

                                        </div>
                                    </div>
                                    <div class="ac_row1">
                                        <label>
                                            Address:</label>
                                        <span>
                                            82, OLD CHENNASANDRA ROAD, DODDA BANASAWADI, NEAR KAVARI TANK, ARUN@JOMAANGE.COM</span></div>
                                    <div class="ac_row1">
                                        <label>
                                            City:</label>
                                        <span>
                                            BANGALORE</span></div>
                                    <div class="ac_row1">
                                        <label>
                                            Region:</label>
                                        <span>
                                            Karnataka, INDIA</span></div>
                                    <div class="ac_row1">
                                        <label>
                                            Pincode:</label>
                                        <span>
                                            560043</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="online_amc_two">
                        <div class="amc_accountdetail_tit">
                            Your Product Details</div>
                        
                        <ul>
                            
                                    <li>
                                        <div class="online_det">
                                            <div class="product_det">
                                                <label>
                                                    Component Number:</label><span>000000000025344745</span></div>
                                            <div class="product_det">
                                                <label>
                                                    Product Code:</label><span>GWPDENRUV10000</span></div>
                                            <div class="product_det">
                                                <label>
                                                    Product Description:</label><span>AG ENHANCE RO + UV WP SYSTEM (NEW)</span></div>
                                            <div class="product_det" style="margin-top: 8px;">
                                                <label>
                                                    Located at:</label><span>
                                                        NA
                                                    </span>
                                            </div>
                                            <div class="product_det">
                                                <label>
                                                    Serial No:</label><span>001226303146047788</span></div>
                                            <div class="product_det">
                                                <label>
                                                    AMC No:</label><span>0026067943</span></div>
                                            <div class="product_det">
                                                <label>
                                                    AMC Status:</label><span>Out of Contract</span></div>
                                            <div class="product_det">
                                                <label>
                                                    AMC Start Date:</label><span>28/04/2014</span></div>
                                            <div class="product_det">
                                                <label>
                                                    AMC End Date:</label><span>27/04/2015</span></div>
                                            <div class="product_det_two">
                                                <a href="AMC-Details?id=1" class="button">View AMC Options</a></div>
                                        </div>
                                    </li>
                                
                        </ul>
                        
                        <span id="ContentPlaceHolder1_lblmsg"></span>
                    </div>
                </div>
            </div>