<div class="main_cont ">
                <div class="main_inr">
                    
    <div id="content" style="z-index: 999;">
        <div class="tabMain">
            <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td align="center">
                            <h3>
                                <span id="ContentPlaceHolder1_lblmessage">Your request for AMC could not be created successfully. Please try again later.</span></h3>
                            <p class="astsc">Should you require any further assistance, please write to us on <a href="mailto:shopping@eurekaforbes.com">shopping@eurekaforbes.com</a> or call us on 022-30454001</p>
                            <a id="ContentPlaceHolder1_lnkGeneratePDF" class="button " href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkGeneratePDF','')" style="display:none;">Download eReceipt</a>
                            
                            <a href="javascript:void(0);" id="ContentPlaceHolder1_lnkemail" class="button leftbutton" style="display:none;">Email eReceipt</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdnmailid" id="ContentPlaceHolder1_hdnmailid">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody></table>
            </div>
            <div id="dvemail" align="center" style="display: none; margin: 20px auto 0; border: 1px solid #ccc;
                padding: 0 0 10px; width: 291px;height:91px;">
                <h3 style="margin-bottom: 10px;">
                    Please enter your email id.</h3>
                <input name="ctl00$ContentPlaceHolder1$txtemail" type="text" maxlength="80" id="ContentPlaceHolder1_txtemail" class="txtdvEmail-input" style="width:180px;">
                <span id="ContentPlaceHolder1_rfvemail" style="display:none;"></span>
                <span id="ContentPlaceHolder1_regexnewEmail" style="display:none;"></span>
                &nbsp;&nbsp;

                <div style="margin-top:8px;float:left;margin-left:6px;">
                <a id="ContentPlaceHolder1_lnksendmail" class="button" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lnksendmail", "", true, "valmail", "", false, true))'>Send</a>
                <div id="ContentPlaceHolder1_valsumemail" style="display:none;">

</div>
                </div>
                
            </div>
            <div align="center">
                <span id="ContentPlaceHolder1_lblmsg"></span></div>
        </div>
    </div>

                </div>
            </div>