<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<div class="tabberlive">
    <ul class="tabbernav">
        <li class="tab1"><a class="selected" title="tab" href="#water_purifier_new"><?php echo $this->__('Water Purifier') ?></a></li>
        <li class="tab2"><a title="tab" href="#vaccum_cleaner_new"><?php echo $this->__('Vaccum Cleaner') ?></a></li>
        <li class="tab3"><a title="tab" href="#air_purifier_new"><?php echo $this->__('Air Purifier') ?></a></li>
        <li class="tab4"><a title="tab" href="#lifestyle_olutions_new"><?php echo $this->__('Lifestyle Solutions') ?></a></li>
    </ul>
</div>
<div class="new-products">
    <?php $_productCollection = $this->getProductCollection() ?>
    <?php if (!$_productCollection->count()): ?>
        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>

        <?php
        $waterpurifier = array();
        $vaccumcleaner = array();
        $airpurifier = array();
        $lifestyleSolution = array();
        foreach ($_productCollection->getItems() as $_product):
            foreach ($_product->getCategoryIds() as $_products):

                if ($_products == 3) :
                    array_push($waterpurifier, $_product);
                elseif ($_products == 4):
                    array_push($vaccumcleaner, $_product);
                elseif ($_products == 5):
                    array_push($airpurifier, $_product);
                elseif ($_products == 6):
                    array_push($lifestyleSolution, $_product);
                endif;
            endforeach;
        endforeach;
        ?>
        <?php if (count($waterpurifier) > 0): ?>
            <div id="water_purifier_new" style="display: block;">        
                <?php $_collectionSize = count($waterpurifier) ?>
                <?php
                $sliderFor = 6;
                $productCount = $_collectionSize;
                ?>	
                <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
                <?php endif; ?>	 

                <ul class="<?php if ($productCount >= $sliderFor) { ?>product-carousel<?php } else { ?>products-grid<?php } ?>" id="<?php if ($productCount >= $sliderFor) { ?>newproduct-carousel<?php } else { ?>newproduct-grid<?php } ?>"> 
                    <?php
                    $i = 0;
                    foreach ($waterpurifier as $_product): $i++;
                        //var_dump($_product->getCategoryIds()); die;
                        ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

                                    <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                    <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>   

                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>  

                                    </div> 

                                    <h2 class="product-name" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2> 

                                    <?php echo $this->getPriceHtml($_product, true) ?> 

                                    <?php if ($_product->getRatingSummary()): ?>
                                        <div class="description grid_rating">
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                        </div>
                                    <?php endif; ?>
                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->			
                        </li>

                    <?php endforeach ?>

                </ul>
            </div>  
        <?php else: ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php endif; ?>   

        <?php if (count($vaccumcleaner) > 0): ?>
            <div id="vaccum_cleaner_new" style="display: none;">        
                <?php $_collectionSize = count($vaccumcleaner) ?>
                <?php
                $sliderFor = 6;
                $productCount = $_collectionSize;
                ?>	
                <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
                <?php endif; ?>	 

                <ul class="<?php if ($productCount >= $sliderFor) { ?>product-carousel<?php } else { ?>products-grid<?php } ?>" id="<?php if ($productCount >= $sliderFor) { ?>newproduct-carousel<?php } else { ?>newproduct-grid<?php } ?>"> 
                    <?php
                    $i = 0;
                    foreach ($vaccumcleaner as $_product): $i++;
                        //var_dump($_product->getCategoryIds()); die;
                        ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

                                    <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                    <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>   

                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>  

                                    </div> 

                                    <h2 class="product-name" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2> 

                                    <?php echo $this->getPriceHtml($_product, true) ?> 

                                    <?php if ($_product->getRatingSummary()): ?>
                                        <div class="description grid_rating">
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                        </div>
                                    <?php endif; ?>
                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->			
                        </li>

                    <?php endforeach ?>

                </ul>
            </div>  
        <?php else: ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php endif; ?> 

        <?php if (count($airpurifier) > 0): ?>
            <div id="air_purifier_new" style="display: none;">        
                <?php $_collectionSize = count($airpurifier) ?>
                <?php
                $sliderFor = 6;
                $productCount = $_collectionSize;
                ?>	
                <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
                <?php endif; ?>	 

                <ul class="<?php if ($productCount >= $sliderFor) { ?>product-carousel<?php } else { ?>products-grid<?php } ?>" id="<?php if ($productCount >= $sliderFor) { ?>newproduct-carousel<?php } else { ?>newproduct-grid<?php } ?>"> 
                    <?php
                    $i = 0;
                    foreach ($airpurifier as $_product): $i++;
                        //var_dump($_product->getCategoryIds()); die;
                        ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

                                    <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                    <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>   

                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>  

                                    </div> 

                                    <h2 class="product-name" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2> 

                                    <?php echo $this->getPriceHtml($_product, true) ?> 

                                    <?php if ($_product->getRatingSummary()): ?>
                                        <div class="description grid_rating">
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                        </div>
                                    <?php endif; ?>
                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->			
                        </li>

                    <?php endforeach ?>

                </ul>
            </div>  
        <?php else: ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php endif; ?> 

        <?php if (count($lifestyleSolution) > 0): ?>
            <div id="lifestyle_olutions_new" style="display: none;">        
                <?php $_collectionSize = count($lifestyleSolution) ?>
                <?php
                $sliderFor = 6;
                $productCount = $_collectionSize;
                ?>	
                <?php if ($productCount >= $sliderFor): ?>
                    <div class="customNavigation">
                        <a class="btn prev">&nbsp;</a>
                        <a class="btn next">&nbsp;</a>
                    </div>	
                <?php endif; ?>	 

                <ul class="<?php if ($productCount >= $sliderFor) { ?>product-carousel<?php } else { ?>products-grid<?php } ?>" id="<?php if ($productCount >= $sliderFor) { ?>newproduct-carousel<?php } else { ?>newproduct-grid<?php } ?>"> 
                    <?php
                    $i = 0;
                    foreach ($lifestyleSolution as $_product): $i++;
                        //var_dump($_product->getCategoryIds()); die;
                        ?>

                        <li class="item <?php if ($productCount >= $sliderFor) { ?>slider-item<?php } else { ?>product-items<?php } ?>">
                            <div class="product-block">
                                <div class="product-block-inner">

                                    <?php if ($this->helper('framework')->isNewProduct($_product)): ?>
                                        <div class="new-label"><?php echo $this->__('New') ?></div>
                                    <?php endif; ?>

                                    <?php if ($this->helper('framework')->isSpecialProduct($_product)): ?>
                                        <div class="sale-label"><?php echo $this->__('Sale') ?></div>
                                    <?php endif; ?>

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>


                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>   

                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>  

                                    </div> 

                                    <h2 class="product-name" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2> 

                                    <?php echo $this->getPriceHtml($_product, true) ?> 

                                    <?php if ($_product->getRatingSummary()): ?>
                                        <div class="description grid_rating">
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                        </div>
                                    <?php endif; ?>
                                </div><!-- End div class product-block-->
                            </div><!-- End div class product-block-inner -->			
                        </li>

                    <?php endforeach ?>

                </ul>
            </div>  
        <?php else: ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php endif; ?> 
        <span style="display: none; visibility: hidden;" class="newproduct_default_width"></span>

    <?php endif; ?>

</div>